[2019-09-03 20:13] bdresser commented on #138
@bdresser to come up with
(a) categories of error
(b) a list of flows where these errors could be useful

[2019-09-04 01:51] cjeria commented on #38
Posting latest Approve screen designs.

Questions we had while designing these screens
https://docs.google.com/document/d/1bfIWUW0D50EHmkmWMj1-np-gsxPqeiDhUW7z-o8KpNg

and insights doc per @omnat's usability testing (incomplete)
https://docs.google.com/document/d/1bdfhSrqIOF3S01mjVE8OK6uGmQFTm555CvKs70tfux4/edit#heading=h.r87dcwaa4fev

![image](https://user-images.githubusercontent.com/597770/6421

[2019-09-04 16:36] chriskalani commented on #38
Curious why you opted for a 2-step flow here instead of 1? Seems like the message in the first window could easily fit in screen 2. We should really try to reduce clicks if possible, especially when you consider that dApps already have an unnecessary amount of friction.

[2019-09-04 18:35] cjeria commented on #58
That's correct! I left notes in the Figma file around the behavior of this feature. Let me know if you have any questions!

https://www.figma.com/file/CvD7nhQVeSEB1QuSy3XhtY/oCap-Testing-Flow?node-id=378%3A4527

![image](https://user-images.githubusercontent.com/597770/64281384-05d18b80-cf21-11e9-9ac2-c4c2730e23a1.png)

[2019-09-04 23:49] cjeria commented on #38
Thanks for the feedback @chriskalani. Below I've added some insights our researcher @omnat has gathered so far for context on these new designs.

I've also seen, through usability studies, that some users (newbs) don't read through this screen so a bit of extra friction here isn't such a bad thing IMO. It's an opportunity to educate users on the implications of this (potentially dangerous) functio

[2019-09-04 23:57] chriskalani commented on #38
This is what I mean:

<img width="400" alt="approve screen" src="https://user-images.githubusercontent.com/263522/64301734-0d029480-cf35-11e9-96a0-b7c144ed90c0.png">

[2019-09-05 17:22] bdresser opened #145 "Update to Connext v2"
Slightly different technical implementation that may require some design changes. Upgrading early may let us have some sway over the way this version works / is implemented.

@brunobar79 to add details

[2019-09-05 17:24] bdresser commented on #116
@cjeria to link most updated version (with new center-aligned screen) and copy wizards to do the copy :)

[2019-09-05 20:53] cjeria commented on #116
This was referring to the order of the two CTA's on this screen:
![image](https://user-images.githubusercontent.com/597770/64379630-53232b00-cffd-11e9-9209-b7e7e2d9f0f5.png)

I had also suggested a third option (below), but the same question as above remains.
<img src="https://user-images.githubusercontent.com/597770/64379698-7352ea00-cffd-11e9-95e4-656b59dc3421.png" width="200" height="350">

Her

[2019-09-05 22:12] cjeria commented on #38
Nice. This is similar to other one-step designs we've previously explored. I think it's a good compromise for now. If users are wondering why there's a tx fee, they can click the "learn why" link to expand a tooltip (could use a copy edit pass @rachelcope).

Check out the updated version below.
![image](https://user-images.githubusercontent.com/597770/64386906-6091e280-d008-11e9-9812-20882f980994.

[2019-09-06 22:19] rachelcope commented on #116
@cjeria @bdresser  +1 for primary CTA on the top. This seems to be the most common pattern used by other applications for signup and brings immediate focus to the primary call to action

I also made several copy suggestions in Figma for simplifying and making the content more action-oriented

[2019-09-11 17:15] bdresser commented on #145
specifically, connext V2 will require using a different address for instapay (rather than using the same address as the user's main wallet) -- up to us how we want to explain/design around this.

[2019-09-11 22:05] cjeria commented on #90
Here's a new design for the simplex page. I also received confirmation from @danjm that account switching within this page will not be possible.

I did a lil competitive analysis and referenced Dapper's version of their simplex page. I took some notes on a screenshot of their page (attached below) and had some additional questions.

Here's the latest design iteration: [Figma](https://www.figma.com

[2019-09-11 22:21] bdresser commented on #90
they've told me the header is mandatory. not sure the details of how this integration is built; i can ask the simplex team if you'd like

sure thing. our details are slightly different - i believe it's 3.5% simplex, 1.5% us, but jason can confirm. i would be cool with a generalized text that says "there's a 5% fee"

yup this is nice! i think this could also live on the previous screen, where the u

[2019-09-11 23:18] cjeria commented on #90
Once these final tweaks are made, it's possible to just show them the mockup and get any final feedback from them.

[2019-09-12 00:21] cjeria commented on #90
Ok, so here's an updated version. Based on how I've seen other implementations of this page work (abra, dapper) the idea is that the user could insert an amount in ETH or USD and the fee will be calculated below the USD field.

The tooltip here shows a breakdown of the fee structure. I added the 1.5% line in there for transparency as our users might appreciate knowing but not opposed to removing i

[2019-09-12 17:13] cjeria commented on #38
Some copy edits and minor tweaks in this latest version. Ready for dev hand-off.

![image](https://user-images.githubusercontent.com/597770/64805422-08eefc00-d55f-11e9-9146-4f2f0ce2662c.png)

[2019-09-17 16:14] rachelcope commented on #115
Expanded View
- [ ] Add Connected Sites link
- [ ] Design Connected Sites popup
@rachelcope

[2019-09-17 20:04] omnat commented on #113
Sprint 21 plan:

- [ ] 1 interview - Axie Infinity (if their team can find a suitable scheduling time)
- [ ] Next steps for Permissions design -- Envisioned dapp experience with ocap first permissions (compared to as-is version)
- [ ] Analysis so far here: https://docs.google.com/presentation/d/18uGiexcjh4tewxfOTd_a8O18qYdY6X0vvOCOvNpY_Ww/edit#slide=id.g3404e19eea_0_20 Present it to the team

[2019-09-17 20:08] omnat commented on #38
Update
- [x] Adding contract address details to Permission Request section
- [x] Deleting the 0.00 amount detail
@cjeria

[2019-09-17 20:11] omnat commented on #138
Sprint 21: Discuss this one at the retreat

[2019-09-17 20:12] omnat commented on #126
Sprint 21:
- [x] CJ having call with Esteban and Bruno to transfer extension designs to mobile

[2019-09-17 20:15] omnat commented on #58
Update before dev handoff:

- [x] On Connect request screen, update checkboxes to standard ones
- [x] Update this checkboxes in design system too

@rachelcope

[2019-09-18 19:40] cjeria commented on #126
Had a good call with the mobile devs today -  notes below. I also did some prior send flow pattern research, looking at how other apps implement contact list in send flows you can see [here](https://www.figma.com/file/DX3yjM7Rc2UzSRBgDL7RWN/Mobile-Contacts?node-id=10%3A32).

### Contact list In the send flow updates:
- Keep the network in top bar, as implemented (no switching ability)
- Display th

[2019-09-18 19:58] omnat commented on #126
One thing Rachel and I noticed today in the Send flow in extension.. perhaps good to re-consider for mobile too.

In the flow of 'Transfer between accounts', the chosen `from` account is also given as an option to select for `to` address. I believe there's no use-case when someone would want to send from Account 1 to Account 1, so we could help prevent an error here.

So, in the list of accounts,

[2019-09-19 17:55] cjeria commented on #126
Yes, we touched on this during design hand-off for the extension and I think it's a good constraint to add. I'll make a call out in the designs about it. We may also want to do that for the extension cc  @bdresser WDYT?

[2019-09-22 17:23] danfinlay opened #146 "Allow obscuring a seed phrase being entered"
Like you would a password:

https://twitter.com/paulrberg/status/1175815439668142080?s=21

[2019-09-30 17:25] rachelcope commented on #139
Figma Design for proposed transaction history: https://www.figma.com/file/xyDiUxhOnIL8bnewF7jhnz/Transaction-Content?node-id=0%3A1

Content / Use cases: https://docs.google.com/spreadsheets/d/19c3q1bz5Wz2iMd-ITpOjJTXNkJeu14ZoS_H1aV-timM/edit#gid=1528400304

[2019-09-30 19:02] omnat commented on #115
Next step (week of Sept 30)
- [ ] Schedule call with dev for hand-off @rachelcope

[2019-09-30 19:03] omnat commented on #90
Do we have any feedback on this from Simplex team @bdresser ?

[2019-09-30 19:08] omnat commented on #126
Is this update of in dev backlog for extension? @bdresser
We doing this in mobile?

For mobile, next steps (week of Sept 30):

- [ ] Add primary buttons to Send flow

- [ ] We'll show network on Amount tx screen, and which account you are sending the tx from

- [ ] Add token switcher within the send flow

A future thing to consider is a custom keyboard (issue created for this already in mobile dev

[2019-09-30 19:20] benjaminaaron commented on #126
I love the new Contacts feature in the extension! It would be super useful to be able to sync it with mobile  💻🔄📱Is that planned by any chance?

As a DApp developer I would love to be able to have a way to use the contacts throughout Browser-DApps as well. Not just for sending transactions but as parameters for calling smart contract functions. Something like long/right-press on a text field and a

[2019-09-30 19:27] omnat commented on #139
Next steps (sprint of 30 Sept):

- [ ] Add new icons for tx history in design system
- [ ] Get answers to some open questions
- [ ] Interaction design exploration for progressive reveal of txs
- [ ] Schedule a hand-off meeting

[2019-09-30 19:33] omnat commented on #138
Sprint Sept 30 @bdresser I totally forgot to talk about this at retreat. Where's this at? Should we plan it for this week, or keep for post devcon sprint?
We aren't planning this for now, maybe this makes to sprint work at the end of week design sync (thursday)

[2019-09-30 19:35] omnat commented on #113
Omna to use Devcon for semi-structured informal convos on this + getting contacts for post devcon.

Christian, Omna - do the envisioned flow of a dapp with good UX during devcon, and post.

[2019-09-30 19:52] omnat opened #147 "Design QA [S22]"
- [ ] One-click onboarding
- [x] Editable nonce
- [ ] Approve screen (PR ready to be QA'd)

[2019-10-01 17:18] cjeria commented on #58
Updated! Link to the latest designs [here](https://www.figma.com/file/C8eyTO2iUZc4O83Nd5XsM7yv/oCap-Login-Per-Site?node-id=614%3A7405)

[2019-10-01 17:22] cjeria commented on #38
All set! Here's a screenshot of the latest updates and direct link to the [designs](https://www.figma.com/file/Emfl6CRPRtuQtzJEOJJ3hy/Approve-Screen?node-id=721%3A34)

![image](https://user-images.githubusercontent.com/597770/65984701-29f78e00-e435-11e9-8f8d-b4f7e883686f.png)

[2019-10-01 18:40] danfinlay opened #148 "Req: Can I get a design for EIP 2255?"
Our wallet permissions system has the number EIP 2255, which is a wonderfully symmetrical number.

Could I maybe get a version of this image that includes this name, to be used fro promoting the standard?

![wallet permissions](https://ethereum-magicians.org/uploads/default/optimized/2X/f/f7b2f29144e062e330125526167bc3fa359cd7aa_2_1380x474.png)

[2019-10-01 20:03] bdresser commented on #138
happy to have a chat about it later this week but realistically we probably won't get to it until after devcon, right?

[2019-10-01 20:09] bdresser commented on #126
filed here @omnat @cjeria https://github.com/MetaMask/metamask-extension/issues/7237. i don't think this is super high priority, haven't heard any users having trouble with this, but should be simple to fix.

@benjaminaaron yes, we do plan on syncing contacts - eventually! hang tight. no plans yet to make contacts available via the ethereum provider, there's a lot of user privacy issues to think t

[2019-10-01 20:12] bdresser commented on #90
We don't need header on the first page, but it will show once we drop the user in to the simplex iFrame.

These look good to me!

[2019-10-03 21:53] #140 closed, assigned to cjeria, rachelcope

[2019-10-03 21:53] #136 closed, assigned to omnat

[2019-10-03 22:07] omnat commented on #138
(from design sync) Background reading / reference to past chats here:
https://github.com/MetaMask/metamask-mobile/issues/341

[2019-10-07 19:52] rachelcope commented on #115
Ready for development:

https://www.figma.com/file/CvD7nhQVeSEB1QuSy3XhtY/oCap-Testing-Flow?node-id=535%3A2

[2019-10-08 19:38] bdresser commented on #138
#### Summary
This project is about creating two re-usable components
* One screen for "error prevention" that we can use throughout the app as a "warning" screen.
* One screen for "error recovery" that we can use throughout the app as an "oops, something went wrong!" screen

Each case will probably have a different "suggested action" and will certainly have different copy, so leaving some flexibil

[2019-10-16 16:26] #46 closed, assigned to nobody

[2019-10-16 16:27] #53 closed, assigned to cjeria

[2019-10-16 16:29] bdresser commented on #41
Related to https://github.com/MetaMask/metamask-extension/issues/6512

[2019-10-17 09:35] danfinlay commented on #148
I went with this:

![PhotoFunia-1570654002](https://user-images.githubusercontent.com/542863/66997123-d1024800-f10c-11e9-8d70-4e8b60f854b0.jpg)

[2019-10-17 09:35] #148 closed, assigned to nobody

[2019-10-17 10:07] logvik opened #149 "New decrypt message UI"
Screenshot for https://github.com/MetaMask/metamask-extension/issues/1190#issuecomment-543091839
![decrypt_request](https://user-images.githubusercontent.com/2010097/66999589-fbd5a780-f0de-11e9-99b6-2d79b3ff2c83.jpg)

[2019-10-24 17:55] danfinlay commented on #149
Some experience questions:

- If the user approves this, the decrypted result is passed back to the requesting site? If so, we should indicate at the top "The domain X wants to decrypt a message intended for account Y"

I'm not sure showing the encrypted blob is useful! It's nearly useless by definition! Maybe parsing out that metadata a bit, to name the type of encryption, and the length of the m

[2019-10-24 17:57] danfinlay commented on #149
Rather than showing the encrypted blob, we could even have a "peek at decrypted value" button, so the user could view the decrypted message right there.

The button is more specifically about giving that data back to the site, so I'm trying to think of a good button name for that. Maybe "Approve" is fine if the initial prompt is worded well enough.

[2019-10-24 18:12] logvik commented on #149
Yes, the same as for the signing message process. But here we can add this "Note".

Agreed, then need to add an additional step -> decrypt the message -> share with the website.
Maybe for some cases will be preferably taking a look at the message right in the extension and don't share the source text.

[2019-10-24 18:52] bdresser commented on #138
Relates to https://github.com/MetaMask/metamask-extension/issues/5211

[2019-10-27 18:48] logvik commented on #149
For `encryption_public_key` method we can use the same window with changes:

**Title**: Encryption public key request

**Content**: This action will allow using the generated public key for encryption messages in Dapp. This key will be generated via your private key, but can't be used on Ethereum blockchain.

**Buttons**: Cancel / Generate

[2019-10-28 21:09] omnat opened #150 "Envisioned simplified dapp experience with permissions"
Task:
- Pick 1 or 2 dapps to map out experience with and without permissions

[2019-10-28 21:10] omnat opened #151 "Contract account plugin spec - design jam"
Purpose of this design jam: We want to do an experiment to test if integration of a plugin into Metamask is easier than natively building the feature/functionality that plugin provides to user.

For this, we take the case of contract accounts. This has proven to be difficult to integrate in the core product from Jenny’s experience - hence makes a good case to test if we can solve that challenge be

[2019-10-28 21:26] omnat opened #152 "Design QA[23]"
- [x] One-click onboarding
- [ ] Approve screen
- [ ] Fullscreen vs Pop-up A/B test
- [x] Wyre (?)
- [ ] Ocaps (LoginPerSite + Settings + Permissions)

[2019-10-28 21:31] #147 closed, assigned to cjeria, rachelcope

[2019-10-28 21:32] #115 closed, assigned to rachelcope

[2019-10-28 21:32] omnat commented on #115
Handed off to development! Will create new issue for QA when PR ready.

[2019-10-28 21:34] omnat commented on #90
Ready for development. @cjeria to hand-off in Sprint 23.

[2019-10-28 21:35] omnat commented on #138
@rachelcope to add links to the latest here.
Next steps in Sprint 23:
- go through the rest of the use-cases,
- revisit copy for errors
- address questions from design sync

[2019-10-28 21:37] omnat commented on #126
Next steps in Sprint 23:
- Updates to prototype (per Figma notes)
- Milestone to hand-off to mobile for development

[2019-10-28 21:40] omnat commented on #150
@omnat coordinate and prepare for this jam with rachel christian

[2019-10-28 21:46] omnat opened #153 "Design system prioritization / syncing with kyokan"
- Chat with Rimble
- Sync with dmiller / kyokan

[2019-10-28 23:29] omnat opened #154 "Decryption / Encryption use-case"
Scoping / briefing on Wednesday

[2019-10-30 17:33] bdresser commented on #124
low hanging fruit -- some metadata we can add to the input field so managers that are already integrated can pick up on it

[2019-10-30 18:54] logvik commented on #149
@danfinlay sorry for disturbing, but maybe you will have some a little time to review updates in PR in all subprojects?

[2019-10-30 18:55] danfinlay commented on #149
Sorry I'm so behind on emails. There are updates? Want to list out the links here for my convenience so I can knock them out quickly?

[2019-10-30 19:00] logvik commented on #149
all updates are attached to https://github.com/MetaMask/metamask-extension/issues/1190

[2019-11-12 17:34] bdresser opened #155 "Website Redesign"
[Figma here](https://www.figma.com/file/JoygUsLVgbpuMue3e9Lcbm15/Website-design-explorations?node-id=457%3A276)

@bdresser to collect headshots and job titles
@cjeria to finalize graphics

[2019-11-12 17:37] bdresser opened #156 "Support collectibles on extension"
This work has been done for mobile -- probably just a matter of retrofitting for the extension.

I don't think there are key features / flows that we should support via extension that we don't on mobile

Relates to https://github.com/MetaMask/metamask-extension/issues/5230

[2019-11-12 17:59] cjeria commented on #126
Notes from design review:
- Updates to the design need to be made per notes in the [figma file](https://www.figma.com/file/DX3yjM7Rc2UzSRBgDL7RWN/Mobile-Contacts?node-id=309%3A1)
- Feedback from Dan - display the "from" address in the send flow. How many users are mistakingly sending from the wrong account?

[2019-11-12 18:26] cjeria opened #157 "Connecting a custodial wallet (TrustVault) to MetaMask"
See this [issue](https://github.com/MetaMask/metamask-extension/issues/7278) for context.

[2019-11-12 22:03] danfinlay opened #158 "Design customizable UI for snaps "L2 Asset" use case"
The snaps system can be big and daunting, but breaking it into smaller deliverables can help us reason about it. In this issue, I will list just the design tasks required to enable a basic layer-2 asset like Starkware, Counterfactual, Unipig, or Aztec protocol. These designs may also be sufficient for supporting some other blockchains!

This will probably be our first target for a snaps UI API, an

[2019-11-12 22:58] omnat commented on #139
Dev hand-off planned for Nov 13

[2019-11-12 22:59] omnat commented on #138
Dev hand-off planned for Nov 13

[2019-11-12 23:02] omnat commented on #152
Started ocap design review - final Design QA on upcoming PR needed

[2019-11-12 23:05] omnat commented on #152
@bdresser took care of Wyre QA

[2019-11-12 23:05] omnat opened #159 "Design QA (Sprint 24)"
- [ ] Ocaps (LoginPerSite + Settings + Permissions) (continued)
  - mabye Tues 11/18
- [x] Approve screen
- [x] Trustology #157

[2019-11-12 23:07] #152 closed, assigned to nobody

[2019-11-12 23:23] omnat commented on #154
https://app.mural.co/t/consensys3989/m/consensys3989/1572546838354/74034beb3cf51614dd171adaadfb1a063f6c15d5

[2019-11-12 23:25] omnat opened #160 "Extension >> Mobile"
Translate designs we've revisited for extension to mobile too:

- [x] Approve
- [ ] Error + notifications
- [ ] Tx history
- [ ] Batch tx (tbd - when done)

[2019-11-12 23:36] omnat opened #161 "Plugin use-cases (that people made already)"
UX perspective on --- to re-imagine to-be impact on dapp experiences

- contract account continued
- spend limit + override pop-up
- plasma
- ethwaterloo: Built at ETHWaterloo 2019 Hackathon 
https://devpost.com/software/dc-wallet  
https://devpost.com/software/carbonguilt
https://devpost.com/software/connexion-vy3a9c Decentralized notification system https://devpost.com/software/wallet-notify
 Co

[2019-11-12 23:40] omnat commented on #153
Rimble chat done.
Sync wth kyokan this sprint to plan chunks of work for our collaborators to be able to execute on the design system

[2019-11-12 23:46] omnat commented on #126
- @rachelcope to align 'Send/Submit' per the error designs updates

[2019-11-13 18:21] danfinlay commented on #161
Related: [Custom Asset Use Cases](https://github.com/MetaMask/Design/issues/158)

[2019-11-16 01:35] omnat opened #162 "InstaPay v2"
connext v2. questions for design

1. Need to deal with account switcher & jazzicons. Jazzicons - accounts and xpub doesn’t match anymore

2. Migration: give option to withdraw, explain why V2 is good
Flow (how we communicate the upgrade)

      (a) Info in-app notificatin: We are migrating to v2!
           - Higher limits
           - More stable
           - Fully non-custodial
      (b) Have mo

[2019-11-16 01:41] omnat opened #163 "Re-imagine MetaMask navigation"
### Purpose
To make MetaMask desktop UI accommodate permissions, plugins related updates (where do they live / can be accessed?) while addressing overdue UX challenges like

- Token sync, 'Add token' confusing

- Too many menus issue

- Aid account management

- Aid dapp discovery

### Inspiration
Revisit Rachel's nav design exploration (and testing results)
Creative low-fi brainstorms: 10 diff ve

[2019-11-17 23:03] whymarrh commented on #89
This functionality was added to the extension via MetaMask/metamask-extension#7177

[2019-11-17 23:03] #89 closed, assigned to nobody

[2019-11-18 18:14] #138 closed, assigned to rachelcope

[2019-11-18 18:44] bdresser commented on #156
Starkware will want to support "custom asset types" -- so rather than making "collectibles" into a primary tab, or a single alternate option, it may make sense to frame collectibles as one of many different asset types

[2019-11-18 19:49] rekmarks commented on #158
For all of these different views/pages, I want to emphasize that we should include _"Display the associated network/protocol"_  as a feature/requirement. I believe all of these assume—correct me if I'm wrong—that we've removed the notion of a globally selected network. However, every instance of these usecases will be associated with a particular L1/L2 network and protocol, and the user should nev

[2019-11-18 21:44] danfinlay commented on #158
If we allow [custom views on selection](https://github.com/MetaMask/metamask-snaps-beta/issues/103), what would distinguish what you proposed from that?

I like that choice because it allows the asset to determine what is relevant when considering it, but is not coupled to any assumptions like "this asset is related to an associated network or protocol, which has some kind of home page that one co

[2019-11-18 23:11] omnat commented on #156
Per design discussion, next steps:
- [x] @rachelcope  Prototype extension flows for Assets / History tabbed view. Nix side token drawer. Make account balance as total, and 'history' tab has global instead of ETH-only.
       Drill down of ETH & tokens to token-specific balance, history & Send
       Drill down of NFTs to list view, and drill down further to Details + Send (similar to mobile)

- [

[2019-11-19 12:05] jennypollack commented on #161
https://devpost.com/software/dc-wallet  
https://github.com/tommyz7/ethwaterloo-contract-account-metamask-plugin
[code]

[2019-11-19 12:38] jennypollack commented on #161
https://devpost.com/software/connexion-vy3a9c
https://github.com/Ryan-Ouyang/metamask-messaging
[code]

[2019-11-19 12:55] jennypollack commented on #161
https://devpost.com/software/wallet-notify is a fork of metamask looking to get [their changes](https://github.com/MetaMask/metamask-extension/pull/7381) merged into the extension (not the plugin beta extension)

- [ ] more investigation required to determine what/if the plugin use case is here

[2019-11-19 13:04] jennypollack commented on #161
https://devpost.com/software/carbonguilt
https://github.com/EthWaterloo-Hackathon/carbon-guilt-snap
[code]

[2019-11-20 17:56] bdresser commented on #134
In addition, we need to design for an ongoing version of mobile-desktop sync. Should the user be explicitly asked to keep things syncing periodically? i.e. `[] Sync my accounts periodically to keep them up to date (powered by 3Box)` or something

[2019-11-20 18:17] #123 closed, assigned to cjeria

[2019-11-20 18:17] #116 closed, assigned to cjeria

[2019-11-20 22:05] cjeria commented on #154
We've previously discussed encryption in this [mural](https://app.mural.co/t/consensys3989/m/consensys3989/1572546838354/74034beb3cf51614dd171adaadfb1a063f6c15d5).

Here's a rough wireframe of the MVP option for encryption/decryption requests. These are based on some use-cases described in this original issue https://github.com/MetaMask/metamask-extension/issues/1190

@bdresser @danfinlay any thou

[2019-11-21 02:22] cjeria commented on #157
I left my comments in the original issue.

[2019-11-21 17:38] danfinlay opened #164 "Make transaction "Data" view useful"
We have a bunch of method data available that we are not rendering as well as we could.

In this screen shot, on the right we have a contract we know nothing about, and on the left we have one where we know a lot!:

![v7 6 1-abi-test](https://user-images.githubusercontent.com/542863/69361691-d12cc080-0c41-11ea-8ea8-d0e899c88779.png)

Unfortunately, we've chosen to display what we know in a nearly

[2019-11-21 21:52] #139 closed, assigned to rachelcope

[2019-11-21 21:54] omnat commented on #160
Approve done https://consensys.slack.com/archives/GBW7S9FSN/p1574303831172300

[2019-11-24 01:22] lazaridiscom commented on #154
I was following the core-level discussion when I saw your issue here.

This "Submit msg back to site" made me think that the user sends the decrypted message back to the site, which feels strange.

Do you mean here "Submit a Reply back to Site" ?

[2019-11-24 23:14] lazaridiscom commented on #155
Possibly revise https://github.com/MetaMask/metamask-extension/blob/develop/docs/team.md whilst doing the team-page.

[2019-11-25 18:19] lazaridiscom commented on #154
Ok, I understand now that "Submit Mesage back to Site"  was requested by the devs.

But does this not negate the whole sense of the encryption? When the message goes back unencrypted?

(not sure if those doubts belong here into "Design")

[2019-11-25 18:43] lazaridiscom commented on #149
@logvik, please allow me to jump in:

Trivial

* https://github.com/MetaMask/eth-simple-keyring/pull/32 => Review, Merge
* https://github.com/MetaMask/KeyringController/pull/41 => Review, Merge

More effort

* https://github.com/MetaMask/metamask-extension/pull/7247 => Review, e2e-test, Merge

[2019-11-25 18:43] lazaridiscom commented on #149
related: #154

[2019-11-25 19:45] omnat commented on #156
- [x] @rachelcope @cjeria to find font to update

- [ ] @rachelcope clean up the figma file

This due to be dev ready for end of next week (6 Dec)

[2019-11-25 19:55] omnat commented on #126
@cjeria to setup call with Esteban to transfer this

[2019-11-25 20:09] cjeria commented on #154
A technical question that impacts UX: What happens if the user cancels this request? Should the dapp or MM provide some feedback to the user? We were leaning towards passing a message back to the dapp so they can handle the feedback in their UI assuming that there might be limited functionality. cc @danfinlay

[2019-11-27 15:11] lazaridiscom commented on #154
"sending the decrypted message back"

https://github.com/MetaMask/metamask-extension/issues/1190#issuecomment-558986507

[2019-11-27 19:52] danfinlay commented on #149
I've merged the non-design related PRs. Just waiting on design & UI finalization to merge #7247.

[2019-12-02 18:51] omnat commented on #158
https://workflowy.com/s/toms-requirements/a1DVM1HaixDcJgdp#/0547198e0995
^ Design requirements from Tom

Figma with first explorations: https://www.figma.com/file/R2miYY21nfaIOx4sdMyCjw/Quick-explorations?node-id=1%3A2

[2019-12-02 19:34] omnat opened #165 "Design QA [Sprint 25]"
- [ ] Ocaps (LoginPerSite + Settings + Permissions) (continued)
- [ ] Approve (on live) - "undefined" > "token"

Mobile:
- [ ] Approve screen for mobile
- [ ] Address book - mobile
- [ ] InstaPay v2

@cjeria to help setup dev builds for @rachelcope & @omnat

[2019-12-02 19:34] #159 closed, assigned to nobody

[2019-12-02 19:36] omnat commented on #157
Design QA on the PR Trustology will submit in a few days @cjeria

[2019-12-02 19:42] omnat commented on #160
Transferring extension updates to mobile

 Error + notifications
 Tx history

For sprint 25.
@cjeria to get first draft ready and review with @rachelcope

[2019-12-02 19:46] omnat commented on #161
First explorations here: https://www.figma.com/file/R2miYY21nfaIOx4sdMyCjw/Quick-explorations?node-id=1%3A2

To create project / epic of plugin UX work @omnat

[2019-12-02 19:46] #161 closed, assigned to omnat

[2019-12-02 19:53] omnat commented on #158
Let me know if you got questions on this @rachelcope @cjeria
@omnat to loop in RC, CJ with Tom on email

[2019-12-02 20:01] omnat commented on #153
Outcome on kyokan sync on this:

- 1st step: dmiller implement [errors, tx history] work in our design system
- re-sync in Jan if and how we collaborate with Rimble on this.
An idea is Rimble helping define best practices for dapp builder on dapp-wallet interactions

[2019-12-06 20:39] cjeria opened #166 "Allow selecting multiple accounts in the Connect Flow"
#### The problem:
With the introduction of LoginPerSite functionality, the connect flow only allows users to connect **one account at a time**. This has introduced known usability issues/friction when the user intends to connect a different account to the same dapp. Based on [user feedback](https://www.reddit.com/r/Metamask/comments/e5xaea/metamask_breaking_change_for_dapps_read/f9mriq4/), it's be

[2019-12-09 18:32] danfinlay opened #167 "Fix permissions prompt to refer to contract, not domain name."
The current permissions prompt is inaccurate: This permission is not granted to an IP address, it is granted to a contract address, so we should make that contract (nickname, reverse-resolved-ENS name, whatever we have, and ability to copy the address) available instead of the IP address.

![permission-ip](https://user-images.githubusercontent.com/542863/70462157-26086d80-1a6f-11ea-8ec3-c668f8fded

[2019-12-11 18:28] danfinlay commented on #166
When a user has more than one account selected, it could be nice and safer to add a warning: "This site will be able to correlate all of the accounts you select, which can affect your privacy".

[2019-12-11 23:53] cjeria opened #168 "LoginPerSite"
This epic is intended to group together all LoginPerSite issues under one topic for easier tracking and hand-off.

[2019-12-12 00:51] cjeria opened #169 "Improve account switching behavior with LoginPerSite functionality"
As stated in issue #166, with the introduction of `LoginPerSite` functionality, we [quickly learned](https://www.reddit.com/r/Metamask/comments/e5xaea/metamask_breaking_change_for_dapps_read/?utm_source=share&utm_medium=ios_app&utm_name=iossmf) that the new account switching behavior released (to 20% of our users) had broken user's expectations and made it difficult for them to connect other accou

[2019-12-12 23:14] cjeria commented on #166
Received feedback from our devs during bi-weekly design sync today. Left comments in the latest Figma [designs](https://www.figma.com/file/CvD7nhQVeSEB1QuSy3XhtY/oCap-Testing-Flow?node-id=378%3A4527).

Will review with @rachelcope to make necessary design updates.

[2019-12-13 03:44] danfinlay commented on #36
I think this may be good to close! :D

[2019-12-13 18:26] #36 closed, assigned to nobody

[2019-12-13 18:31] danfinlay opened #170 "Add gwei to estimated processing times buttons"
<img width="355" alt="Screen Shot 2019-12-13 at 10 26 37 AM" src="https://user-images.githubusercontent.com/542863/70822727-1fda0000-1d93-11ea-8614-f573f780fdf7.png">

Here we only show ether price and approximate $ value, but we don't show any indication of _why_ this price is currently high:

- Is it network congestion?
- Is it a complicated contract?

Without knowing this, a low price that is j

[2019-12-16 22:00] cjeria commented on #166
@rachelcope to make final tweaks:

- Cancel and next button on 1st screen of flow
- prototyping account scrollable list

[2019-12-18 20:10] cjeria commented on #126
We reviewed the latest implementation during the [mobile design QA call](https://consensys.slack.com/archives/GBW7S9FSN/p1576698012010500).

Address book in send flow:

- [x] @christian.jeria to work on copy for error messages in the `to` screen. To reference copy we used in the extension
- [ ] Reconsider our current pattern `press/hold` to delete assets from asset list and contacts from inside se

[2019-12-18 20:58] rachelcope commented on #156
These are the latest designs. Before development handoff:

1) are we ready to implement these designs (and update MM extension) with a new font? @cjeria
2) decide between option 1 and option 2

![image](https://user-images.githubusercontent.com/7483074/71122513-04f5fa00-219e-11ea-9710-f033f01be075.png)

[2019-12-18 21:56] cjeria commented on #156
I don't think we have full buy-in to change the font just yet.

Option 2 looks clean (although not consistent with mobile) - Something we haven't really talked about is empty states. Maybe we can promote `collectible` in the empty state and point users to buy NFT's (for instance https://opensea.io/). This could also be a monetization opportunity for us to promote OpenSea in our app for a fee. cc @

[2019-12-18 22:28] cjeria opened #171 "Dapp to Wallet Communication Channels"
WIP Design Brief [Doc](https://docs.google.com/document/d/1rokW4jSrYUNjBetHgwfoaSBwoQ9H-M7xKVZ-A4VoN_0/edit#)

Related [issue](https://github.com/MetaMask/metamask-snaps-beta/issues/106
)

[2019-12-18 22:35] cjeria opened #172 "Design Internship Job Description"
WIP JD [Draft](https://docs.google.com/document/d/17a99CmQS7yYtkqiyiC98yHzjx38GPIpK/edit#)

[2019-12-19 19:22] danfinlay commented on #156
I like option 2 as the long term direction, but option 1 if we want to be platform-consistent for now (until we have too many tabs, basically).

I also like the font fine! Maybe it's just the newness, but it feels fresh and light.

[2019-12-19 20:09] cjeria commented on #155
@bdresser can you send me the headshots when you get a chance? Thanks!

[2019-12-19 20:52] cjeria opened #173 "Review Storybook Design System"
@rickycodes has been implementing our design system in Storybook and needs @MetaMask/design to review and provide any feedback on the current implementation visible at https://rickycodes.github.io/metamask-extension/

Some to do's:
- [ ] Review the [current storybook version](https://rickycodes.github.io/metamask-extension/) and provide feedback
- [ ] What should we call our design system? Let's c

[2020-01-08 17:48] westonb7 opened #174 "Permissions page for dapp requesting access to seed phrase"
Related to seed export feature request here: https://github.com/MetaMask/metamask-extension/issues/7364

Working on a feature to allow a dapp to access a seed phrase, however due to the sensitive nature of accessing a user's seed phrase, this feature needs a permissions request page to warn the user before granting access to a seed phrase.

It would probably be similar to the current account acces

[2020-01-10 19:07] omnat commented on #174
Hi @westonb7,  permission to access user's seedphrase is an extremely high risk permission and we probably shouldn't allow this permission at all.

Why do you want to make this feature, what's your use-case?

[2020-01-10 19:36] omnat opened #175 "Typeface update"
Typeface update (new) - Something @rachelcope and @cjeria have been looking at is updating the app's typeface. We're really keen on Circular and it might be a good place to start introducing it in the DS.

Pair with @rickycodes to test out this font in an extension branch

[2020-01-10 19:40] omnat commented on #156
- @rachelcope to do the dev hand-off to @danjm for option 2 (2 tabs) in Sprint Jan 13.

[2020-01-10 19:44] omnat commented on #155
@cjeria to pair with @whymarrh on finalizing and wrap up website and host it

[2020-01-10 19:52] westonb7 commented on #174
I mentioned it in the original feature request, but I'm part of the SeedQuest team (https://github.com/reputage/seedQuest) and we're trying to integrate SeedQuest with MetaMask.

SeedQuest is a mnemonic used for seed phrase recovery.

Our use case is that we want to allow a MetaMask user to be able to export their seed phrase into SeedQuest, which would be used to allow the user to rehearse their

[2020-01-10 20:01] omnat commented on #158
- [ ] Design for use-cases and test with different L2 protocols to make a universal / generalizable design that'd allow good integration (good UX) irrespective of the protocol/L2 plugin.

[2020-01-10 20:05] omnat commented on #166
Dev hand-off on Monday Jan 13 @rachelcope

[2020-01-10 20:05] omnat commented on #169
Dev-handoff on Jan 13 @rachelcope

[2020-01-10 20:10] omnat commented on #110
- [ ] @omnat to send to teams for feedback

- [ ] @rachelcope to include feedback in design

[2020-01-15 22:28] omnat commented on #169
Needs user testing to https://www.figma.com/file/CvD7nhQVeSEB1QuSy3XhtY/oCap-Login-Per-Site?node-id=841%3A5
@omnat to help plan and execute a user test -- proposal to do this in collaboration with @cjeria @rachelcope also to use this as a way to practice user testing! Let me know if both of you are picking this or 1 of you would join?

[2020-01-15 23:03] rachelcope commented on #169
@omnat I'd be happy to collab on this user testing with you!

[2020-01-16 01:33] omnat commented on #169
Lovely, I'll set up a time to prep for this!

[2020-01-16 23:03] cjeria commented on #175
@rickycodes here's the font-family we could use to do a test of how it would look!

[circularStd - fontfamily.zip](https://github.com/MetaMask/Design/files/4073144/circularStd.-.fontfamily.zip)

[2020-01-20 19:53] danfinlay opened #176 "Design for Snap Installation Confirmation"
The current [snaps-beta](https://github.com/MetaMask/metamask-plugin-beta) includes a permission for installing a plugin like this:

![current plugin install permission](https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/000/880/498/datas/gallery.jpg)

In practice, there are a number of ways we should strive to improve this, and we should probably meet to discu

[2020-01-22 20:37] Gudahtt commented on #174
If we make it _very difficult_ to ignore, I think this would be OK to allow. Forcing the user to type "I trust this site completely", in addition to strongly-worded and highlighted explanations of the risk, seem like adequate measures to me.

I like the idea of having this permission be included on the normal permissions screen, and _additionally_ having a second screen confirmation if it is selec

[2020-01-22 22:48] danfinlay opened #177 "MetaTransaction Hackathon Logo Request"
Sorry for pretty short notice:

We have a currently ongoing [MetaTransaction hackathon](https://gitcoin.co/issue/MetaMask/Hackathons/2/3865), and for the wrap-up blog post and video stream, it would be nice to have a minor variant of our main logo.

The theme is MetaTransactions, not sure how we'd want to demonstrate that visually with a fox. I might just  generate a uniquely colored fox if we don

[2020-01-22 22:56] danfinlay commented on #177
Sounds like y'all are busy, don't worry about it!

[2020-01-22 22:56] #177 closed, assigned to nobody

[2020-01-24 16:24] Gudahtt opened #178 "Extension Error Page"
The MetaMask extension should have a generic error page, to present a friendlier interface in the case an unexpected error occurs.

A first attempt at this has been made here: https://github.com/MetaMask/metamask-extension/pull/7889
However that error page isn't especially nice-looking, and it doesn't allow the user to take any further actions.

The most important function of the error page is to

[2020-01-24 17:19] Gudahtt opened #179 "Onboarding flow advanced options"
Our onboarding flow is designed to meet the needs of the average user, and it does a pretty good job of this. However, there are options that advanced users might like to adjust before account creation, and we don't currently allow that.

This is especially problematic when it comes to weighing privacy against usability, as we're stuck with the poor options of either leaving a third-party integrat

[2020-01-27 19:40] cjeria commented on #175
@rickycodes @estebanmino I also received the **regular** weight version of the font that is not included in the zip above. Their formats are .otf, and the regular font (linked below) is .woff. Which one is best for apps? I could request all to be .woff if that's better?

[CircularXXWebTest-Regular.woff.zip](https://github.com/MetaMask/Design/files/4118981/CircularXXWebTest-Regular.woff.zip)

[2020-01-27 21:06] estebanmino commented on #175
@cjeria  Is this a final call or you want to try it out on the app?

[2020-01-27 21:25] cjeria commented on #175
@estebanmino yes, we'd like to test this new font to make sure nothing looks too weird in the UI before we invest $$$ to buy it.

[2020-01-27 22:20] estebanmino commented on #175
@cjeria  should I put this on my to do next thing to work on? since you have IOS and @rickycodes doesn't.

[2020-01-27 22:55] cjeria commented on #175
That would be great @estebanmino!

I believe @rickycodes is able to test the new font in the extension?

[2020-01-28 18:23] rickycodes commented on #175
yep! I can test it in the extension

[2020-01-29 15:00] dpazdan commented on #41
We still have a decent ~10% of inbound tickets related to tokens not already listed in out existing repository.  A "scan tokens on trusted 3rd party repositories" would be a huge benefit for users. 🙏

[2020-01-29 18:48] cjeria commented on #126
Design feedback provided in this [doc](https://docs.google.com/document/d/1eB_Tq736L_r-w6kSkOFfomGrac7HopX5thFK51UvhBk/edit)

[2020-01-30 22:49] cjeria opened #180 "Update Transaction Screens in Mobile"
Transaction screen designs in the extension will be getting updated soon and we should also update them in mobile for consistency. We'll use the new extension designs to inform how to present them in a mobile context.

[2020-01-30 23:05] cjeria commented on #180
Here's a general approach to improve the usability of transaction screens on mobile. cc @omnat @estebanmino @ibrahimtaveras00 WDYT?

![image](https://user-images.githubusercontent.com/597770/73498180-64385400-4371-11ea-8e58-751020a5207e.png)

[2020-01-31 01:35] omnat commented on #180
This sounds like a good base framework for tx overlays and a smart way to simplify the tx confirmations without losing context of use! @cjeria
And we already have similar components from Connect prompt, so hopefully it helps in doing a UI update to transaction screens.

I'd also add that let's keep general consistency with extension tx design work like this one: ensure focus is on **user consent**

[2020-01-31 02:11] omnat commented on #180
So for mobile, Confirm request is the oldest version, and then Approve is mainly different from full-screen view perspective. Signature and Connect requests seem to be similar framework you recommend above. **Which screens would you recommend changes for @cjeria ?** And let's try to re-use components from latest Approve screens and other work.

1. Confirm request:
(today):
<img src="https://user-i

[2020-02-03 19:59] cjeria commented on #175
Just reviewed new fonts in the extension and it's looking really good. I'm confirming with the font designer which font formats we'd be receiving for the app. The formats Ricky suggested are found in this [article](https://css-tricks.com/snippets/css/using-font-face/#article-header-id-0) in the first syntax block on that page.

During testing, I also discovered pages and sections in the extension

[2020-02-03 23:11] Gudahtt commented on #154
Here is the most recent version of these designs: https://www.figma.com/file/7QEoPXhxxq2sfBNZWT2OX9/Encryption?node-id=133%3A770

[2020-02-04 15:22] danfinlay opened #181 "Put a QR scanning link on the home page"
The QR scanner can invoke all sorts of interactions:
- visiting a page
- sending funds
- requesting an address

In fact, we could use the QR scanner for any function that a Ðapp can call!

Problem is, right now the qr scanner is [hard to find](https://twitter.com/makoto_inoue/status/1224708397821501442?s=21).

[2020-02-05 17:36] danfinlay opened #182 "Make address book more readily accessible"
I found myself wanting to copy a contact's address from my MetaMask address book, but found it is not readily accessible. If I'm not mistaken, it's tucked away in Settings, but this doesn't really seem like the accurate category to store it in.

What would be the best place to put a list of contacts? It might be mixed with known Ðapps, since both are related to addresses that can be nicknamed and

[2020-02-18 02:17] 1blockologist opened #183 "Interface for signing user generated messages in Metamask"
**What problem are you trying to solve?**
Some wallets make it easy to sign messages within the wallet, instead of going to an external service.

Given that Ethereum libraries in particular offer a variety of signing methods. Having a full service wallet allow the user to initiate a signing request within its own GUI would be a nice feature to explore.

**Describe the solution you'd like**
The des

[2020-04-26 07:30] haardikk21 commented on #171
Ping: is this active? I can't access the design brief. We are working on something similar and would like to explore metamasks direction.

[2020-05-05 13:43] cjeria commented on #171
@haardikk21 this is in the icebox for now. please refer to the related issue above to see the latest activity regarding this feature.

[2020-06-30 01:50] pi0neerpat commented on #38
Hey yall, not sure if this is the place for outsiders to comment, but its the most relevant thread I found :shrug:

We made the decision not to do unlimited approvals. Yet if someone inspects the approval, it looks like it is still unlimited. Prompt says "Unlimited" for only a 100 DAI approval.

![image](https://user-images.githubusercontent.com/35622595/86073792-80403e80-ba52-11ea-86bd-10c14c26a6

[2020-07-22 23:42] wbt commented on #110
Any updates on this?

[2020-09-29 11:36] Kevin-Lu-x opened #184 "1"
1

[2020-09-29 11:38] #184 closed, assigned to nobody

[2020-11-18 11:34] JhonnyJason commented on #110
Also looking very forward to this feature :+1:

[2020-12-15 15:38] Gudahtt commented on #38
Hey @pi0neerpat, are you still seeing that issue? That looks like a bug, not an intentional design choice. Please open a new issue if you can still reproduce that problem. Thanks!

[2020-12-15 15:39] Gudahtt commented on #38
These designs were implemented in https://github.com/MetaMask/metamask-extension/pull/7271, so this issue can be closed now.

[2021-05-18 11:29] tennox opened #185 ""Approve" confirmation says "Unlimited" even though it's not"
Follow-up to https://github.com/MetaMask/Design/issues/38 and in specific this comment by @pi0neerpat https://github.com/MetaMask/Design/issues/38#issuecomment-651469823 as @Gudahtt requested to open a new issue.

I encountered that MetaMask would show "Unlimited" even though I requested a specific (small) amount:
![Screenshot from 2021-05-18 13-15-45](https://user-images.githubusercontent.com/208

[2021-05-18 11:41] tennox commented on #185
I just realized that for `0` it shows correctly:
![Screenshot from 2021-05-18 13-33-46](https://user-images.githubusercontent.com/2084639/118644978-a42d7f80-b7de-11eb-8583-d16a8726b025.png)

So I re-posted this issue as a Bug Report: https://github.com/MetaMask/metamask-extension/issues/11125

[2021-05-18 11:41] #185 closed, assigned to nobody

[2022-04-26 21:27] robinsonkwame commented on #110
any movement on this?

[2022-04-27 14:53] wbt commented on #110
https://github.com/MetaMask/metamask-extension/issues/9061 seems like a better option, and could be implemented today without an EIP by someone on the MetaMask team or who has passed the [formal + informal] MetaMask contributor requirements bar.

It doesn't cover the case of multiple ETH-sending transactions but that seems like a problem-causing category, and solving the issues associated with tha