[2018-02-27 02:25] cjeria opened #1 "A Desktop Version of MetaMask"
**User Experience**
Download MetaMask (from Mac App store) locally on your machine. Enable communication between browser and my native MetaMask app.

**Perceptually More Secure**
From a UX standpoint, may feel more secure because MetaMask feels more "local" to my machine. It makes MetaMask feel more important as an "App" rather than a browser extension.

**Implications**
This UX implies many techn

[2018-02-27 04:53] danfinlay commented on #1
This could improve performance too, because we could use native clients for Ethereum & other p2p protocols.

[2018-02-28 22:44] cjeria opened #2 "Advanced Settings: Dev-specific UI Controls + Functionality"
We're starting to see a clearer dividing line between basic and advanced(dev-specific) features. The easiest place to put on/off switches for dev-specific functionality and ui control customizations is probably inside of settings.

Advanced features would include:
- Network switcher
- TX data field
- nonce controls
- Advanced Gas controls
- Reset Account (which only affects TX history??)
- Auto ap

[2018-03-01 01:54] danfinlay commented on #2
That one's scary, not sure I approve of it.

The rest is good.

Related to https://github.com/MetaMask/metamask-extension/issues/3169

[2018-03-01 02:11] cjeria commented on #2
@danfinlay Yea, i wasn't sure of that one myself. I talked to someone at the retreat who expressed being annoyed with having to repeatedly approve transactions as he was developing his dapp on test nets. Thought I'd capture here so that I don't forget about it.

[2018-03-01 02:20] danfinlay commented on #2
I think there are other ways for developers to improve that experience, like running Ganache locally.

[2018-03-01 17:53] cjeria commented on #2
Cool, didn't know that was possible with Ganache. Crossed that one out

![image](https://user-images.githubusercontent.com/597770/36860506-48014f98-1d36-11e8-8a10-0cf80d073430.png)

[2018-03-05 21:40] cjeria opened #3 "Create ID with MetaMask ETH during uPort on-boarding"
Hey @celine let's think about this again soon.

[2018-03-07 18:23] cjeria opened #4 "Sample Design Feedback Issue"
This is an example design feedback issue. This swimlane is intended to capture design feedback. Not all design feedback will be worked on. Only repeated issues will get consideration to be worked on.

[2018-03-07 19:23] danfinlay commented on #1
Here is someone making a large pitch for this feature:
https://github.com/aragon/nest/pull/20

[2018-03-07 20:01] danfinlay commented on #4
I can do this.

[2018-03-07 21:39] cjeria opened #5 "Make it easier for other designers to find the latest version of designs"
It's not easy to find latest designs in sketch. Should keep invision prototype up to date.

[2018-03-08 17:54] cjeria opened #6 "Better support for older browsers"
User video frustrated with MetaMask on Windows 10
https://www.youtube.com/watch?v=gn8stO5AziY

[2018-03-08 20:29] jrmoreau opened #7 "copy address button"
"Really, really need "copy address" as a single click from the first menu -- almost the first thing you see. It's the thing I use the most, honestly. Having to click two things to get there = bad."

[2018-03-08 20:52] cjeria commented on #7
@jrmoreau can you add the direct link to the support ticket?

[2018-03-08 20:52] cjeria commented on #7
Filing this under design feedback.

[2018-03-08 20:56] jrmoreau commented on #7
@cjeria is this repo private? If not I'd prefer to not. Instead I could link the github issue in the ticket and tag you.

[2018-03-08 21:33] danfinlay opened #8 "Create transaction "outbox" with "next up" at the top"
We regularly have users who get confused by the order of transaction processing. They'll have one transaction stuck, and so they'll keep trying to send more transactions to fix the issue, even though they're all stuck behind that first one.

I had this idea for separating the tx list into "sent" and "outbox", where the outbox would have the "up next" somehow visually highlighted at the top (exagge

[2018-03-08 23:56] danfinlay opened #9 "Should we add a helpscout widget to the home page?"
There's an open source helpscout widget we could just throw in the corner of our main page, or even the full-page app:

https://github.com/helpscout/help-scout-widget

But it's style opinionated. We could definitely fork it to style it up if we wanted, too...

[2018-03-14 18:33] danfinlay opened #10 "Add user option for error reporting"
Either opt-in or opt-out. Where should we ask users if we can save their errors automatically?

Related to
https://github.com/MetaMask/metamask-extension/issues/3441

[2018-04-09 22:07] cjeria opened #11 "Confirm Screen Updates"
We have a few GH issues that are addressing different problems with the confirm transaction screen.

# Problems:

### Total amount + Gas not visible
Total and Amount/Gas Fee values are hidden below main action buttons because tx body data is pushing it all the way down.

See the gihub issue here: https://github.com/MetaMask/metamask-extension/issues/3885
![image.png](https://images.zenhubuserconte

[2018-04-17 17:30] cjeria opened #12 "Header component"
@alextsg Here's a screenshot of the header component variations. There are two types and each type has a variation. Is there anything else that would help with creating reusable components for our design system? Let's chat about it.

![image](https://user-images.githubusercontent.com/597770/38886271-51a7eb1a-422a-11e8-9ec6-7c8021519038.png)

[2018-04-17 17:35] cjeria commented on #12
Also, I think we should align on how we name components. I think we should make them consistent across design and dev for consistency and better communication. Thoughts?

[2018-04-25 19:59] cjeria commented on #2
I would add to the advanced settings a "display function data" switch.

We'll show function name on the top of a confirm TX screen by default for all transactions.
For example, a "Transfer" function type would look like this in the top bar:

![image](https://user-images.githubusercontent.com/597770/39269574-19ec1642-4888-11e8-8c0a-57c2a90bef70.png)

However, if advanced users chooses to see additi

[2018-04-25 21:01] danfinlay commented on #2
That looks like a huge improvement, I agree the parameters can probably be reserved for advanced users, and could even be captured on a separate issue.

[2018-04-25 21:09] cjeria opened #13 "List of components to add to storybook"
Here's a list of components to add to storybook

- buttons
- links
- fonts sizes
- forms
- dropdowns
- modals
more to come!

This is where the "Atomic Design" thinking comes in handy. Let's try thinking about each component by these types:

- Atoms
- Molecules
- Organisms
- Templates
- Pages

Learn more about atomic design here:
http://atomicdesign.bradfrost.com/chapter-2/

[2018-04-25 21:11] cjeria commented on #13
@alextsg making a WIP list of components here.

[2018-04-27 18:32] cjeria opened #14 "MetaMask Web Navigator"
Seeing this site, made me think of a possible new experience we can provide for users.
http://s.muz.li/N2M1OWRiOGQw on the right side is a list of websites you can click loads in an iframe container in the same tab.

I want to propose an additional (experimental) experience to our current extension and full screen mode from new UI.

### The Problem
Context switching: The problem I see with the cur

[2018-05-01 14:21] bitpshr commented on #14
This is an interesting idea. Instead of attempting to build or bootstrap a new browser entirely (very hard) and instead of relying on a user-installed browser extension (arguably odd UX), this is essentially a web3-enabled portal that can be used in any browser that supports iframes. This is also distinctly different from Mascara in that dapp authors don't explicitly set anything up on their dapp'

[2018-05-11 16:49] cjeria opened #15 "Better Educate users about token transferring"
See user feedback

![image](https://user-images.githubusercontent.com/597770/39936213-96c9aa92-5500-11e8-841e-943ed611b590.png)

[2018-05-16 00:15] cjeria commented on #7
Latest copy to clipboard interaction
![copy to clipboard](https://user-images.githubusercontent.com/597770/40089937-6f8dcd76-5863-11e8-8b6d-c9230efaa756.gif)

[2018-05-16 00:18] cjeria commented on #7
This design also referenced in issue addresses the copy address and open in etherscan accessibility problems https://github.com/MetaMask/metamask-extension/issues/3463

![account switching interaction concept2](https://user-images.githubusercontent.com/597770/39148316-dc0fbfba-46f0-11e8-8351-9dddd9517c38.gif)

[2018-05-16 18:19] danfinlay commented on #7
That looks really nice.

As a user who is used to highlighting text to copy it, I would be tempted to make the address selectable text. This would raise the question: "How do you log into a different account?".

That's an especially important question since we're approaching a time when we support being logged into multiple sites at once, and so this pop-over view might only reflect the current ta

[2018-05-22 20:56] cjeria commented on #11
Latest confirm screen designs that addresses all of the problems discussed above. This design also fits within the latest size constraints (width and height) that @alextsg and I have been solidifying.
Feedback is welcomed @danfinlay @kumavis

![confirm screen ixd](https://user-images.githubusercontent.com/597770/40389479-6d9385a6-5dc7-11e8-9d07-db3515219208.gif)

![image](https://user-images.githu

[2018-05-22 21:47] danfinlay commented on #11
This is a nice design for when the transfer is pure ether. A couple topics I'd want to consider more:

## The primary currency shown

These current designs massively prioritize the user's currency, even making the ether very small by comparison.

I think I'm okay with this, but would like to ask: *Is there a way we can represent the approximate nature of these dollar values?*

One way I've suggest

[2018-05-22 23:19] cjeria opened #16 "Ether-less Confirm TX Screens (Pure Function Calls)"
Dan commented:

[2018-05-22 23:54] cjeria commented on #11
Thanks for the feedback

Yes, this is what this issue is focused on addressing.

I think we can extract other use-cases from your point about pure function calls or "actions". Here's an issue I created for that. https://github.com/MetaMask/Design/issues/16

[2018-05-23 00:04] cjeria commented on #16
Possibly detect pure function calls (etherless actions) and swap out the body components with something that makes more sense with this specific type of function call.
![confirm screen - method copy](https://user-images.githubusercontent.com/597770/40396473-1cd53234-5de2-11e8-9369-79efd0f31fa7.png)

[2018-05-23 01:02] cjeria opened #17 "Contributor Badge"
Since we're an open source project and we have many contributors that want to claim their contribution, I'll be creating a contributor badge for users.

Dan's request:

[2018-05-23 22:29] cjeria commented on #17
![artboard 1](https://user-images.githubusercontent.com/597770/40454549-0e81ee04-5e9e-11e8-85a5-d57539c49212.png)

[2018-05-25 00:21] cjeria opened #18 "Action Screens for Fishing Attacks"
User story and sketches from Mural session
https://app.mural.co/t/consensys3989/m/consensys3989/1527187224674/c1ede03935b891c510322112e456029556233e22

![b82850be-8b58-4462-8e30-c5c2e2419a2e](https://user-images.githubusercontent.com/597770/40519824-a89e5d78-5f76-11e8-8fa5-68b8cdbec03c.png)

[2018-05-25 19:57] cjeria opened #19 "Add hover states and tooltips to clickable elements"
Make clickable elements and buttons more responsive with hover states and tooltips to help the user navigate the UI more confidently.

Some user feedback
![image.png](https://images.zenhubusercontent.com/59b80272b0222d5de4776ba7/4c7524b3-a98d-4fcf-9472-54932df1b52c)

[2018-05-30 16:43] cjeria commented on #17
![mm-badge-small 2x](https://user-images.githubusercontent.com/597770/40734647-e25e37a6-63ed-11e8-81a9-cbedffae0a0a.png)
![mm-badge 2x](https://user-images.githubusercontent.com/597770/40734648-e27edeb6-63ed-11e8-80bc-06f8e454eb29.png)

[2018-06-01 01:23] danfinlay opened #20 "Make network loading menu more obviously a menu"
<img width="351" alt="screen shot 2018-06-01 at 11 18 22 am" src="https://user-images.githubusercontent.com/542863/40816060-97744ce0-64ff-11e8-96d2-1c63ddb0b68c.png">

This user did not guess that the top right spinner was a menu, and I don't blame him!

How about a little carrot or something to imply the menu-ness of it? `v`?

[2018-06-01 01:29] cjeria commented on #20
@danfinlay We just talked about on the support call yesterday! As you mentioned, the quick fix could be a carrot maybe even a timeout with a message.

[2018-06-04 16:12] danfinlay opened #21 "Network spinner blocks custom RPC form"
Story:

- User wants to connect to a custom RPC
- They enter the RPC wrong
- The spinner appears
- They click the network menu again to select custom again
- They are taken back to settings, but cannot edit the form:

![screen shot 2018-06-04 at 9 11 19 am](https://user-images.githubusercontent.com/542863/40928789-62142eb4-67d7-11e8-94cc-92db3c986db4.png)

[2018-06-04 18:03] cjeria commented on #7
closing out as feature has been solved here https://github.com/MetaMask/metamask-extension/pull/4445#issuecomment-394422401

[2018-06-04 18:03] #7 closed

[2018-06-04 23:28] bdresser commented on #11
this is nice @cjeria!

the nonce element jumps out at me – it's reminiscent of the little orange `Ad` badge that google uses on mobile, makes the screen seem a little like a sponsored post 😆perhaps another color could solve?

also, what's the approach to the new "review transfer" header here? would it update if the function changes? might be worth thinking about how we utilize the header text more

[2018-06-05 03:52] MicahZoltu commented on #11
I would like to see ETH as the primary currency and USD (or whatever) as the secondary currency.  At the moment, I cannot even choose `ETH` as a currency in the currency selector so if I want to transact in (and think about) ETH, I'm still forced to see USD (or whatever) and have to squint to see ETH.

Suggestions:
1. Allow the user to choose both primary and secondary currencies in the settings.

[2018-06-05 04:00] MicahZoltu commented on #11
Re: Presentation of transaction call data, if your team has the resources and/or interest in championing https://github.com/ethereum/EIPs/issues/719 that would be the ultimate solution (IMO) to presenting users with contract call data in a way that is actually consumable by them.  Even if you convert the JSON into something more "human readable" like a table, you still have the problem that most h

[2018-06-05 17:29] cjeria opened #22 "How might we encourage users to backup their seedphrase?"
Lots of users report they can't access their accounts. We currently have a puzzle during onboarding that forces users to write down their seedphrases, but is it really working? How can we measure this? How many users are dropping off during onboarding?

For active users, how do we encourage users to backup their accounts?

In-app alerts/notification banner might be a good approach, but what trigge

[2018-06-05 18:54] bdresser commented on #16
as discussed today, this can probably follow the designs in #11 closely, just need to replace the $/ETH value with a text treatment of the function call or something along those lines

user will still need to pay gas & would probably like the additional stuff in the `data` tab.

[2018-06-05 20:04] bdresser commented on #18
we can extend the designs in #11 to help indicate what's happening here - specifically when a user is asked to call an `approve()` function.

perhaps with a more detailed special-case header, or with a small line of text that describes what's happening ("you're approving 0xe9d to spend up to 300 of your OMG at any time").

can also add a support article & "Learn more" link

[2018-06-05 20:09] bdresser commented on #11
thanks @MicahZoltu - I've opened [an issue](https://github.com/MetaMask/metamask-extension/issues/4510) on the main extension to discuss what you're suggesting.

@cjeria as we chatted about today, these screens should be able to cover
- standard tx
- function calls with ether
- token transfers
and could be extended to cover `approve()` calls as discussed on #18

could you do another mock with @dan

[2018-06-07 01:41] cjeria opened #23 "How do people feel about the extension?"
Let's find out how people truly feel about the extension experience. Do they like? Do they hate it? Should we keep it or try shifting off it?

We've conditioned people to use a wallet this way, but how's it really doing?

[2018-06-13 23:03] danfinlay opened #24 "Open full screen mode when first installed"
Today we open metamask.io when first installed, but instead we could just land on an extension page, where we both explain the extension _and_ enable the user to sign up. This would be a great place to include the video, or any other links to tutorials we might want to add for a first time user.

[2018-06-14 18:33] snreynolds opened #25 "Transaction Detail View"
Right now users are able to see transaction details like to, from, gas price, gas limit, etc... by clicking on the transaction in their history and being redirected to etherscan. It would be nice for users to view basic transaction details inside MetaMask (like to, from, and total transaction fee).

Additional features to consider: show deduction of transaction fee?

[2018-06-14 18:37] snreynolds opened #26 "Transaction History should show incoming and outgoing transactions"
Currently, only outgoing transactions are shown in the history but displaying incoming transactions and outgoing transactions would be a nice feature. Differentiate inbound and outbound with colors(green, red) or symbols (+, -) so users easily understand what is deducted/added to their total balance.

[2018-06-14 18:42] snreynolds opened #27 "The change gas icon is awkwardly over the words “ETH”"
This issue is only happening in the chrome pop up but not the full browser. See below.
<img width="358" alt="screen shot 2018-06-12 at 11 43 46 am" src="https://user-images.githubusercontent.com/30504811/41431506-fb589f0e-6fc7-11e8-9310-5d01da6febc0.png">

[2018-06-14 18:48] snreynolds opened #28 "Rejected/Cancelled Terminology Fix"
When a transaction is cancelled by a user, the history shows that the transaction has been 'rejected'. To me 'rejected' should be reserved for when the network rejects a transaction that the user tried to confirm rather than a user cancelling one. Other thoughts: If a transaction is cancelled by a user, does it even need to go into their history?

[2018-06-18 19:14] cjeria opened #29 "Confirm Screen: Insufficient funds error"
![image](https://user-images.githubusercontent.com/597770/41556998-1e847b70-72f1-11e8-9bd9-b676437e5baa.png)

[2018-06-18 20:55] alextsg opened #30 "Moving between transactions in the confirm screen"
In the old UI, users were able to move between transactions when confirming:
![image](https://user-images.githubusercontent.com/8051479/41561561-1e1b21bc-72ff-11e8-9473-d8b41173a9e6.png)
In the new UI, we currently render the oldest transaction and the user has to confirm/reject transactions in order. Should we implement the same UX in the new UI?

[2018-06-19 16:54] cjeria opened #31 "Antiphishing Idea"
Interesting suggestion from a user who submitted a support ticket:

[2018-06-22 16:15] cjeria opened #32 "Font Update Consideration"
I came across this very interesting open source google font that looks great on our UI. I tested it out. This font feels more "on-brand" as it reflects how people think of us. I also believe our brand is trying to be different, and Roboto is a very commonly used font on the web since it's Google's/Androids system font.

Our brand reflects:
"Functional"
"Open source"
"Trustworthy"
"Quirky"
"Easy"
"

[2018-06-22 17:02] cjeria opened #33 "Trezor Support: UX/UI Fixes"
### Connect to Trezor Screen
Add more context to the "connect" to Trezor screen.
- This screen needs more context - include icon and explainer text w/link to "learn more"
- Learn more to link to a blog post about hardware support feature.

![image](https://user-images.githubusercontent.com/597770/41788320-1d047eb4-7600-11e8-973f-c111baff4130.png)

### Trezor accounts screen
The “previous” and “nex

[2018-07-12 18:48] bdresser commented on #25
@cjeria could you link your invision mocks?

[2018-07-12 19:42] cjeria commented on #25
Full screen mode
https://consensys.invisionapp.com/share/TYGK6CKMJ7F#/290468286_cancelled_Success_-_End_2

Extension mode
https://projects.invisionapp.com/prototype/cjg0fbrv1000bv2010gi42iix/play

[2018-07-12 19:47] cjeria commented on #25
Screenshots as well
![image](https://user-images.githubusercontent.com/597770/42655643-93760c26-85d1-11e8-86bb-35d3fbcbf7c1.png)

![image](https://user-images.githubusercontent.com/597770/42655655-9c7f8522-85d1-11e8-973a-612641640362.png)
![image](https://user-images.githubusercontent.com/597770/42655682-ab870b08-85d1-11e8-8d55-1744f47d8ade.png)

[2018-07-12 23:06] bdresser commented on #25
these are really sharp @cjeria

We're currently using slightly different terms to describe transaction states. Here's the complete list:

[code]

I think we can consolidate a little with what's currently in these mocks
- "pending" and "waiting" could just be "submitted" ?
- what is the functional difference between "created" and "submitted" in the activity log - can a tx be one but not the other?

[2018-07-13 15:52] bdresser commented on #25
re: cancellation - relates to
MetaMask/metamask-extension#4022
MetaMask/metamask-extension#3312
MetaMask/metamask-extension#4425

could include a "cancel" button for the first submitted tx that's still pending. or a "cancel all" as described in 4022

[2018-07-13 16:48] bdresser commented on #25
from @owocki in slack

[2018-07-13 16:57] cjeria commented on #25
@bdresser I agree, perhaps tx state terms could be simplified!

## Tx states

**Pending** is the latest transaction submitted to the tx pool trying to be mined.

**Waiting**  txs are the blocked tx's "**waiting**" to be submitted to the tx pool, but that the user has "approved".

This is an important differentiation because tx's can be **queued** up locally in chronological order under the top gro

[2018-07-16 03:11] owocki commented on #25
excited for this :)

[2018-07-16 20:24] bdresser commented on #25
TIL :)

Sounds good

Some questions on cancellation, since it's coming up more:
- What about the "cancel all" button you mention in MetaMask/metamask-extension#3312 & https://github.com/MetaMask/metamask-extension/issues/4022? Or should we handle that separately?
- Cancelling will prompt the user to submit a 0 ETH transaction with some gas. Does the confirm screen need any helper detail to let the

[2018-07-17 16:28] cjeria opened #34 "Fix UI Buttons Colors"
Some feedback suggest that our buttons look disabled. Let's better define button types and states. Google has a good reference for their buttons.

![image](https://user-images.githubusercontent.com/597770/42831629-ad699b54-89a3-11e8-9f1f-662e327f3a97.png)

https://material.io/design/components/buttons.html#usage

[2018-07-17 17:27] brunobar79 opened #35 "New Trezor Design"
@cjeria  made this awesome work. Opening this issue to continue the discussion:

https://consensys.invisionapp.com/share/ZVMZNI09CFM#/309042600_hardware_Connect

![screen shot 2018-07-17 at 1 28 38 pm](https://user-images.githubusercontent.com/1247834/42834715-68d6eee8-89c5-11e8-95e8-ea693a76cc66.png)

Internal feedback from @danfinlay  and @bdresser:

- "Connect to Trezor"  button is below the fo

[2018-07-17 23:12] cjeria commented on #35
@brunobar79
Pulling out the instructions into a modal would help with these two pieces of feedback.

In that modal, we can add a checkbox "Don't show again".
![image](https://user-images.githubusercontent.com/597770/42840180-d88b2840-89ba-11e8-866e-5339295329ca.png)

It should be clear this is purely instructional since the user has not made any actions to indicate they are seeing real accounts. H

[2018-07-18 00:37] brunobar79 commented on #35
@cjeria   The modal might be a good idea, and thanks for bringing new options to the table!
I don't have a strong preference for any of the 3 steps  so I defer to you guys.

- Regarding the account selector asset, I think what you just did is a very elegant solution 🥂
- Connect VS something else,  connect has the majority of votes, so we'll go with that
- About the small banner, the suggested desi

[2018-07-18 15:12] bdresser commented on #11
@alextsg @cjeria whatever happened to the little nonce indicator? I don't see it in the version that got merged. Was it scrapped intentionally or can I open another issue to re-add?

[2018-07-18 15:18] alextsg commented on #11
@bdresser Since the nonce is calculated in the background after user confirmation, we're only sure of the nonce when the transaction is a retry transaction, so that's where you can see it.

[2018-07-18 15:21] bdresser commented on #11
@alextsg thanks, makes sense. and looks like we're including in the designs for the outbox stuff on https://github.com/MetaMask/Design/issues/25 👍

[2018-07-18 15:21] bdresser commented on #11
closing this since it's been merged!

[2018-07-18 15:21] #11 closed, assigned to cjeria, cyberspaceline

[2018-07-18 18:13] cjeria commented on #35
Ok, I made the assumption that we were able to detect the device while it's physically connected. If not possible, then let's have it go away after a few seconds.

I just updated option 1 in the prototype - Let's go with that one! @brunobar79

[2018-07-25 17:12] ghost commented on #1
Also, the vision of *kitsunet* (network of p2p peers, each containing a small portion of the state), could make use of different degrees of "hubs", which mean, nodes that can store a little more information to share to the rest of the peers. Desktop version fits well to this picture.

[2018-07-25 17:13] ghost commented on #1
So, we could have a light "extension version", with minimal versions, with constant "_get X and Y feature by getting the desktop version_".

Now, is important to have the low-resource version always! Remember that we are looking at you, IoT device wanting to join *kitsunet*

[2018-07-25 18:19] cjeria opened #36 "Login Request Screen"
![artboard 2](https://user-images.githubusercontent.com/597770/43219571-8520020a-8ffc-11e8-8468-29a2e42dc021.png)

[2018-07-25 18:21] cjeria commented on #1
Concept design for this feature
![image](https://user-images.githubusercontent.com/597770/43219648-c388b258-8ffc-11e8-93be-68496a97ec80.png)

[2018-07-25 21:31] danfinlay commented on #1
Hawt!

[2018-07-25 22:04] alextsg opened #37 "Send page Transaction Fee feedback"
![image](https://user-images.githubusercontent.com/8051479/43230099-eba57464-901b-11e8-9ec2-23cb136f745c.png)

- There may not be enough room to display the prices for different currencies, so I think we're going with a design similar to:
![image](https://user-images.githubusercontent.com/8051479/43230057-c3e95b16-901b-11e8-8a92-7b6db66d6165.png)
Can we get a mockup with our UI styles?

- If the u

[2018-07-26 02:12] danjm commented on #25
Given https://github.com/MetaMask/metamask-extension/issues/4826, should we only show the "Speed Up" button in the details of the first / "Pending" transaction @danfinlay?

[2018-07-26 02:20] cjeria commented on #25
Yes, that's correct @danjm ! The speed up button is only intended for the first pending tx.

[2018-07-26 18:38] cjeria commented on #36
![login request](https://user-images.githubusercontent.com/597770/43281390-63728372-90c8-11e8-96d0-f45b2d175431.png)

[2018-07-26 18:47] bdresser commented on #25
also, what does the "Speed up?" suggestion look like when the pending transaction detail isn't expanded?

[2018-07-27 21:54] cjeria commented on #25
@bdresser the user would get a tooltip on hovering over the status. clicking anywhere on the transaction container should expand the transaction details.

![](http://g.recordit.co/2dwSdSth9p.gif)

[2018-07-27 21:59] cjeria commented on #25
perhaps the status indicator for pending could have a spinner to better indicate that it's trying to be processed by the network.
![image](https://user-images.githubusercontent.com/597770/43348152-83ff73b2-91ad-11e8-9c8d-373a228e0f36.png)

[2018-07-31 18:48] bdresser commented on #36
as discussed in last week's design review - I like the first to start, since it's more accurate (we're exposing the whole Ethereum provider API, not just knowledge of a single account).

The second is an awesome goal we should continue to work towards.

Also, Status team had some questions about the "log in" metaphor, going to direct them here ..

[2018-08-01 10:32] denis-sharypin commented on #36
Hey there! My name is Denis and I work for Status as UI/UX designer.

Currently, I'm working on the UX of the same thing. And after having some discussions with our dev team and checking your nicely done proposals, I came up with following screens:

<img width="986" alt="web3 permissions" src="https://user-images.githubusercontent.com/6559881/43516254-ecfe408c-957c-11e8-831b-bcfa6f9e62ac.png">

Th

[2018-08-02 01:36] cjeria commented on #36
Hey @denis-sharypin. Thanks for sharing - these look great! First off, I'd like to make the distinction that the screens I shared above are intended for desktop, so the requirements will differ between desktop and mobile. That being said, you're mobile designs are very clear and coherent. Well done. I agree that "Connect" is a good metaphor considering dApps will request to connect as soon as the

[2018-08-03 00:20] bdresser commented on #36
@cjeria from our discussion today - I think we can tighten the copy. How about

- I am partial to the "Connect" metaphor as well – I think it's more accurate to what's happening. and as discussed, we'll have no control over whether a user is asked to expose web3 right on page load, or just when the site needs it.
- I also think we shouldn't pre-check the "Remember" option, at least at first. The p

[2018-08-03 00:23] bdresser commented on #35
this is merged, closing!

[2018-08-03 00:23] #35 closed, assigned to nobody

[2018-08-03 00:24] bdresser commented on #33
trezor support is merged, closing

[2018-08-03 00:24] #33 closed, assigned to nobody

[2018-08-06 13:54] denis-sharypin commented on #36
@cjeria Hey, thanks for the feedback!

Re: Icon
We have this icon in the tabbar of the app. I assume user could recognixe it in the permission context.
But it's a good catch. Now I see how this icon remind me a browser :)
<img width="816" alt="screenshot 2018-08-06 14 48 08" src="https://user-images.githubusercontent.com/6559881/43720215-c867066e-9987-11e8-9103-04eadfda06ba.png">

Re: info button

[2018-08-08 19:28] bdresser opened #38 "Make "Approve" confirmation screen more informative"
"Approve" function calls are really confusing for users. (https://twitter.com/erinfrey/status/1027258104423931905)

We should consider creating a custom component for the "approve" function that makes the interaction clearer.

Basically, user is granting dapp permission to spend X amount at any time without asking confirmation. This is very common in dex sites. Sometimes this is accompanied by an

[2018-08-08 21:14] bdresser commented on #25
@cjeria could we add a "cancel all" button to these designs?

[2018-08-09 01:37] cjeria commented on #25
I've been thinking about the problem we've been seeing lately with users having multiple "stuck" transactions. This begs the question - Why don't we try preventing the problem from occurring in the first place by blocking new transaction from being created while a slow/stuck transaction is waiting to be mined? My hypothesis is that if we apply this constraint we will prevent people from making mis

[2018-08-09 01:46] cryptomrmage commented on #36
The conversation is moving in the right direction for us, but thought I'd throw in my 2 cents.

We're using Metamask to log in via message signing, and only occasionally for fund transfers. Using the login metaphor, connecting to Metamask is asking for the user id. A login is performed when signing a challenge or entering a password.

For this reason, I like @bdresser wording or similar variation

[2018-08-09 17:32] bdresser commented on #25
yeah @cjeria that makes a lot of sense.

As we discussed the other day, we could show a small warning on the Confirm screen when a user has other pending transactions before the one they're about to submit. If that sounds reasonable, I'll open a separate issue.

This won't always solve the problem, since some folks will want to approve multiple tx and just let them confirm sequentially, so I think

[2018-08-09 18:30] bdresser commented on #38
could consider displaying a token balance (like on the home screen) with additional information that a certain amount has been approved for spending by other entities.

[2018-08-09 18:48] bdresser opened #39 "Process Design Feedback from Civil"
* Users don't know how to find the extension
* Users sometimes loose track of the popup window
* Don't understand stacked transactions / batched transactions
* User concerned with where they're sending *to*
* Users don't necessarily know their address is public
* Some dapps ask the user to sign, then confirm a transaction - feels like doing the same thing twice?
* Should we add notifications for o

[2018-08-10 20:07] cjeria commented on #25
Here's the updated transaction details screen with the "Cancel All" button included. The style of the detail components also better matches the extension format designs posted above.

<img width="1582" alt="full page expanded v2" src="https://user-images.githubusercontent.com/597770/43979035-3c699112-9c9e-11e8-8cd2-731579383df9.png">

[2018-08-10 20:11] bdresser commented on #25
heads up @danfinlay @danjm @alextsg - any final feedback? otherwise moving to "done"

[2018-08-13 22:11] danfinlay commented on #25
I like this, it adds all the cancel buttons we've been wanting, I'm all for it.

[2018-08-14 10:55] kingjacob commented on #25
If I may suggest flipping the USD and Eth in the transaction detail and the right column, since it's ether being sent and usd is just a reference. Additionally, it would make it more uniform with the rest of the UI e.g the token-list.

Edit: Clearer distinction between the primary asset and the descriptor would also prevent the possibility of confusion if someone is using a token as their conversi

[2018-08-14 19:01] bdresser commented on #25
@kingjacob yep, same response to your other post - suggestions welcome on https://github.com/MetaMask/metamask-extension/issues/4510

[2018-08-15 00:14] cjeria opened #40 "UX of EIP 1102 (Connect per dApp) Discussion"
UX Discussion
https://ethereum-magicians.org/t/the-ux-of-eip-1102/814

[2018-08-16 00:05] cjeria commented on #37
Here's a slight enhancement to the gas component and the basic flow/logic.

<img width="637" alt="image" src="https://user-images.githubusercontent.com/597770/44365906-e4217580-a47f-11e8-9173-fd9a1e3874f8.png">

Let's fall back to this component. I intentionally omitted the lever icon to be more explicit with copy "Advanced options"
<img width="647" alt="image" src="https://user-images.githubuserc

[2018-08-16 19:39] danfinlay commented on #25
TX Queue
- “Outgoing” word is probably not as useful as it could be, not the interesting part.
    - We should upgrade to better label when possible (we show method names when possible already)
    - Maybe upgrade further when possible - “Sent tokens” or “Sent ether” or “Sent x GNO”?

In short: These tx cells are about as open ended as our confirmation screens. The more transaction-specific clarit

[2018-08-16 19:45] bdresser commented on #25
to the above ^

Since everything is "outgoing" we should use that string to describe the type of interaction instead. (discussed [here](https://github.com/MetaMask/Design/issues/25#issuecomment-404891857), but I think it got missed).

* For basic sending ETH we should say "Sent Ether" (as in the mocks)
* For token transfers we should say "Transferred [Token name]" (The value is redundant, it's on

[2018-08-16 19:51] alextsg commented on #25
@bdresser Since we're showing the number of tokens transferred along with the token symbol on the right side, can we say "Sent Tokens" instead of "Send [token]" or "Transferred [Token name]"?

![image](https://user-images.githubusercontent.com/8051479/44231435-0307cb00-a153-11e8-9b24-442ebf871a5b.png)

[2018-08-16 19:52] bdresser commented on #25
@alextsg yeah good call

[2018-08-20 15:34] bdresser commented on #25
Since we started showing the "speed up" link on only the first transaction, we've gotten a bit of feedback on how it's harder to find. I've also seen two reports that mention how the new ui's language ("increase the gas price") is more vague than the old ui's ("retry with a higher gas price here").

I'm not suggesting we change designs at this point, but let's keep our ears open for feedback on ho

[2018-08-20 16:16] bdresser commented on #37
@cjeria let's start with the first option to get this out with minimal changes to what Kyokan already has - then we can think about breaking this out into its own step as the next iteration

[2018-08-20 16:39] bdresser commented on #8
closing in favor of #25

[2018-08-20 16:39] #8 closed

[2018-08-22 21:31] bdresser commented on #30
So right now when you prompt a transaction, you can either confirm it in the standalone popup window, or in the popup attached to the extension bar. The behavior for stacked transactions is different in each view:

* In the standalone popup window, we show the oldest transaction first (in the order they were proposed).
* In the popup attached to the extension bar, we show the most recent transacti

[2018-08-22 21:42] cjeria opened #41 "Token Detection Enhancements"
MM only detects tokens in the [token list registry](https://github.com/MetaMask/eth-contract-metadata/blob/master/contract-map.json#L7). Users have been reporting issues viewing they previously were able to see in their wallets. Some users may have previously added their tokens via "add custom" tokens flow. If the user restores their wallet, they won't see those tokens unless they re-add the custo

[2018-08-22 21:43] cjeria opened #42 "Feedback Survey Email"
Example from Zenhub

<img width="645" alt="image" src="https://user-images.githubusercontent.com/597770/44418247-bd6d4880-a52c-11e8-9f77-824d3ce1db35.png">

[2018-08-23 21:33] bdresser opened #43 "Mobile User Research"
User research to understand the optimal flows for our mobile app

Timeline: ~3 - 4 weeks

Things to discuss
* Flows to test - in priority order
* Participant criteria & how to find them
* Changes to prototype needed for testing

Notes: https://docs.google.com/document/d/1M16rkX0CTh2-i_QJoQ7KphpOjbroy9mquyzb-dWOymI/edit

[2018-08-28 16:58] danfinlay opened #44 "Allow copying account address from account list"
Maybe something like this. Thoughts?

![screen shot 2018-08-28 at 9 54 49 am](https://user-images.githubusercontent.com/542863/44738132-d8016d80-aaa8-11e8-9ba9-38277ef3e60e.png)

[2018-08-30 17:24] cjeria commented on #30
Concept for displaying unconfirmed or "stacked" transactions.

![image](https://user-images.githubusercontent.com/597770/44868127-bd60fd00-ac3e-11e8-8d5a-4bc1c914bd91.png)

[2018-09-04 19:44] bdresser commented on #30
~@alextsg @cjeria would allowing tx confirmation in whatever order the user wants cause nonce issues?~

~I'm actually ok with the UX as-is, especially since it keeps tx in nonce order -- I just think we should standardize behavior as described above.~

Chatted with whymarrh who informed me that nonce is set when a tx is submitted which is cool 😎

Should probably wait until after #3425

[2018-09-05 21:55] danfinlay opened #45 "When restoring from seed phrase, ask user how many accounts to re-generate."
From the support team:

Even though we now auto-detect & re-generate accounts accounts with an ether balance, some users are still being scared when some accounts aren't generated (when those accounts only had tokens).

It sounds like the only way we can work around this is by adding a screen after entering a seed phrase to restore from, where we ask the user "how many accounts would you like to r

[2018-09-06 18:24] bdresser commented on #43
Research plan lives [here](https://docs.google.com/document/d/1_mG2ZZ6bbYMtYKPqUpdb2IDC8axBzAGo9Ic-QEj2wm8/edit).

List of tasks we're going to interview on are (roughly) :

Task 1: Import Accounts
You want to set up the app so that you can access the same accounts you currently use in the browser extension.  For the sake of this scenario, imagine you have 2 accounts: Account 1 and Account 2.

Tas

[2018-09-11 20:59] bdresser commented on #37
Closing this as part of https://github.com/MetaMask/metamask-extension/issues/4789

[2018-09-11 20:59] #37 closed, assigned to nobody

[2018-09-12 20:47] bdresser commented on #18
We've shipped a custom template for `approve` calls and are now showing known function names.

Other improvements are covered by https://github.com/MetaMask/Design/issues/38 and https://github.com/MetaMask/metamask-extension/issues/5087

[2018-09-12 20:47] #18 closed, assigned to cjeria

[2018-09-13 22:07] #3 closed

[2018-09-13 22:14] #12 closed, assigned to alextsg

[2018-09-25 23:05] cjeria commented on #36
Have we considered opening up a new tab for the connect request screen like below? Once dapps begin to implement a connect button on their dapps, this would trigger the MetaMask connect screen (in new tab). The tab would then close out as soon as they connect or reject. Thoughts? @bdresser @danfinlay

<img width="873" alt="connect request - new tab" src="https://user-images.githubusercontent.com/5

[2018-10-09 21:00] alextsg opened #46 "txReceipt design changes"
Each transaction will now have transaction receipt data upon confirmation which will give us some additional information for each transaction. For example, 1) in terms of gas we're currently only showing the gas price and the gas limit in the breakdown, but we'll now know how much gas was actually used for the transaction, and 2) we show a green "Confirmed" label for transactions that were include

[2018-10-09 21:40] cjeria commented on #46
It's fine to show more data, but i don't think we need to be so specific as to show whether the transaction successfully failed on-chain or before that point. Most average users only care whether the transaction was received by the contract or recipient. Perhaps it's valuable data for dissecting issues with transactions, however I'm confident that an average non-technical user really understand or

[2018-10-09 22:46] alextsg commented on #46
The main reason we'd want to show those states would be to avoid confusion like this: https://github.com/MetaMask/metamask-extension/issues/5117
We show "Confirmed" because the transaction has made it into a block, and from the UI the user thinks that the transaction has gone through. What's really happened is that the transaction failed on-chain, no transfer has taken place, and the user and reci

[2018-10-10 01:08] bdresser commented on #46
Agree with @cjeria that we should stick to `Confirmed` / `Failed` on the home screen, and I think on-chain failures should show up as `Failed` as well. Anecdotal evidence says that's what users expect when something fails on-chain.

We can use the Activity Log to explain what has actually happened (that's what it's for!) So an on-chain failure could show up as

On home screen, `Failed`
In tx detai

[2018-10-10 01:34] alextsg commented on #46
Sorry yeah I think I just misunderstood @cjeria 's point. Yeah that makes sense, to use our existing labels but applying "Failed" to on-chain failures as well.

[2018-10-10 20:29] bdresser commented on #36
I do like the full screen. Sort of similar to like a gmail auth flow or something similar, except ours would be new tab instead of in the same window. Would we close the tab once the user hits `connect` or `cancel`?

Also, what's the advantage over the popup version? Just that the user is less likely to lose / miss the modal? More familiar web experience?

May be necessary to just ship one or the

[2018-10-15 16:40] bdresser commented on #36
heads up @cjeria - @bitpshr has mentioned that this will be more complicated than the UI flow that's already been built.

since we're initially going to roll out an opt-in "Privacy Mode" (https://github.com/MetaMask/metamask-extension/issues/5496) I think we should launch with the initial pop-up UX, test this full screen flow with some users to make sure it's worth it (@omnat) and then roll out an

[2018-10-17 13:59] cjeria opened #47 "TX detail implementation visual design enhancements"
Looking over the tx detail UI implementation in release v4.14.0, the feature works great, however the colors and "layering" of the elements when a transaction is expanded is confusing. There's too much going on, so I'm leaning towards pulling back some colors and drop shadows of containers inside the detail view.

I tweaked the css in the browser inspector to play around with cleaning up the color

[2018-10-17 14:41] cjeria opened #48 "Full Screen Extension UX - Discussion"
Right now, we're not fully taking advantage of benefits of a full tab/screen UX. The UI is responsive and duplicated in both form-factors (tab and extension modes). For our next big enhancement in the desktop/browser experience should be to consider enhancing the ux by looking at how MM on full-screen mode can improve the experience. As an aside, this will be a good strategic move to consider for

[2018-10-21 22:49] brunobar79 opened #76 "Create custom error pages for the browser"
I've added some placeholder functions that will allow us to set state in the browser and show a custom error page.

We will need design for those (404, Timeout, Unknown error)
CC: @bdresser @cjeria

[2018-10-22 19:08] bdresser commented on #46
@alextsg i'm seeing part of these changes in prod -- had a tx fail on chain and it was marked "Failed" in my tx history, which is great.

But the Activity Log didn't update or have any additional info -- bug, or not implemented yet? want me to make an issue or you got this handled?

<img width="2245" alt="screen shot 2018-10-22 at 12 06 39 pm" src="https://user-images.githubusercontent.com/1016190

[2018-10-23 01:14] alextsg commented on #46
@bdresser Yeah I just need to implement that - the data for the on-chain failure is coming from a difference source from the activity log so I just need to consolidate the information. Will have that done shortly so you don't need to create a new issue. Thanks.

[2018-10-23 10:01] alextsg commented on #46
@bdresser PR for the above: https://github.com/MetaMask/metamask-extension/pull/5581

[2018-10-24 17:14] cjeria commented on #36
Looking over the thread above and the design that @denis-sharypin suggested, I think it makes sense having the requester (dapp) show up on the left and the recipient (user account) on the right. Since the assumption would be that most dapps wouldn't have a main action button for users to connect at first. @bdresser @bitpshr Thoughts?

![image](https://user-images.githubusercontent.com/597770/47434

[2018-10-24 17:56] bdresser commented on #36
looks great @cjeria! agree the dapp on the left makes sense, good edit.

for consistency's sake, can we re-use one of the top-bars we have across the extension now, rather than introducing a new one just for this popup?

Might make sense to use this one, which would also give the user the ability to change the account they're using to connect

<img width="346" alt="screen shot 2018-10-24 at 10 55

[2018-10-25 21:58] cjeria commented on #36
@bdresser In both cases, the two headers are used in contexts that don't apply to the connect screen.

The main app header doesn't make sense here because we don't provide the ability to change networks or change accounts in any of the action screen.

The screenshot below (with the Edit button) is specifically for confirm transaction screens, where the user can edit the gas of the tx. It wouldn't

[2018-10-26 00:22] bdresser commented on #36
Alright, fine by me.

Gonna do one last call for thoughts before marking `done` in design and kicking off to @danjm and @whymarrh 🚀

[2018-11-08 20:47] bdresser opened #49 "Opt-in screen for analytics"
We need to show users a screen that asks for opt-in screen to  allowing MetaMask report basic usage metrics. We very much want people to enroll (rather than opt-out) so that we have data that can inform our product development. At the same time, it's important to (a) allow users to opt-out if they want to, and (b) inform users about what specific privacy protections we can promise.

Some text we m

[2018-11-27 01:15] omna commented on #49
Could we add the following point to this @bdresser?
Metamask will..
- allow users to sign-up for user research. in this case only, their email address will be asked to reach out to participants

[2018-11-27 21:40] bdresser commented on #49
I think it might be better to include this in a separate step - maybe a banner on the home screen, as we discussed? We want to do as much as possible NOT to scare people away from the metrics opt-in, and asking for an email address or complicating the UI with a double check box may affect the rate of people who consent.

If we're explicitly asking for research opt-in separately, I don't think we n

[2018-11-27 21:49] omnat commented on #49
Oh yes - my bad! You are right, not in the opt-in flow, but this will live in a banner/prompt and settings.

[2018-11-27 22:07] 2-am-zzz commented on #49
Where will the email be inputted? When they opt-in?

[2018-11-27 22:17] omnat commented on #49
Email to be inputted after a user signs-up for user research. This would be another opt-in option (NOT in the main analytics opt-in screen, but perhaps in the Settings menu?), and prompted sometimes to bring it to users' attention that this option to participate in user research exists.

Good to make it clear to users that if they sign-up for research, their analytics data will be associated with

[2018-11-27 22:40] 2-am-zzz commented on #49
Cool--hopefully it passes through GDPR compliance.

[2018-11-27 22:41] bdresser commented on #49
Sounds good - agree this secondary "contact me for research" opt-in should be very explicit. And (per slack) will probably be a second step after metrics MVP is live.

[2018-11-28 18:49] bdresser commented on #76
accelerometer fun? tilty fox?

[2018-12-12 17:43] bdresser commented on #43
Research plan for round three is [here](https://docs.google.com/document/d/1dwlCAYj-OREEU9Nz8j0VrQK3GqG-IocSCTF7abOlKms/edit#heading=h.dj8la97ba0j4)

[2018-12-14 22:33] bdresser opened #50 "Backup Design & Research"
__Primary goal:__ help reduce the number of people who lose access to their account because of lost seedphrase & password
__Secondary goal:__ make it easier to restore MetaMask data, including account names, tx history, (eventually) address book

## File Download
_Most flexible option (user can do anything with backup file), encryption optional but recommended_

__Backup:__ User downloads a file t

[2019-01-09 20:40] bdresser commented on #49
language per our legal team

"MetaMask would like to gather basic usage data to better understand how our users interact with the extension. This data will be used to continually improve the UX of our product. If you care about the usability of the Ethereum ecosystem, please consider allowing these basic analytics. This data is aggregated and is therefore anonymous for the purposes of General Data

[2019-01-12 16:52] danfinlay opened #51 "Allow switching value denomination on send"
I know we have system wide default for showing fiat or crypto when showing values, but for sending, everyone needs the ability to switch it spontaneously. Sometimes I want to send 1 eth, sometimes I want to send 10 dollars of eth.

Jaxx has a great switcher for this on their wallet for inspiration.

Not finding this setting can be frustrating for users: https://www.reddit.com/r/Metamask/comments/a

[2019-01-15 23:38] bdresser commented on #38
From https://github.com/MetaMask/metamask-extension/issues/6020 - even with our small warning, apps often ask for approval of large sums and we show a scary scientific notation value (cc @omnat )

![image](https://user-images.githubusercontent.com/1016190/51217074-9187a080-18db-11e9-8e8b-01b7115c13c5.png)

[2019-01-22 21:56] danfinlay commented on #49
That language is _very_ verbose, I think you could probably hide most of it behind a "Learn more" link.

How about just:

[2019-01-22 21:59] bdresser commented on #49
sounds good to me @danfinlay

we do need to include the GDPR line at the legal team's request.

How bout

Could even have that last sentence in a light gray or something.

[2019-01-23 07:32] bahnju commented on #49
![option_1](https://user-images.githubusercontent.com/32208835/51589795-448c6700-1ea5-11e9-8c5f-48d08486ef8f.png)

Above is what I think is a good option for this but definitely can change. Process and notes here: https://docs.google.com/document/d/11gBjDnn0WBI73zHj0tq8P5vu3aTpf7qb_0TdIweThVw/edit?usp=sharing

[2019-01-23 18:16] bdresser commented on #49
thanks @bahnju! good stuff.

- we've spoken with the legal team in the past about making the terms / privacy policy step smoother, but they insist that a scroll-to-bottom approval is the most legally defensible. they're being really cautious about this. I'd love to improve that screen at some point (it's not super obvious you need to scroll down) but that is a project for another day. for now, we

[2019-01-23 21:21] omnat commented on #49
Thanks @bahnju! Left comments on Figma prototype.

Largely echoing Bobby's feedback on _asking_ people for consent instead of a pre-filled checkbox: while this adds 1 more step while users interact with the app, it also adds a sense of control. Sharing intentionally is more important experience we want here for reasons mentioned by Bobby.

+1 on inviting visuals to complement copy

[2019-01-26 16:44] lyricalpolymath commented on #51
+1 this was a frustrating interaction
you could make the second smaller denomination clickable
and when you click it, it becomes the main input field
it switches with the current main option

[2019-02-13 12:15] tmdoit-zz commented on #14
The only valid UX to access dapps is the same as for apps. People shouldn't change their behaviour because internet architecture changes. Browsers should support dapps natively. People don't bother about web 2, why they should bother with its third version?

[2019-04-02 13:23] #20 closed, assigned to nobody

[2019-04-02 13:23] #21 closed, assigned to nobody

[2019-04-02 13:24] #23 closed, assigned to nobody

[2019-04-02 13:25] #27 closed, assigned to nobody

[2019-04-02 13:26] #28 closed, assigned to nobody

[2019-04-02 13:30] #32 closed, assigned to nobody

[2019-04-02 13:30] #34 closed, assigned to nobody

[2019-04-02 13:44] #47 closed, assigned to cjeria

[2019-04-02 13:46] #49 closed, assigned to nobody

[2019-04-02 13:47] #2 closed

[2019-04-02 13:48] #51 closed, assigned to nobody

[2019-04-02 13:48] #42 closed, assigned to nobody

[2019-04-02 14:11] #13 closed, assigned to nobody

[2019-04-02 14:11] #6 closed

[2019-04-02 14:12] #5 closed

[2019-04-02 14:14] #19 closed, assigned to nobody

[2019-04-02 18:11] bdresser commented on #40
this was implemented 12/2018

[2019-04-02 18:11] #40 closed, assigned to nobody

[2019-04-02 18:11] bdresser commented on #30
this was implemented as part of batch transactions
<img width="362" alt="Screen Shot 2019-04-02 at 11 10 28 AM" src="https://user-images.githubusercontent.com/1016190/55425768-12982080-5538-11e9-9861-08ae39abad51.png">

[2019-04-02 18:11] #30 closed, assigned to nobody

[2019-04-02 22:11] omnat opened #52 "Address Book - Management"
Design: https://www.figma.com/proto/giaffk6qfl9eMMjoPFjJkGnt/Contact-List?node-id=0%3A1&viewport=366%2C92%2C0.11397&scaling=min-zoom

Dev issue: https://github.com/MetaMask/metamask-extension/issues/6365

[2019-04-02 22:16] omnat opened #53 "Address Book - Send flow"
Design: https://www.figma.com/proto/giaffk6qfl9eMMjoPFjJkGnt/Contact-List?node-id=0%3A1&viewport=366%2C92%2C0.11397&scaling=min-zoom

Dev issue: https://github.com/MetaMask/metamask-extension/issues/6365

[2019-04-02 22:20] omnat opened #54 "Privacy mode by default UI"
Design: https://www.figma.com/file/foWeMNl8hQNDnxBjf2fFcbhd/privacy-mode-notice?node-id=0%3A1

Dev: https://github.com/MetaMask/metamask-extension/issues/6352

[2019-04-02 22:22] omnat opened #55 "Onboarding wizard"
Design : https://www.figma.com/proto/UH84n1sw8CwlKKzwq5h6ATMg/Onboarding-wizard?node-id=0%3A1&viewport=487%2C-3237%2C0.297632&scaling=min-zoom

Require visual design

[2019-04-02 22:27] omnat opened #56 "Tabs & in-browser navigation"
@omnat to give research, inspiration as starting points
@cjeria to jam with Bruno on this

[2019-04-02 22:28] omnat opened #57 "Payment request"
Brief: https://docs.google.com/document/d/1e1w93XkXFnpiSg4nuj-S36jGSimlHGiAaxu5YCcD_mA/edit#heading=h.z5etji6xe44v

@omnat to walkthrough this with CJ
Conditional user testing (depending if the design is a new pattern)

[2019-04-02 22:35] omnat opened #58 "oCap MVP: Login Per Site"
Brief: https://docs.google.com/document/d/1bWfX-3aNezvvQZUaGYhDWWdPs0XPImbttRJte-JCscU/edit

Dev issue: https://github.com/MetaMask/metamask-extension/issues/3383

[2019-04-02 22:39] omnat commented on #58
### Strong user insight:
I use different accounts (“identities”) for different dapps. Currently, I name these accounts, so I can switch and login/connect with the correct account.
But, it’d be easier if I didn’t have to remember which account I used for which dapp.

**Use-case: Let user connect Account 1 to Dapp A, Account 3 to Dapp B. Also, don't show my Account 1 address to Dapp B.**

### UX imp

[2019-04-02 22:44] omnat opened #59 "Opt-in screen for metrics"
For mobile metrics, add opt-in screen in mobile app onboarding.
This could be similarly done as in extension, while keeping best practices for mobile (especially iOS) in mind

[2019-04-02 22:51] omnat opened #60 "Typography"
Dev:
https://github.com/MetaMask/metamask-extension/issues/6369

Design:
https://www.figma.com/file/aWgwMrzdAuv9VuPdtst64uuw/Style-Guide?node-id=211%3A0

[2019-04-02 22:54] omnat opened #61 "Full-screen navigation"
No dependencies.
Feedback from expert review in the prototype.

https://www.figma.com/proto/XE1iNQZHtgpnHE64XVXnD52C/Desktop-Full-Screen-(Explorations)?node-id=1%3A476&viewport=342%2C356%2C0.222474&scaling=min-zoom

[2019-04-02 22:57] omnat opened #62 "Onboarding research"
What’s current experience like in extension (metrics indicate confusion).
- Create/Import account

Do testing with:
- Address book send flow
- Onboarding wizard design
- (maybe) Payment Request

[2019-04-02 22:59] omnat opened #63 "Private beta Qual feedback"
- Reach out for qual feedback: Current experience, plus continued engagement (stickiness / retention)
- Nudge for more participation + kudosss: survey?

[2019-04-02 23:02] omnat opened #64 "Top dapp builder problems"
Problem mapping from previous research (compiled in Productboard)

[2019-04-03 17:57] omnat opened #65 "Fox animation"
Requirements for dev on:
Where & when in the flow
How long

[2019-04-03 21:04] cjeria commented on #65
Gif preview of the video sequence and here's an MP4 of the same video https://www.dropbox.com/s/noe0r2o9225ddyr/mobile%20splash%20screen%20animation.mp4?dl=0

![Screen Recording 2019-04-03 at 05 58 PM](https://user-images.githubusercontent.com/597770/55512873-9e927100-563a-11e9-844a-79faf2346b24.gif)

[2019-04-03 21:17] omnat commented on #65
Note: if loading is taking longer, loop it for 1 or 2 times more and end similar way as shown in gif above.

Three places to use this same pattern:
- launching app (like shown in gif)
- loading during the ‘creating your wallet..’ screen
- in the browser when a url is loading

[2019-04-04 19:35] bdresser opened #66 "Introduce linkdrop flow"
As described in the [feature brief](https://hackmd.io/_K-_peV6Sk22ZDX42zxbkg), we should find a way to help users invite new ETH users with a linkdrop.

For MVP starters, this could be a simple link that takes the user to the eth2.io site. We may want to include an intermediate page that explains how it works. See questions section on the brief for a range of other considerations.

[2019-04-04 20:02] cjeria commented on #52
Address flow prototype here: https://www.figma.com/proto/giaffk6qfl9eMMjoPFjJkGnt/Address-book?node-id=45%3A1108&viewport=144%2C-1158%2C0.462193&scaling=min-zoom

[2019-04-04 20:07] bdresser commented on #26
Relates to https://github.com/MetaMask/metamask-extension/issues/133

[2019-04-04 20:40] #26 closed, assigned to nobody

[2019-04-04 20:58] cjeria commented on #53
Made updates the send flow in the prototype linked above. Feedback welcomed!

[2019-04-05 18:40] bdresser commented on #52
@cjeria talking with @jennypollack - can we get a mock for the edit state for this screen?

<img width="333" alt="Screen Shot 2019-04-05 at 11 37 20 AM" src="https://user-images.githubusercontent.com/1016190/55649248-648ab180-5797-11e9-8fe7-1eb5e3469171.png">

also, noticed that addresses are chunked in groups of four characters -- we don't do this elsewhere in the extension, and it's not a standa

[2019-04-07 14:16] cjeria opened #67 "Contract Account Support"
Contract accounts are a building block that will enable a lot of awesome usability improvements for dapps & wallets, like:
- Social recovery
- 2FA transaction confirmation
- Team wallets
- Cheaper transactions

Design Brief
https://docs.google.com/document/d/1E5lsV9kvfCFLQRwMzRBMbPfoGbtqIzCLvPEOCob5j4E/edit

[2019-04-08 21:21] cjeria commented on #53
Quick 3min video explainer of an optimized flow that reduces the number of clicks introduced from the previous iterations. The prototype link remains the same. cc @omnat @bdresser @danjm @jennypollack @frankiebee
https://www.dropbox.com/s/cwmlvp2z5ls0hl1/send%20flow%20with%20address%20book%20-%20optimized.mov?dl=0

[2019-04-08 21:44] bdresser commented on #53
love this @cjeria! just as functional, but feels way smoother & more in keeping with our current design. good stuff 👍

[2019-04-08 21:45] omnat commented on #53
Great! I like this a lot Christian! Addressed all those concerns in an elegant way!

[2019-04-09 17:44] cjeria commented on #52
Here's an explainer video of the latest iteration of the address book ux in settings. https://www.loom.com/share/72d30d7302b844518ae59872c8512831

cc @omnat @jennypollack @bdresser

[2019-04-09 17:45] cjeria commented on #52
Contact design (new)
<img width="333" src="https://user-images.githubusercontent.com/597770/55822470-47225400-5ac5-11e9-9229-ed30953dc7a9.png">

Edit state
<img width="333" src="https://user-images.githubusercontent.com/597770/55822487-53a6ac80-5ac5-11e9-84e3-cde5ead72798.png">

[2019-04-09 17:47] omnat commented on #64
Problems captured in Mural. Will continue the work on design strategy. Walked Christian through the problems.

Next steps:

- Brainstorm and define design projects. (April 12)
- Prioritize and plan them with Bobby. (Next sprint)

https://app.mural.co/t/consensys3989/m/consensys3989/1554418085338/01ad5ed299914c142f5da26ec38e6b00c91e7611

[2019-04-09 19:33] omnat opened #68 "Private beta user feedback"
- Surveys
- Interviews

[2019-04-09 21:45] #65 closed, assigned to nobody

[2019-04-09 21:50] omnat opened #69 "Sign / Tx request work-session with dapp designers"
Follow-up for more info on top problems: Signature/Transaction request

So far, we have learnt these pain points:

- sign requests are incomprehensible "Unknown function", "0.00ETH", "hex data: @#!@#!$", "message signing request"
- there's dissonance between people's mental model of a "transaction" and how we treat call a "blockchain transaction". so when a request is asked of the user that they d

[2019-04-09 21:51] #64 closed, assigned to omnat

[2019-04-09 21:58] bdresser commented on #24
as of v5 or so, we open the extension in a full tab after download

[2019-04-09 21:58] #24 closed, assigned to nobody

[2019-04-09 22:33] cjeria opened #70 "Test Urgent Issue"
Test URGENT issue intended only for issues that need immediate design help.

[2019-04-10 19:13] omnat commented on #62
Consider adding **how people get crypto now** research question to this

[2019-04-15 20:19] omnat opened #71 "Sign request Insight share"
- Capture insights and recommendations per Sign request chat with dapp designers

[2019-04-15 20:27] omnat opened #72 "Add token selection to Send screen"
Design QA for Jacky's build
https://github.com/MetaMask/metamask-extension/pull/6445#pullrequestreview-226112914

[2019-04-17 00:39] omnat commented on #55
https://www.figma.com/proto/UH84n1sw8CwlKKzwq5h6ATMg/Onboarding-wizard?node-id=244%3A677&viewport=1125%2C-497%2C0.355727&scaling=scale-down

[2019-04-17 17:26] #69 closed, assigned to omnat

[2019-04-17 17:52] omnat opened #73 "Sync with extension option more discoverable"
Insights and **design needs** from private beta feedback:

- people tend to go to 'Start exploring' even when they have a MM wallet they could sync.
**Sync feature should be made more discoverable and expectation set on its easy and fast**
- after creating a new wallet and being in the app, when they want to sync/import their wallet, it seems like its not possible or they get confused by 'Import a

[2019-04-17 17:55] bdresser commented on #59
Per this [flow diagram](https://www.figma.com/file/SS6j137wIvqXYiyltHJ7rspz/Mobile-Onboarding?node-id=0%3A1), metrics opt-in should be the last step in every flow (just before user lands on the wizard)

[2019-04-17 17:55] bdresser commented on #56
from Bruno:

https://cdn-images-1.medium.com/max/400/1*U3ZooChvMWkQoYmdcnBs0A.gif

[2019-04-17 17:55] bdresser commented on #56
relates to https://github.com/MetaMask/MetaMask/issues/417

[2019-04-17 18:24] bdresser opened #74 "Connect Coinbase account"
from the Brave team:

if we want to support this feature, where does it go in the app? part of the `import` or `connect` tabs? its own tab?

We can assume the user bounces to coinbase to authenticate

![image](https://user-images.githubusercontent.com/1016190/56311383-c259ba80-6102-11e9-9946-95326afff8f0.png)

![image](https://user-images.githubusercontent.com/1016190/56311390-c5ed4180-6102-11e9-8

[2019-04-17 18:36] bdresser commented on #57
in public beta, may want to link out to the Simplex page as an option for fiat onboarding

relates to https://github.com/MetaMask/metamask-extension/issues/4867

[2019-04-17 21:05] #25 closed, assigned to nobody

[2019-04-22 15:33] bitpshr commented on #76
Removing myself from this until we have designs for these pages. @cjeria, any update on this by chance?

[2019-04-23 16:39] bdresser opened #75 "Update UX for sweeping account"
In the Send flow, the "max" option could be a toggle state, where if it's enabled it will dynamically update the send amount as the user changes gas. This will help prevent users from having a small amount of ETH left over when they try to empty an account

dev work nearly complete here: https://github.com/MetaMask/metamask-extension/pull/6488

[2019-04-24 17:16] cjeria commented on #57
Gif of the initial lo-fi prototype of the payment request feature that @omnat's been testing.
<a href="https://cl.ly/938df41eaa03" target="_blank"><img src="https://d2aztkdj0ezvrk.cloudfront.net/items/1O121U160V3u0s472M2V/Screen%20Recording%202019-04-24%20at%2012.11%20PM.gif" style="display: block;height: auto;width: 100%;"/></a>

[2019-04-24 17:18] bdresser commented on #57
what about a "Show QR" option in addition to Send & Copy?

I see the QR option on the previous tray, but it'd be nice to also be able to encode an entire transaction (can I have .5 ETH) and just show that to a friend, who could scan & just tap "Confirm"

Also not super keen on the copy
`Receiver will need the link below to send requested amount`
* either party could be the "receiver"
* they don't

[2019-04-24 17:28] bdresser opened #77 "Final Dapp Homepage"
Feature brief is [here](https://docs.google.com/document/d/1cpaVEweHOBu5S58lV4nJZfrXQe45GSvlGqJgBh-CeFI/edit#)

Dev issue & background discussion https://github.com/MetaMask/MetaMask/issues/539

[2019-04-24 17:54] bdresser commented on #57
From design sync

* Add gas fee on top of the requested amount
* Add option to change asset being requested (maybe a simple drop down with autocomplete)
* Flow for when the other user taps a link
  * Drops other user in edit/send screen with amount, asset, address pre-populated
  * Ideally is possible to open the link in other apps as well

[2019-04-24 17:58] bdresser commented on #56
http://recordit.co/PKcKSNUx2L

@omnat may have some other brower-like insights to share
* many people looking to the *top* bar for browser controls?
* maybe worth re-visiting / re-testing after tabs exist? (user testing with real prototype or something?)

default tab behavior may influence need for a "home" button on the bottom nav bar. aka -- if new dapps are opened in new tabs, it's easier to re

[2019-04-24 18:01] danfinlay opened #78 "Onboarding forwarder"
## Problem

Today when a Dapp wants to onboard a user, they have to direct the user to install MetaMask, and then the user has to find their way back to the dapp.

## The idea

We can provide a special site that Dapps can link to for onboarding new users, which is able to automatically redirect the user to the site that sent them after the user gets their account set up!

## The Implementation

Ou

[2019-04-24 19:52] bdresser opened #79 "Incremental account security on extension"
We should adapt the mobile "incremental security" flow for the extension

To start, may make sense to leave onboarding as-is (ask the user to backup their seed) but just include a "skip" option, which would trigger the account security flow later (when the user has value)

Dev issue https://github.com/MetaMask/metamask-extension/issues/5849

Figma [here](https://www.figma.com/file/5c9pypHsGvPFIWaK

[2019-04-24 20:08] bdresser commented on #72
This has been merged!

[2019-04-24 20:08] #72 closed, assigned to cjeria

[2019-04-24 22:13] bdresser commented on #78
Since we have to open the fwd.metamask.io page anyways, it could make sense to intentionally show it for a brief moment with some helpful instructions. like:

[code]

So we let the user read it to prime them about what is happening. Include some cute graphics. Maybe automatically send them along to the chrome store after 10-15 seconds or so.

Otherwise it seems a little buggy/spammy and folks may

[2019-04-24 23:29] bdresser commented on #54
@cjeria the mock you added to the figma looks good! (pasting below because i had to do some weird webGL thing to open the figma file)

I think we can make the copy a little clearer. Something like:

`Having trouble connecting to this dapp? MetaMask now enables Privacy Mode by default. If this site doesn't support Privacy Mode, click below to share your address. (Read more...)`

Button: `Share my a

[2019-04-25 18:12] bdresser commented on #54
From design sync
* have the CTA include context: "Share your address with cookie.com"
* maybe move notification toast to the top?

[2019-04-25 18:32] bdresser commented on #79
from Dan in design sync: "make the button scary!"

from Christian: maybe have a persistent banner that tells the user their account isn't secure.

[2019-04-25 18:37] bdresser commented on #74
@danfinlay to share more info from Brave when they have it

[2019-04-25 22:56] omnat commented on #71
design jam here https://app.mural.co/t/consensys3989/m/consensys3989/1554826137440/887087fa25d6edb4a69a40899b086c6bbb77b172

outcomes here:
https://www.figma.com/file/e4KriNtpo80qONJMULQtCLDS/Research-outcomes-Sprint-4.13-4.26?node-id=0%3A1

[2019-04-25 22:57] #71 closed, assigned to omnat

[2019-04-25 23:05] omnat commented on #63
Outcomes here:
https://www.figma.com/file/e4KriNtpo80qONJMULQtCLDS/Research-outcomes-Sprint-4.13-4.26?node-id=33%3A5

[2019-04-25 23:05] #63 closed, assigned to omnat

[2019-04-25 23:35] bdresser opened #80 "Improve Confirmation Screens"
Metrics have told us that the bulk of ALL user actions (anywhere from 70-90%) are on/around the Confirm screen. Almost half of all confirm screens are "contract interactions," which are perhaps our least well-designed confirm screens.

@omnat 's user research with dapp developers has also highlighted a lot of pain points with these screens, some of which are documented on this [Figma](https://www.

[2019-04-25 23:40] omnat commented on #58
Design consideration:
Where does this setting gets indicated - in MM or dapp?
"In MM, as a user I'd like to then see a list of dapps I am connected to with which account"

[2019-04-25 23:44] omnat commented on #56
Strong insights from private beta feedback (surveys and interviews):

Browser navigation needs improvement:

- Users expect a more accessible way to get to ‘Home’.
- Users tend to tap URL to change URL/search, but it opens up network switcher. This is frustrating, unexpected.
Network switcher should be a level lower in navigation heirarchy as per frequency of use.

[2019-04-25 23:55] omnat commented on #77
Insight from private beta & onboarding wizard (what makes you come back to Metamask and use it continually?)

**dapp browser is key for driving usage!**
- If there are dapps people go back to again  and again (like Augur, Uniswap), they use MM. If there's no app they see interesting for day2day, then its hard to keep engaged with the browser
- Selecting featured apps crucial as in general dapps ar

[2019-04-26 18:53] bdresser commented on #80
also should consider
* a format for approving Meta Tx
* a confirmation screen for "change networks" API

[2019-04-29 16:32] omnat commented on #54
When the user can't connect to a dapp, but a dapp is trying to.. this prompt opens automatically, right? To pro-actively tell the user what's happening and guide them towards action.

As discussed earlier, I am assuming that the user doesn't have to self-initiate opening the Metamask modal.

[2019-04-29 16:47] cjeria commented on #54
@omnat Unfortunately, the user will have to open the MetaMask extension to see this prompt (it's not a popup). We've discussed other options like using a pop up instead (like the Connect pop up) which sounds like it's feasible to do, however, the reason we decided against it if I recall, was that it was too similar to the proper Connect Request UX.

Looking at all methods for accomplishing the sam

[2019-04-29 17:15] omnat opened #81 "Follow-up Onboarding research; Newb stories"
Capture
WHY - Help team get in newb users heads (empathy)
WHAT - Capture stories and recording snippets

Apply
WHY - Envision an ideal experience for new users
WHAT - Ideation low-fi sketches, content design & dialogues

[2019-04-29 17:19] omnat opened #82 "Research outcome organization"
WHY - make it all accessible, easy to view

[2019-04-29 17:21] cjeria opened #83 "Payment Request: Receiver Flow"
Design jam whiteboard. Related to #57

https://app.mural.co/t/consensys3989/m/consensys3989/1555436990752/2decd93e46c813e6414dedeba87f70417cbcfb38

[2019-04-29 17:23] bdresser commented on #77
Apple doesn't like the "native app store experience" -- but as long as it's a webpage we should be fine.

[2019-04-29 17:30] estebanmino commented on #59
@cjeria any update on this?

[2019-04-29 18:07] cjeria commented on #59
@estebanmino yep! Here's a link to the design file

https://www.figma.com/proto/SO5vb4lF4aVG04LNTOjmsABC/Opt-in-screen-for-metrics?node-id=0%3A1&viewport=61%2C-103%2C0.833973&scaling=min-zoom

Notes:
- make the message scrollable
- fix the buttons to the bottom of the page

See screenshot
![image](https://user-images.githubusercontent.com/597770/56916933-c6c99000-6a7f-11e9-9cf3-f76611bac8d3.png)

[2019-04-29 18:37] cjeria commented on #54
![image](https://user-images.githubusercontent.com/597770/56918514-dc40b900-6a83-11e9-9c29-b80f4bb55fd5.png)

[2019-04-29 18:46] omnat commented on #54
Got it! Thanks @cjeria
Agree with the unifying effort related to #80

[2019-04-29 18:47] #62 closed, assigned to omnat

[2019-04-29 18:48] omnat commented on #62
Notes [here](https://docs.google.com/document/u/1/d/1mSFIPkTBBLPHlZuS5F6uOPLQ7poD1jkTvCgwCYzKTTk/edit)

Outcome from this research [here](https://www.figma.com/file/e4KriNtpo80qONJMULQtCLDS/Research-outcomes-Sprint-4.13-4.26?node-id=33%3A4)

Follow-up issue #81

[2019-04-29 18:49] bdresser commented on #59
as we did in the extension, can we cut that last line of copy?
`If you care about the usability of the Ethereum ecosystem, please consider...`

Privacy Policy link goes [here](https://metamask.io/privacy.html)

Also, specific promises about what we track are subject to change once we pick a metrics system, but let's leave them like this for now

[2019-04-29 18:53] omnat commented on #57
From design sync:
- visual design pass on the sender flow

Design receiver flow in different issue #83

[2019-04-29 19:18] omnat commented on #58
From design sync:
- UI research to see how other products do this. Like how google allows account sign-in, or how some apps indicate you signed in with a different account etc.

To design this for web3 context, and leverage our understanding of how people use their web3 identities (which are essentially connected to their funds).
- Research insights around how people tend to use accounts as identi

[2019-04-29 19:26] omnat commented on #77
From design sync:
- Omna to make it visual and setup a design jam with christian bobby on this later in the sprint
- Would we consider doing this for desktop too? (responsive design aspect)
- List of featured dapps: @cjeria has ideas inspiration (from Robinhood) about having fun interactive education nuggets through this

[2019-04-29 19:35] omnat commented on #79
from design sync:
- Omna to setup a Mural jam call to put it all together per differences from mobile and how we adapt mobile designs to desktop/extension

[2019-04-29 20:03] omnat opened #84 "TruffleCon workshop design"
First draft [here](https://docs.google.com/document/d/19kQQrWBbXlkgsctdJTbblrKJA5zedbPxEU7IHCP4vdE/edit#)

Refine it, and get ideas from Design Research folks on how to design this workshop for effective outcome and solid engagement.

[2019-04-30 21:27] estebanmino commented on #59
@cjeria I get a 404 with that figma link, could you please give me the correct link? thanks!

[2019-04-30 23:18] omnat commented on #59
@estebanmino invited you, it should work now

[2019-05-01 15:50] cjeria commented on #54
Adding updated design.

Changes include:
- Slightly updated copy
- Centered button link and added site URL

Any final feedback is welcomed.

<img width="330" src="https://user-images.githubusercontent.com/597770/57026086-7c225200-6bfe-11e9-82d8-57a616bf4567.png">

[2019-05-01 16:42] bdresser commented on #54
This looks really great @cjeria !

Maybe bold the first line rather than "Privacy Mode"? Even though it's big and yellow, good to be super clear about the topic.

[2019-05-01 17:27] bdresser commented on #56
bruno will merge the WIP tabs branch by end of week and we can QA / iterate on the live version

some learnings
* tab thumbnail is a screenshot of the website - works fine on iOS, not so good on Android. Maybe use the favicon (on Android) instead?
* some lil bugs bruno is workin' on

[2019-05-01 17:29] bdresser commented on #77
on implementation side - could even store a copy of the page so it doesn't have to actually load when the user hits it

[2019-05-01 18:12] bdresser commented on #54
Could we also add a `1` to the metamask icon in the browser bar so users know there's something in there?

[2019-05-01 18:12] bdresser commented on #54
cc @danfinlay @whymarrh this look okay to y'all?

[2019-05-02 21:47] cjeria commented on #57
@bdresser @brunobar79 we're not considering NFT's for the request flow right?

[2019-05-03 20:45] omnat commented on #55
![Onboarding wizard insights](https://user-images.githubusercontent.com/44038140/57164694-c431a800-6da9-11e9-9cbe-191baaccfbf3.png)

[2019-05-03 20:55] omnat commented on #81
Outcomes compiled here: https://www.figma.com/file/e4KriNtpo80qONJMULQtCLDS/Research-outcomes-Sprint-4.13-4.26?node-id=33%3A4

![First impressions of Metamask](https://user-images.githubusercontent.com/44038140/57165116-090a0e80-6dab-11e9-8e04-b6d3b1d2abe1.png)

![Trust determinants](https://user-images.githubusercontent.com/44038140/57165126-0f988600-6dab-11e9-9052-8bea5a4240c7.png)

![Onboarding

[2019-05-06 17:20] cjeria commented on #57
Updated payment request flow.

Up next:

- [x]  Adding ETH to fiat swapper
- [x]  If sending tokens, need to represent the token value + fiat conversion
- [x]  Consider adding token symbols to request amount screen
- [x]  Custom icons on the first receive option screen

<a href="https://cl.ly/cb29f285a8dc" target="_blank"><img src="https://d2aztkdj0ezvrk.cloudfront.net/items/3i2f321n3n2C0c472r1Y/S

[2019-05-06 18:20] cjeria commented on #57
Here's an updated design. If the user selects a token to send, display the token symbol in the amount screen.

<a href="https://cl.ly/864d449ed47e" target="_blank"><img src="https://d2aztkdj0ezvrk.cloudfront.net/items/0i000B1W0u3o2Q3k3t2X/Screen%20Recording%202019-05-06%20at%2001.17%20PM.gif" style="display: block;height: auto;width: 100%;"/></a>

[2019-05-06 18:37] omnat commented on #57
User test outcome below. Suggestion to highlight one of the 3 options on the last screen to inspire finishing of action. And the standard practice to add a confirmation after request is sent.

Question: will this sent request be stored in user's history? E.g., as a user, can I see all the requests I've made in the past and status on those (which ones succeeded, which ones rejected, and which ones

[2019-05-07 15:41] estebanmino commented on #57
We can surely save the information of the requests that an user has sent.

`which ones succeeded, which ones rejected, and which ones pending`: we don't have the architecture to do this yet, as a payment request receiver you'll be able to send the transaction but not be able to directly (through MM) reply the status of it, yet.

[2019-05-07 21:26] cjeria commented on #57
Updated request page per user research @omnat
![image](https://user-images.githubusercontent.com/597770/57334190-a7b4a900-70e4-11e9-93a3-a1e48d2e9782.png)

[2019-05-07 22:00] omnat commented on #55
Design QA notes on actual build:

- The copy doesn't work when synced with Metamask extension. Copy update suggestion:
**"Why not give your account a memorable and distinct name!
Tap now to edit account name!"**

  <img src="https://user-images.githubusercontent.com/44038140/57334081-9911c600-70d3-11e9-8bad-c5369a23185f.jpg" width="200" height="400">

- **Yet to update: the circular touch indicati

[2019-05-07 22:04] cjeria commented on #75
New designs for the max toggle button:

Link to Figma: https://www.figma.com/proto/Ko47bJeCdyCKsePa2ObWGjln/Send-Screen?node-id=1%3A367&viewport=461%2C169%2C0.651491&scaling=min-zoom

<a href="https://cl.ly/8dff77178a86" target="_blank"><img src="https://d2aztkdj0ezvrk.cloudfront.net/items/290c0v1E0r1X131G2x2y/Screen%20Recording%202019-05-07%20at%2005.01%20PM.gif" style="display: block;height: aut

[2019-05-07 22:11] bdresser commented on #57
This looks great @cjeria!

Question for esteban and bruno: do you think the link will be as short as the one shown, or should we design for the case where the link ends up super long (and give a `...` in the middle or something) ?

We could theoretically show each of these links in the users tx history as a `request` ? But as esteban points out, we won't know much additional information about thes

[2019-05-07 22:24] estebanmino commented on #57
I think the second case would be the best here, for example to send 1 ETH in mainnet we have

`ethereum:0x56CED0d816c668d7c0ccc3FBF0aB2c6896F589a2@1?value=1e18`

that won't fit in all devices screens in the same way. Furthermore, we have ERC20 tokens, a edge case for that would be an user sending an amount with many decimal places or large amount of tokens.

Bruno made this generator that is onlin

[2019-05-08 16:53] danfinlay commented on #67
More context from a new wallet:
https://medium.com/argenthq/the-private-key-to-mass-adoption-a7c7e4a9a268

[2019-05-08 17:01] danfinlay commented on #54
The current design is very wordy, and is tucked at the bottom of the window, and yellow, all of which I think combine towards making it seem unimportant, and easy to ignore.

Since MetaMask is an account manager, and its primary usage is logging into sites, I think we should treat this UI with more primacy.

I'd rather we embrace the patterns of usual account menus and just replace this whole yell

[2019-05-08 17:03] danfinlay commented on #54
All that said, if this is just MVP, and we're about to revisit this for [login-per-site](https://github.com/MetaMask/metamask-extension/issues/3383), then I would say go ahead with it.

At that point, we'll also want the ability to let the user select the account to sign in with, and so an account list might be the better "you're not logged in" view. Maybe something like this, from MetaMask/metama

[2019-05-08 17:25] bdresser commented on #57
[Fimga link](https://www.figma.com/file/akfSHj495hySaUEvXeQH0NNp/Payment-Request)

[2019-05-08 17:31] bdresser commented on #57
q's from @estebanmino

- on the partial modal, we have an X that isn't on other partial modals -- should we keep?
- how do we decide which tokens we want to show on the "pick asset" screen? maybe just show search box?  @cjeria to think about a little bit more
- @cjeria to combine QR presentations to a single modal
- when you tap the `receive +` button in an asset view, we should take the user to t

[2019-05-08 17:56] bdresser commented on #54
so @danfinlay you're ok with the design for MVP? with the suggestion that we make it more visually prominent if possible?

I do want to get this in production separately / before log-in per site

Also, we should consider the flow where the user has MetaMask locked -- would they type in their password, then click "share my address" ?

Needing to request a tab permission would be super not ideal - @

[2019-05-08 17:59] danfinlay commented on #54
Yeah, particularly because:

I hadn't seen the latest, but it still appears aligned with what I'm saying: While we can "detect if this site ever touched it", we don't know what the "current selected tab" is, so we can have a list of sites that have tried to access accounts (a method Whymarrh and I seem to agree is already imperfect, and has false positives), but we can't know which site a user is

[2019-05-08 18:01] bdresser commented on #54
I think it'd be safe to just show the yellow notification if the user has any legacy dapp open in any tab to err on the side of over-communication & awareness

[2019-05-08 18:05] danfinlay commented on #54
So if there are multiple "legacy detected" dapps (these are any dapps that check accounts before calling `connect()`, and include false positives), we should just stack these login boxes?

[2019-05-08 18:24] cjeria commented on #54
I have a hunch that this current design will work just fine, but we won't know until it's tested in the real world. I don't think @bdresser was suggesting that the notifications will stack up per legacy dapp, there would only be one if the tab you are currently on is a legacy dapp.  If two tabs are legacy dapps still only show one notification but with the corresponding URL of the tab/dapp you're

[2019-05-08 18:47] danfinlay commented on #54
This was the point we were discussing, we can't detect what your current tab is without an additional permission, and requesting it might benefit from some extra design consideration (do we want to let the user know why they're about to be asked for a new permission?)

This is more realistic, and we _might_ want design for that, and the subsequent screen where the user selects which sites to log i

[2019-05-08 21:47] bdresser commented on #75
LGTM @cjeria ! Cross-posting to the open PR

[2019-05-08 21:51] bdresser commented on #38
closing as part of https://github.com/MetaMask/Design/issues/80

[2019-05-08 21:51] estebanmino commented on #57
@cjeria RE how do we decide which tokens we want to show on the "pick asset" screen?:
While we wait for final designs I implemented both options in one as we talked today.

![SNnCZLOzyi](https://user-images.githubusercontent.com/12115171/57410742-a43f2180-71b9-11e9-8182-6adc115f1b06.gif)

Dai and ETH are assets by default, combined with a new search asset component that we can modify to match desi

[2019-05-09 02:52] omnat commented on #82
Link where you can find the UX research organized: https://www.figma.com/file/e4KriNtpo80qONJMULQtCLDS/Research-outcomes-Sprint-4.13-4.26?node-id=88%3A22

[2019-05-09 17:45] bdresser commented on #54
Really want to avoid an additional permission - our active installs took a big hit last time.

I'm in favor of loosening the copy, but still think it's wise to tell people this friction is because we're trying to protect their privacy. How about:

I don't think false positives are a huge risk because if everything works smoothly, the user will likely not decide to open the extension from the nav-b

[2019-05-09 22:17] bdresser commented on #80
chatting with @danfinlay - may make lots of sense to separate the screen for switching a network (https://github.com/MetaMask/metamask-extension/issues/5101) from the rest of the work on confirmation screens, since that might be a much larger project. thoughts @omnat @cjeria ?

[2019-05-09 22:26] omnat commented on #80
to me its another permission request for the user so falls under user permissions. the scope here is

'dAppX detects user is on a wrong network, and ~~suggests them to change it~~ requests them permission to change it'

if it should be a bigger project with larger scope, what is that scope?

[2019-05-09 23:01] bdresser commented on #80
sorry yeah my comment was not descriptive 😄

I think our work to design the confirmation screens that deal with *signing transactions* is going to be much more complicated than the screens that deal with nav or account management.

We should def keep talking about these together to start, but when it comes time to start thinking about prioritizing the design work, we should break this up so it doe

[2019-05-09 23:11] omnat commented on #80
The divisions for UI design work you mentioned here make sense to me, yes!

And agree, all 3 divisions share some conceptual & technical commonalities. And the experience design of overall **permissions design** (one-off / dynamic) is a more early stage design work and can be talked about together at this stage.

[2019-05-14 14:29] cjeria commented on #56
One aspect of the tabs view that could use improvement is the legibility of the website/dapp. Screenshots aren't always visible/clear, so I suggest we make the website favicon + URL visually larger. Here's are a couple of designs that utilize the design system colors. The right screen is an iteration that emphasizes the website name and favicon better. Feedback welcome. @brunobar79 @omnat @bdresse

[2019-05-14 17:00] #81 closed, assigned to omnat

[2019-05-14 17:00] #84 closed, assigned to jennypollack, omnat

[2019-05-14 17:01] #82 closed, assigned to omnat

[2019-05-14 17:21] cjeria opened #85 "Instant Payments (Payment Channels)"
Design Brief https://docs.google.com/document/d/1NReZQ29WWcxbwpGygWmT0jFudI7CuU6u13S07oBW7Go/edit#

[2019-05-14 17:27] omnat opened #86 "Payment Channels"
### Description
A feature that allows users to make transact free and instant transactions with select dApps (that support connext payment channel), after a 1st (with gas) setup

### Feature brief
Per discussion with mobile team here https://docs.google.com/document/d/1NReZQ29WWcxbwpGygWmT0jFudI7CuU6u13S07oBW7Go/edit#

### Scope
Hoping to bump this up for public release - high impact, competitive

[2019-05-14 17:30] #85 closed, assigned to cjeria, omnat

[2019-05-14 18:13] omnat opened #87 "Guerilla research with Metamask mobile"
Quick mobile testing with 5-6 people in cafes. Data (quotes, recordings) captured in slack channel #temp-cafe-testing.

Goal: Open-ended, to see first reactions of people outside of crypto bubble on our mobile app. Does it communicate well what it's for and is it generally easy to navigate? What are the questions people have about the Metamask? What are the concerns?

[2019-05-15 16:42] bdresser commented on #56
~both look good, want to make sure they hold up well when there are lots of tabs open – how do either behave when there's overflow?~ --> vertical scroll

- this is a universal set of tabs, so cool to represent which account is using which tab
- if you close all, only the blank "add tab" is left which takes user to the homepage
- from @brunobar79 - "close all" and "done" should probably not be bold

[2019-05-15 17:32] bdresser commented on #86
Q: payment channel is related to a specific account?
A: yes it's a child / extension of one account

Q: if i have a payment channel and send to a dapp that hasn't set up a payment channel, do i lose funds? what about if I send to another person who hasn't set up the payment channel?
A: shouldn't get in to this position with a dapp - how would the user get the dapp's address? for a person, it just

[2019-05-15 17:37] bdresser commented on #77
next steps: add visuals to design brief and @omnat jam with @cjeria

[2019-05-15 17:48] bdresser opened #88 "Make network switching consistent"
~Users report being surprised by how often the network switching modal pops up - it makes sense to move this to a less prominent point in the info hierarchy of the mobile app~

[2019-05-15 21:32] danfinlay opened #89 "Show reverse-resolved ENS names when they are detected"
Anywhere we show an address (`0x1234567890abcdef`), we _may_ be able to show an ENS name instead (`danfinlay.eth`), and when we can, we should!

Related to MetaMask/metamask-extension#5294

[2019-05-16 21:56] cjeria commented on #86
Here's the first pass at a wireframe of the `wallet` to `wallet` payment channel use case. These wires are building on @brunobar79 's POC video https://consensys.slack.com/archives/GBHSSFEN5/p1551827395051900

It's divided into three sub-flows:
1 - Deposit flow
2 - Send DAI flow
3 - Withdraw flow

Link to the figma for commenting.
https://www.figma.com/file/K1a0m5VRohRZV6EcpNzL6qxr/Payment-Channel

[2019-05-18 00:28] omnat commented on #86
Nice! Added comments in Figma file!

After reading about payment channels. I have some more questions:
1. Looks like that if a tx happens between Alice and Bob via payment channel, they both gotta sign this tx. In the design we are so far considering "signing" when a transaction is outgoing because sender is confirming the tx with their account. Right? In recipient flow, should we think of a 'clai

[2019-05-18 00:40] omnat commented on #86
Sorry for bombarding if the above doesn't make any sense. Happy to chat live about them if that makes more sense...

[2019-05-20 18:09] bdresser commented on #86
Lot of good questions in there Omna - maybe worth chatting live with @brunobar79

Just adding that from our convo in standup today, it sounds like it will be technically challenging for dapps to open state channels, so the main usecases are p2p

[2019-05-21 16:48] bdresser opened #90 "First screen for Simplex flow"
We're integrating with Simplex for crypto purchases via credit card.

While most of the flow is an iFrame from simplex that we don't control, we CAN design the first step of the flow. It asks the user for their ETH address, and amount of ETH <> amount of fiat. Both the latter fields are editable and the page will convert between the two. All other styles are totally up to us.

One from Abra looks

[2019-05-21 17:27] bdresser commented on #16
this will be handled as part of #80

[2019-05-21 17:27] #16 closed, assigned to nobody

[2019-05-21 17:27] #75 closed, assigned to cjeria

[2019-05-21 21:23] omnat commented on #90
<img width="1626" alt="Screen Shot 2019-05-01 at 3 38 10 PM" src="https://user-images.githubusercontent.com/44038140/58131567-db5afd00-7bd3-11e9-89bc-066618dd6e86.png">

Dapper has their name still there - this is good to let user know this is still in context of Metamask and is legit linking. Suggest to show MetaMask branding somewhere.

[2019-05-22 00:28] omnat commented on #86
Clarified in convo with Bruno & Christian, we are all on same page for now. Following capturing our chat today

- user can withdraw anytime, it costs gas which is deducted from their balance (behind the scenes)
- user can withdraw a % of their $ in payment channel
- there are limits to how much can be deposited - approx $8-$30 (limit is in ETH, so $ amount might fluctuate..)
- receipt from receive

[2019-05-22 01:17] omnat commented on #56
Design QA comments below:

<img src="https://user-images.githubusercontent.com/44038140/58140154-e5402880-7bf2-11e9-9d8a-3c03babf8f2f.jpg" width="200" height="400">

- (Android) feels like not enough tap space on the three top right options. @cjeria could you please advise on spacing?
- the 3 dots 'more options' button is disabled on a dapp homepage and gets activated on a dapp page. this is odd b

[2019-05-22 17:11] bdresser commented on #56
none of these options are relevant on dapp pages
* could disable,
* but maybe we just dynamically change the options to show what's relevant (like network switching #88) @cjeria to choose an icon!
* tapping the URL lets the user edit the URL

[2019-05-22 20:30] omnat commented on #79
Notes from conversation
- Keep current onboarding flow, allow skipping
- Persistent trigger to backup after value above a certain level (3 tier increments)
- Make the 'download seed backup file' option clearer (a button?)

- Create password step -- add copy from mobile explaining why its needed
- Before uninstalling -- reminder to user to back-up seedphrase if they want to recover this wallet late

[2019-05-23 17:49] omnat commented on #80
Technical questions, use-cases, and next steps here:
https://docs.google.com/document/d/1-yrO6lRmtL3hnDRS1hbTAuTB3jGgyxPmaGzYzAdfIiQ/edit

[2019-05-23 18:02] omnat commented on #87
### Theme 1: What's the purpose of this app? Why do I need it? Why should I care?

Quote of a person thinking hard on why blockchain applications, why crypto, and is it useful for her if she's not already in crypto? https://consensys.slack.com/archives/CJQUQUKK2/p1557964431009900

Recording of a person who didn't get the purpose of Metamask at all. https://consensys.slack.com/archives/CJQUQUKK2/p1

[2019-05-23 18:26] omnat commented on #79
Note from design call:

- How do we define 'low' 'high' value?
- If user Skips, add a warning to let them know this could lead to loss of account (and value in it.
Alternative to extra screen would be a 1-liner next to ‘Skip’ button (“Skipping this step could make you lose your account and value”) 

[2019-05-23 19:16] omnat commented on #77
quick form to see if these dapp list categories seem understandable by crypto-new people
https://docs.google.com/forms/d/13N_1xDdiEkHeGXoaGKrvBIYnaXJWrHyTqud8ZZDHdFI/edit

[2019-05-23 21:54] bdresser commented on #58
Based on our convo in #80, the ideal Ocaps MVP screen here would contain:

* Select an account (log-in per site)
* Dapp suggests a network to join
* Open-ended permissions list (small at first)...
  * Prove I own this account (signing data usecase)
  * Future ocaps work (spending limit etc, won't be in production to start)

cc @cjeria @omnat @danfinlay holler with questions!

[2019-05-23 22:08] bdresser commented on #89
chatting with @danfinlay

tentative hierarchy when displaying should be
nickname > ens name > address

might need a card to display adddress details

[2019-05-28 17:35] omnat opened #91 "Motivations of using top dapps"
Why are people interested in dapps? When do they use them? What do they get out of them? Adoption drivers...
Blockchain frictions and hiccups.

[2019-05-28 17:36] omnat opened #92 "Problem exploration: outside of crypto bubble"
What do people consider as the biggest problems?
How might we capture people's interest in first glance with the dapp browser? Communicate value propositions that people care about up front and well.

Started this survey to explore the questions above on a larger scale with people in crypto space and those outside the bubble. This issue is to make this survey reliable and ensure we can use these r

[2019-05-28 17:38] cjeria commented on #54
Here's one of the latest ui design for this. Feedback is welcomed!
@bdresser @danfinlay
![image](https://user-images.githubusercontent.com/597770/58505610-92aec100-814a-11e9-904c-14ceb9015429.png)

[2019-05-28 17:46] omnat opened #93 "Payment channels (Experimental feature)"
Related to : #85

[2019-05-28 18:09] omnat opened #94 "Qual follow-up studies per metrics"
- Use insights so far from metrics to see what qual research might be impactful to do
- Explore Matomo data for research questions on currently seen behavioral pattern and define more 'why' follow-up questions

[2019-05-28 19:09] #87 closed, assigned to omnat

[2019-05-28 19:17] bdresser commented on #54
- would change text to "Share your address with [dappname]"
- let's show a badge on the icon in the browser bar, maybe a `!` instead of a number if that's possible

[2019-05-28 19:22] omnat opened #95 "Design QA"
Design QA on builds

[2019-05-29 00:34] cjeria commented on #54
Took another pass at this notification and created a light version for comparison. They are both intended to stand out and encourage user engagement. Would like to hear feedback about which direction to move forward with @omnat @bdresser @danfinlay

![image](https://user-images.githubusercontent.com/597770/58520913-61001f00-8177-11e9-89a8-aa80434203e1.png)

[2019-05-29 00:48] bdresser commented on #54
I don't have feelings on staying in the design system vs doing something outside of it, but I do think the user should be able to interact with the wallet behind/around the modal - so for that reason I favor the functionality shown in A @cjeria

[2019-05-29 17:17] bdresser commented on #56
some notes for design QA
- can't do opacity on the tab bar on Android - it's a plain grey (from the design system palette)
- fix tap area
- animations? low priority >> pushed to V1
- "looks chunky" - may want to update proportions
- update the "more" `...` on Android (to match iOS)

[2019-05-29 17:20] bdresser opened #96 "Update animations"
Reach out to animator and get an updated graphic. Could ask for a faster version as well (fewer frames) - there will probably be time for the app to load with a shorter animation

[2019-05-29 17:22] bdresser commented on #77
Mural [here](https://app.mural.co/t/consensys3989/m/consensys3989/1558549972716/9b01c07bdc4084aca5d6c13193010c5c3af4ae7f)

[2019-05-29 17:24] omnat commented on #95
[
![Screenshot_20190529-102222](https://user-images.githubusercontent.com/44038140/58577673-d281b100-81fb-11e9-8dac-89f8f1e08264.jpg)
](url)

Spacing check for top right buttons

[2019-05-29 23:28] omnat commented on #54
I am assuming this applies to _current_ dapp that user is on (active tab). So if 2 legacy dapps are open on 2 tabs, only the active tab dapp connect request is shown in extension.

Also assuming these requests don't pile up ("3 dapps are requesting you to share your address") - only the one in which user has context for (i.e., active tab)

Are the above 2 assumptions correct?

- In favor of Option

[2019-05-30 11:18] danfinlay commented on #54
I like the functionality of A, but could we do it while avoiding spending time extending the design system? This is going to be a temporary thing until login per site.

Also I’m curious what the x button or ignore should do. Is there another way to log in after dismissing these, or is it permanent? Kinda seems like we might want to make it non-dismissible.

[2019-05-30 14:41] rekmarks commented on #54
I second @danfinlay re: login-per-site, and I also think we should keep in mind ocap permissions with respect to the amount of effort put into this. "Sharing an address" will be just one permission among many in the not-particularly-distant-future.

[2019-05-30 21:23] bdresser commented on #54
@danfinlay @omnat given that only about 30% of DAU are completing on-chain tx, there is definitely a usecase for folks opening the extension without sharing their address ( I realize they may interact with dapps outside of just submitting tx, but point stands). Users may also need to switch accounts or networks. I think people should definitely be able to interact with the extension even when the

[2019-05-30 21:26] chikeichan commented on #95
- [ ] https://github.com/MetaMask/metamask-extension/issues/6510 (need definition)
- [ ] https://github.com/MetaMask/metamask-extension/pull/6650 (need review)
- [ ] https://github.com/MetaMask/metamask-extension/pull/6648 (need review)

[2019-05-30 21:49] cjeria commented on #54
I think there's a happy middle ground between A and B options per the feedback provided above (thank you team!).

The X was to dismiss this alert since I expect users will get annoyed seeing it if they decide not to connect.

Here's a simplified iteration using a flash alert component (defined in the design system) with a share button.

There no dismiss option and no new components to be created j

[2019-05-30 22:11] bdresser commented on #54
Love the update! Would also be cool with dark mode your call!

Still think the copy should remain "Share your address with dappname.com" – the inclusion of another verb makes it a litttttle bit more confusing imo. But it's a weakly held opinion so I'm cool w this if you want to keep.

[2019-05-30 22:21] omnat commented on #58
In the scenario where user gives permission to always login to dappA with Account1.
Which of the following are true and which false?

A) Whenever user opens dappA, irrespective of the account pre-selected in extension, they get logged in  to dappA with Account1. i.e., users aren't expected to go to extension and switch to Account1 anymore.

B) If dappA asks to confirm a tx or confirm a contract in

[2019-05-30 22:39] cjeria commented on #54
I'm digging the dark version a bit more I think. I'd call this design done unless there are any final thoughts?

![Screen Recording 2019-05-30 at 04 37 PM](https://user-images.githubusercontent.com/597770/58669378-43f35980-82f9-11e9-83a3-f3d96d660195.gif)

[2019-05-31 02:45] omnat commented on #58
Made a first pass (with a few options). Ignore visuals, this is super low-fi wireframing (with cheap hacks like screenshots & messed up scales). Just to open discussion, feedback.

Link: https://whimsical.com/R3MpU2jifUGNuAPzLueD5F#VsSo8s35VKHwj9C5rvWesp

Please leave comments on wireframes or on issue.
@cjeria @bdresser @danfinlay

[2019-05-31 15:40] rekmarks commented on #58
I think A, B, C as above *should* be how it works. In essence, we do away with the notion of a "globally selected account," and instead define the "selected" or "current" account on a per-dapp basis. At eery stage, we just have to make sure to unambiguously communicate to the user which account is currently being used.

For D, perhaps we don't display an account at all if the user is browsing a we

[2019-06-01 01:06] omnat commented on #79
@cjeria Made a pass at this and added Onboarding forwarder from #78 part of this flow as well. Sent you Figma link in Slack (in case you miss my message there)

[2019-06-03 21:29] omnat opened #97 "Survey for Labs hackathon hackers"
Katie from Labs is running a 'Nights & Weekends' hackathon.
Metamask is a tool they'd be putting in front of hackers that they can use to empower them to build applications.

This is an opportunity for us to learn about issues that builders have today when using Metamask as a dev tool. And gather info/needs of builders to learn how we can empower devs and improve their dev experience.

Same can be

[2019-06-03 23:09] omnat commented on #79
First pass at this

- I tried to update copy per our latest mobile prototype as well as it was tested.
- Made a suggestion on ‘Create / Import’ account step (following the common Sign-up & Login pattern on sites).
- Per Onboarding research outcomes, also made a suggestion to add intro slides on extension (this is for future - when we have illustrations. But could follow from mobile intro slides).

[2019-06-05 17:49] bdresser commented on #73
probs for sprint 14

[2019-06-05 17:49] #59 closed, assigned to cjeria

[2019-06-05 17:51] #96 closed, assigned to nobody

[2019-06-05 17:52] bdresser commented on #96
final animation is here https://consensys.slack.com/archives/GBW7S9FSN/p1559756947001300

[2019-06-05 17:54] bdresser commented on #77
https://dap.ps/

[2019-06-05 18:01] bdresser commented on #93
<img width="1375" alt="Screen Shot 2019-06-05 at 11 01 05 AM" src="https://user-images.githubusercontent.com/1016190/58978714-3f0f2980-8781-11e9-8ff9-3ffe6f97e5df.png">

https://www.figma.com/file/K1a0m5VRohRZV6EcpNzL6qxr/Payment-Channels?node-id=0%3A1

https://docs.google.com/document/d/1NReZQ29WWcxbwpGygWmT0jFudI7CuU6u13S07oBW7Go/edit#

[2019-06-05 18:04] bdresser commented on #93
closing in favor of https://github.com/MetaMask/Design/issues/86

[2019-06-05 18:04] #93 closed, assigned to cjeria

[2019-06-05 21:18] bdresser opened #98 "Fund new users' accounts with testnet ETH"
Can we automate the faucet to send rinkeby ETH to new users after they set up their account? Would be pretty smooth. Could also include a section on the homepage for testnet dapps to get started with.

[2019-06-05 21:28] bdresser commented on #77
For when we actually have to select dapps, here are the top tx initators from Matomo:

*Rinkeby*
<img width="829" alt="Screen Shot 2019-06-05 at 2 27 08 PM" src="https://user-images.githubusercontent.com/1016190/58991843-177a8a00-879e-11e9-89d4-c9526e67b6e2.png">

*Ropsten*
<img width="833" alt="Screen Shot 2019-06-05 at 2 26 58 PM" src="https://user-images.githubusercontent.com/1016190/58991844-1

[2019-06-05 22:06] omnat commented on #95
From Christian:
Synced on above issues with Jacky. Handover done. Open for final QA after implementation.

[2019-06-05 22:10] #54 closed, assigned to cjeria

[2019-06-05 22:13] bdresser commented on #54
Only last thing is that we should remove the last line in the tooltip because although I get that it's saying our *default* protects your wallet activity, it sounds like clicking "share" will protect your wallet activity, which it doesn't.

Also @cjeria where does this final version live in the team Figma?

Other than that, good to go!

[2019-06-05 22:23] cjeria commented on #77
Prototype
https://www.figma.com/proto/ZjvqFYvSwB90oC81N0PMHjE1/Mobile-Browser?node-id=44%3A439&viewport=43%2C831%2C1.234328031539917&scaling=scale-down

[2019-06-05 22:45] bdresser commented on #58
nice work @omnat!

* the "connect" screen looks awesome. i'm cool with all-or-nothing permissions for MVP as @rekmarks says above

* In terms of account management across tabs:
  * I agree A, B, C you describe above should be true
  * I think for D we can show the last account the user was looking at. If I opened the extension on my own and switched to account 2, then dappA switched me to account

[2019-06-05 22:51] cjeria commented on #56
Figma prototype for specs:
https://www.figma.com/file/ZjvqFYvSwB90oC81N0PMHjE1/Mobile-Browser?node-id=0%3A1

[2019-06-05 22:51] cjeria commented on #56
![image](https://user-images.githubusercontent.com/597770/58995634-3256f980-87b2-11e9-970f-3f4e376ee60a.png)

[2019-06-05 23:07] bdresser commented on #79
@omnat on a roll w these mock ups!!!
* I like the more prominent `Download` link -- if I download, can I still skip, or does that button disappear?
* Did "Secret Recovery Code" test better than "Seed Phrase" or "Recovery Code" or "Backup Phrase" or any of the other stuff we could use? It feels a little super-spy to me but I'm cool with whatever resonates best with users.
* We'll need a version of

[2019-06-05 23:14] bdresser commented on #77
Looks solid @cjeria!
* What does "take a tour" do? The user has already done the onboarding wizard, yeah?
* What stage of wireframe/final mockup is this? Wondering if we will have enough space to communicate "featured dapps" or "favorites" on those small tiles while also making them visually interesting? Or what text treatment are you imagining?
* maybe on the `Acquire Crypto` list we could includ

[2019-06-05 23:18] omnat commented on #92
After getting feedback from multiple design research folks, decided to drop this for now. Will revisit this after doing dapp power user interviews, hopefully with better questions (if it still a valuable research effort)

Capture research questions and some thinking of survey questions here for later use: https://docs.google.com/document/d/1hAyDChINyCple6Qea9bgVqFXN87lBC5mnFQF05SMo-c/edit#heading=

[2019-06-05 23:21] omnat commented on #91
Research questions and interview questions here: https://docs.google.com/document/d/1hAyDChINyCple6Qea9bgVqFXN87lBC5mnFQF05SMo-c/edit#heading=h.m5lynuwy7an3

Reached out to people who answered to poll I took in consensys member channel. 2 scheduled so far. Both in timeframe of next 2 weeks. So new aim to schedule all participants within next sprint and share results end of the sprint.

[2019-06-05 23:41] bdresser commented on #90
Also will need a simple ending page for the flow

Return to MetaMask at any time by clicking the Fox on your menu bar
[ arrow / foxy icon / point up]

[2019-06-06 00:48] omnat commented on #58
Nice mocks @bdresser !!
And thanks for answering the open questions and adding mocks for those use-cases! Makes sense to me. Keen to discuss it and iron it in design review tomorrow.

[2019-06-06 18:57] danfinlay commented on #58
I just wanted to include a link to some of my original thinking on this, which I think still applies very much, and reflects my comments in today's meeting. (sorry for quip links, should move them out).

https://consensys.quip.com/qfEVAnKm3poN
https://consensys.quip.com/PGeGAzVLk3Di
https://consensys.quip.com/YCIOA6RbDUep

[2019-06-06 19:11] omnat commented on #58
Another open question I remembered only yesterday was:
**Should we add 'signature request' to the list of this permission?**

From insight:

[2019-06-06 22:24] cjeria commented on #54
Updated tooltip language @bdresser
![image](https://user-images.githubusercontent.com/597770/59070279-67794f80-8877-11e9-8471-a0a319c12803.png)

Link to the figma file
https://www.figma.com/file/foWeMNl8hQNDnxBjf2fFcbhd/privacy-mode-notice?node-id=82%3A590

[2019-06-06 23:25] bdresser commented on #58
True, totally forgot about that @omnat

q for @danfinlay @rekmarks -- is there a consistent signing format we can provide to dapps that satisfies common auth requirements? would it be acceptable to *not* show the blob of data the user is signing, and just allow dapps to include this as part of an 1102 request invisibly in the background? (perhaps with an option to expand / "see more" to see the ex

[2019-06-10 18:07] cjeria commented on #83
Added the receiver flow in the request flow prototype:
https://www.figma.com/proto/akfSHj495hySaUEvXeQH0NNp/Payment-Request?node-id=308%3A112&viewport=485%2C163%2C0.22483618557453156&scaling=scale-down

[2019-06-10 19:06] cjeria commented on #83
Design QA on mobile MVP version:

- Asset search bar in android not showing (omna to verify)
- request amount screen should prompt the keyboard right away
-- button on this screen should be above the keyboard
-- when swapping primary currency, it shouldn't clear the value

[2019-06-10 19:09] omnat commented on #83
Open questions from design sync:
- How does link work when receiver wants to send from extension? Or do we just keep mobile first for beta? Can we trigger a confirm screen with address, value pre-populated?
- If receiver has multiple wallets and Metamask, can the link open in Metamask by default?
- If receiver has Trust, Coinbase and not Metamask, what happens? Shall we send them to Metamask insta

[2019-06-10 19:15] #95 closed, assigned to cjeria

[2019-06-10 19:35] omnat commented on #58
Next steps (cc @cjeria):
- Answering the open questions about this issue (e.g., Sign request + Connect = Login, edge cases bobby mentioned)
- Ready for high-fidelity prototype for different use-case (including main edge cases mentioned in this thread)

Wireframes here with Option 3 the most desirable: https://whimsical.com/R3MpU2jifUGNuAPzLueD5F#VsSo8s35VKHwj9C5rvWesp

Omna to share insights on th

[2019-06-10 19:37] omnat commented on #79
High-fidelity prototype and dev-handoff is next.

[2019-06-10 19:42] omnat opened #99 "Design QA"
Reactive issue for developer questions and PR reviews etc.

[2019-06-10 20:04] bdresser commented on #58
~I can't access those links @danfinlay - could you copy to this issue or screenshot?~

Ah, got in after a million hooops -- here's the third document, most relevant to this: https://docs.google.com/document/d/18IisBHPn-Hs80x5BQ0KYcrLk1zUeIl-TfwTu5xNfG_4/edit?usp=sharing

Main point for discussion is the inclusion of a splash screen that asks the user to select an account, which shifts MetaMask to

[2019-06-11 17:04] cjeria opened #100 "MetaMask logo for Twitter Support"
from Dan

"I think for anti-phishing it’s actually kinda important. @christian.jeria do you think you could throw a medic hat on a fox for the support twitter account?"

![image](https://user-images.githubusercontent.com/597770/59291719-b7219780-8c38-11e9-9a98-1837f0bdbd3f.png)

[2019-06-11 17:09] danfinlay opened #101 "Draft MetaMask Support Logo"
We have [a support account](https://twitter.com/metamasksupport) that our support team replies from, but it deserves at least some slightly differentiated branding.

David did his best, but I'm not sure it's reflecting the brand optimally:
<img width="365" alt="Screen Shot 2019-06-11 at 10 08 22 AM" src="https://user-images.githubusercontent.com/542863/59292010-f350fa00-8c30-11e9-95f3-fee64b948498

[2019-06-11 17:09] danfinlay commented on #101
I was thinking a quick little "medic" hat would be nice. I swear I made one of these at some point.

[2019-06-11 17:13] danfinlay commented on #101
I think this might do:

<img width="878" alt="medic-fox" src="https://user-images.githubusercontent.com/542863/59292262-91dd5b00-8c31-11e9-988d-063829398c5d.png">

Used this hat:
![kisspng-nurses-cap-nursing-hat-clip-art-medical-hat-cliparts-5a89da17b339c6 6329848315189837037341](https://user-images.githubusercontent.com/542863/59292283-99046900-8c31-11e9-98d9-b3e3b2bc1ed9.png)

[2019-06-11 17:18] bdresser commented on #100
don't we already have a version with a hard hat somewhere!

[2019-06-11 19:02] cjeria commented on #100
@bdresser not sure! I think @danfinlay created that one before I started?

How about this option?
![metamask-support-fox](https://user-images.githubusercontent.com/597770/59299066-0e2f6880-8c49-11e9-88aa-6eaabcd4b7ef.png)

[2019-06-12 15:20] cjeria commented on #101
This relates to #100

[2019-06-12 15:23] cjeria commented on #100
I really like github's support imagery
![image](https://user-images.githubusercontent.com/597770/59364121-936f5780-8cf3-11e9-8013-11fb9ab7eff3.png)

So I made a version inspired by it
![image](https://user-images.githubusercontent.com/597770/59364019-6ae75d80-8cf3-11e9-9d68-eff831d595fe.png)

[2019-06-12 16:50] cjeria commented on #100
All four options side by side
![image](https://user-images.githubusercontent.com/597770/59370456-c3245c80-8cff-11e9-8f69-761c0df0db2c.png)

[2019-06-12 17:12] bdresser opened #102 "Error screen for offline behavior"
See https://github.com/MetaMask/MetaMask/issues/293

[2019-06-12 17:31] bdresser commented on #83
- we need a separate issue for the extension to handle these universal links
- if we use `ethereum:` address forwarding, it will open any wallet. If we use a `app.metamask` link it will just open MM or open app store if no MM installed - has downstream effects on ecosystem friendliness
  - let's go with pushing users to MM for now and can update based on community response (it's easy to update)

[2019-06-13 19:17] omnat commented on #58
@bdresser Splash screen you mentioned is like the latest version in Christian's prototype, right? https://www.figma.com/proto/C8eyTO2iUZc4O83Nd5XsM7yv/oCap-Login-Per-Site?node-id=19%3A1570&scaling=min-zoom.

From observation in user testing, people (even advanced careful users) tend to not really care much about permissions and go to tap Connect. Pausing is mostly on screens where money is involve

[2019-06-13 20:24] cjeria commented on #77
Here's an updated iteration of the mobile browser per all the feedback received on Figma.

- Strong consideration for adding a bottom bar in the browser for Android (for general consistency between platforms)
- Floating native top nav buttons with a background image (web page) loaded behind it. Might be tricky to make happen.
- Discuss feasibility for **customize experience** and **play with test

[2019-06-13 20:37] brunobar79 commented on #77
- Not a big fan of the Play with Fake ETH.   Fake is a negative word IMO and even if we change the copy I'm not sure if it's possible for users to have a positive experience out of the testnets today.

- Customize experience might be a tricky one to do (not sure what do you have in mind), and could find a less relevant place under settings.

- The 2nd half of the page has a lot of black & white co

[2019-06-13 20:56] estebanmino commented on #77
I guess this is because this is not a high fidelity design but on the second level screens (ex. my favorites) the view has 2 navigation bars, the browser bar and the specific section bar, I couldn't find any other part of the app where we do that.

[2019-06-13 21:05] danfinlay commented on #58
You don't need a hardware wallet connected to select it, only to use it. So for example, if a site _required_ a signature challenge, then you would not be able to log into it with a hardware wallet unless it was connected and supported the signature challenge format (which they tend to be slow to do! Apps should probably stop requiring a signature challenge when they don't really need one!)

[2019-06-13 22:14] bdresser commented on #58
No, I mean in the case where the user is NOT connected to a dapp and they open MM, there's an open question: do we want to
(1) keep the account-specific view we have (in which case we have to decide somehow which account to show), or
(2) do we zoom one layer out to show them all their accounts and ask which one they're trying to view. This would emphasize the idea that there is no universal *activ

[2019-06-13 22:36] bdresser commented on #77
@cjeria should we add this to his scope of work, or are you anticipating being able to re-use one of the other illustrations we've requested? pointing out that the onboarading screen designs will be tight by EOM so we may want to have another placeholder that's not blocked on his timeline.

Agree, how bout "Request some test ETH" and for public beta we can link out to the faucet and highlight some

[2019-06-13 22:50] brunobar79 commented on #77
@bdresser I agree with everything you said.

Let’s just make sure there are some dapps on test networks that are worth it (Personally I don’t know any)

[2019-06-14 00:50] danfinlay commented on #58
When first signing in, there's a question: Do you have one of their accounts selected like a "default"? Maybe the last one they used? The current prototype we have working just uses the "selected account" as the default one, but has a dropdown for selecting other ones.

I believe the very rough visual, from that third doc is here. We could probably get by with as little as a "Login" and an "Option

[2019-06-14 03:06] cjeria commented on #77
Aiming to reuse a graphic motif the illustrator creates however,  I can find us a different stock placeholder or create one in the meantime.

@omnat and I had discussed designing a survey-like experience where we ask the user a series of questions about their interests and we in return customize the landing page as a result. So for e.g. if the user answers in a way that indicates they like games,

[2019-06-17 15:15] bdresser commented on #77
love that idea @cjeria! but think it'd be best as part of V1. would be a lot to add to the milestone at this point.

for public beta, can we replace with one of the ideas above (wallet, or "give feedback"), or something else, or should we remove entirely?

[2019-06-17 16:36] cjeria commented on #102
Found a nice resource for 404 error page illustrations we could repurpose for offline message here: https://www.kapwing.com/404-illustrations

I mocked this up. Thoughts?
![image](https://user-images.githubusercontent.com/597770/59621003-81bef300-90eb-11e9-9924-6aa33dc91834.png)

[2019-06-17 17:01] omnat commented on #102
Nice! A suggestion to make 'try again' clickable, so after user checks internet connection, they could either pull down to reload (not everyone might know of this pattern to pull down), or tap 'try again' to reload

[2019-06-17 17:43] cjeria commented on #100
Finalist per convos on support slack channel added support label for added

Downloadable asset:
![Twitter Support logo](https://user-images.githubusercontent.com/597770/59624084-18db7900-90f3-11e9-8b99-b098b5be3593.png)

Mockup of what it will look like:
![image](https://user-images.githubusercontent.com/597770/59624834-111cd400-90f5-11e9-8f95-8e24e3b47956.png)

[2019-06-17 17:49] dpazdan commented on #100
Looks great! 👍 🦊❤️

[2019-06-18 21:07] estebanmino commented on #77
About `Strong consideration for adding a bottom bar in the browser for Android (for general consistency between platforms)`:
I already mentioned this through slack but I just got a "it all makes sense now" moment, I guess other Android browsers don't have a bottom bar because Android has a bottom bar already built in the device and it looks like this

![image](https://user-images.githubusercontent

[2019-06-18 22:40] #100 closed, assigned to cjeria

[2019-06-19 00:24] omnat commented on #99
Mobile Design QA prep for Wednesday call.

- App crashes (1 week older version than latest)
    - Opening the app - didn’t open for long time - had to kill and re-open
    - Opening app leasing.meridio
    - Buying cryptokitty on wrong network
    - Long time app open while exploring Bounties

- Data got lost (latest version)
Was fulfilling a bounty, got confirmation. Realized wanted to pay gas wi

[2019-06-19 20:46] cjeria commented on #90
Here's a first pass design for this page. I looked at [Abra's page](https://www.abra.com/buybitcoin/simplex/?fiat=USD&ref_id=100&link=3ihRYNZbgO) and it looks like everything surrounding the exchange widget is customizable. We'd ideally use the graphic motif that the illustrator comes up with (inspired by this image) here.

Also, the widget seems to be responsive so I'd be surprised if we couldn't

[2019-06-20 19:40] cjeria commented on #90
@bdresser can the widget itself be customized? 🤔

[2019-06-20 21:11] omnat commented on #91
Consolidated insights + representative quotes here:

https://docs.google.com/presentation/d/1iX6UWkhyYiDW3jTUYNyh9R0-bLDI_zGxVH2wvvEptt0/edit?usp=sharing

[2019-06-20 21:11] omnat commented on #94
<img width="921" alt="Screen Shot 2019-06-20 at 1 17 49 PM" src="https://user-images.githubusercontent.com/44038140/59881790-46c7f400-9365-11e9-9bd5-c284d2405ec9.png">

Last slide of https://docs.google.com/presentation/d/1iX6UWkhyYiDW3jTUYNyh9R0-bLDI_zGxVH2wvvEptt0/edit?usp=sharing

[2019-06-20 21:12] omnat commented on #94
Metrics is giving us insight into what people do on extension, how often etc. The attached lists out what we have done so far and next activities to answer *‘why’* & *‘how might we improve’* questions for information that indicates undesired, unexpected user behavior. These are just 1st steps.

My 1 question at this point is: Could we add an *opt-in email sharing option* so I can do follow-up with

[2019-06-21 00:05] cjeria commented on #58
Notes from today's design sync meeting:

### 1. Connect per account, not per wallet
Today, when you connect to a dapp for the first time, you are asked once (per wallet) to connect (connect request pop up). If you switch accounts on the same dapp, you don’t get prompted with a connect request again.

Screen recording, already connected to dapp, switched accounts no connect request screen.
![](http

[2019-06-21 00:18] danfinlay commented on #58
We can add that at any time later, but it mostly needs some cryptographic protocol work, so it should be considered independent and non-blocking of this design issue.

[2019-06-21 00:28] danfinlay commented on #58
I think we can leave this out of the MVP, it's not necessary at all.

I would argue all permissions are valuable, or they wouldn't be worth getting user consent about. Basically by definition, anything we're requiring consent for is worth showing to the user, not tucking away.

Here's the current state of the working prototype:

![current state of prototype](https://user-images.githubusercontent.c

[2019-06-24 17:34] cjeria opened #103 "Design QA - S15"
Various UI styling issues

https://github.com/MetaMask/metamask-extension/pull/6744#issuecomment-504900845

[2019-06-24 17:46] bdresser commented on #94
Gotcha! Are you imagining we ask for email at the same time as someone opts in to the metrics system, or that we ask later?

We could also explore a conditional banner that shows to users who exhibit a particular action, and link them to a form. Like - "you've been selected for a user survey - click here!" or something, then ask for contact info outside the extension. Might be a little easier & mo

[2019-06-24 17:48] bdresser commented on #90
@cjeria yes the widget can be customized! We can plop those form inputs right on the page, don't need to style the box like they did. Should be pretty simple.

AFTER the user leaves this page, they will be in a simplex-styled experience, and we can have our logo on the top.

[2019-06-24 18:55] #102 closed, assigned to nobody

[2019-06-24 18:56] #79 closed, assigned to cjeria

[2019-06-24 18:57] omnat commented on #79
Final prototype here for dev-handoff: https://www.figma.com/proto/HEgBtmMHUQSlyQTyyeKSvD4R/Onboarding-Flow?node-id=436%3A383&viewport=3083%2C608%2C0.41909533739089966&scaling=min-zoom

@danjm

[2019-06-24 19:03] omnat commented on #78
Prototype here for dev-handoff (1st flow: redirect to chrome store, and redirect back to dapp site after user done with incremental security): https://www.figma.com/proto/HEgBtmMHUQSlyQTyyeKSvD4R/Onboarding-Flow?node-id=436%3A383&viewport=3083%2C608%2C0.41909533739089966&scaling=min-zoom

@danjm

[2019-06-24 19:03] #78 closed, assigned to cjeria

[2019-06-24 19:03] cjeria commented on #102
Final screen and link to the prototype:
https://www.figma.com/proto/ZjvqFYvSwB90oC81N0PMHjE1/Mobile-Browser?node-id=249%3A0&viewport=-18%2C435%2C1.0609722137451172&scaling=scale-down

![image](https://user-images.githubusercontent.com/597770/60140230-3e5d2800-976e-11e9-93f6-65d51b3d52e3.png)

[2019-06-24 19:07] #91 closed, assigned to omnat

[2019-06-24 19:15] omnat commented on #90
In reference to chat on design sync. Is pre-filling current metamask account address in this input field possible?
cc @cjeria

<img width="942" alt="Screen Shot 2019-06-05 at 5 34 16 PM" src="https://user-images.githubusercontent.com/44038140/60045407-aaaa2f80-9679-11e9-9757-f0b46c83b247.png">

[2019-06-24 19:17] bdresser commented on #78
Looks good! Couple questions:
* what happens at the end of the flow?
  * Do we just close the MetaMask tab, which would drop the user on the last tab they had open (probably the Chrome store)?
  * Or do we redirect the MM tab to the dapp that the user started on? (They might then have two of that tab open.)
  * Or, is it possible to send the user to an already-opened tab? @danjm @omnat
* Just want

[2019-06-24 19:18] bdresser commented on #90
@omnat yes

[2019-06-24 19:19] bdresser commented on #102
how do I close this, or navigate away? do we still have the top-bar nav or anything like that? if I have no internet and my only option is "Try Again" I think I will be stuck in a loop

[2019-06-24 19:24] omnat commented on #77
From design sync:

Next things to figure out in this one:
- Customize experience: push it to v1
- Play with fake ETH feature: push it to later
- Go back to 2 tabs version: with explore dapps categorized and favorites remain same
- List of dapps per category
- Update browser nav for Android to be consistent with iOS

[2019-06-24 19:26] bdresser commented on #77
I think this is easy to include - we can just link to the faucet, no?

What about a "give feedback" link?

[2019-06-24 19:26] omnat commented on #86
From design sprint sync:

- Need to update prototype per feedback

[2019-06-24 19:27] #99 closed, assigned to cjeria

[2019-06-24 19:35] omnat commented on #73
Updating this to:

- Sync feature should be made more discoverable and expectation set on its easy and fast (not tucked behind Import wallet)
- In the option of: Import account.. Explain better this is importing account and what that means. also something like "Looking to import a wallet? Logout for that optiont"

[2019-06-24 19:38] omnat commented on #76
Similar issue for offline behavior in #102
And we noticed that the fox 3D head has been implemented already, so its good for now.

[2019-06-24 19:38] #76 closed, assigned to nobody

[2019-06-24 20:17] cjeria commented on #101
closing in favor of #100

[2019-06-24 20:17] #101 closed, assigned to nobody

[2019-06-24 21:09] danfinlay commented on #78
I definitely think "Redirect to the dapp the user started on" is the right choice. We will need to also reload that tab, since otherwise it will have no connection to the freshly-installed MetaMask. (Opening a new tab to that site may be required).

[2019-06-24 21:10] danfinlay commented on #78
We *could* bake a connect request into the referral link format, so that MetaMask actually *does* show the connect request before linking back to the site & reloading it. Just pointing out that is technically feasible.

[2019-06-24 21:56] bdresser commented on #78
Cool! Does this need to be spec'd or is it trivial to add?

[2019-06-24 22:43] danfinlay commented on #78
I think any spec could be part of implementation. For example, just formatting the connect request into a URL query parameter. Would push the question back to design, like "When in the setup flow should the connect screen appear?"

[2019-06-25 17:33] omnat commented on #97
Survey for hackathon participants and Truffle University: https://www.surveygizmo.com/s3/5064708/Metamask

Keeping this issue open for analyzing data as it pours in

[2019-06-25 17:35] omnat opened #104 "TBD; research questions"
- Matomo behavioral data analysis
- Trufflecon workshop design

[2019-06-25 18:06] omnat commented on #78
What would make sense is dropping the user back to the context where Metamask was introduced.

In the prototype, this means the flow ends back at dapp site where the user first wanted to connect with a wallet. On clicking 'Connect to Metamask', if the user had a wallet, the connect request would pop-up. In this flow, user doesn't have Metamask yet, so we guide them to get Metamask; i.e., we redire

[2019-06-25 18:27] bdresser commented on #78
Totally agree @omnat!

Just want to understand whether that means
(1) opening a new tab with that origin site (for a grand total of four tabs 😅)
 or
(2) closing the MM and Chrome Store tab and bringing user back to original page (maybe not technically possible, do you know @danjm or @danfinlay?)

Either way, good call to include the Connect request so it's super seamless 👍

[2019-06-25 19:15] cjeria commented on #103
Address book PR Review https://github.com/MetaMask/metamask-extension/pull/6681

[2019-06-25 22:15] danfinlay commented on #78
Pretty sure this _is_ technically possible, but if we do return them to the page, we need to reload that page to trigger detection of MetaMask.

[2019-06-25 23:12] brunobar79 commented on #102
@bdresser  I've added a close icon on the navbar to handle that.

[2019-06-25 23:23] cjeria commented on #102
oh sorry, i forgot to keep the browser navbar elements in my mockup here! was thinking this would only happen in the browser. Are there are other situations that the app will show this outside of the browser?

[2019-06-25 23:31] brunobar79 commented on #102
@cjeria  never mind, It's not a critical screen. I kept your design and added an X at the top corner.

[2019-06-26 00:23] cjeria commented on #86
Updated payment channel designs here https://www.figma.com/proto/K1a0m5VRohRZV6EcpNzL6qxr/Payment-Channels?node-id=130%3A61&viewport=1703%2C-1359%2C0.4433267414569855&scaling=scale-down

Changes made:
- Removed the tutorial for this version, may need to create a new issue for that work + illustrations
- Attempting to keep transaction history UI as consistent as possible, using action icons instead

[2019-06-26 00:26] cjeria commented on #86
cc @brunobar79 @estebanmino

[2019-06-26 17:22] cjeria commented on #86
![image](https://user-images.githubusercontent.com/597770/60201057-ac542e80-9804-11e9-90c8-1c826f9e6653.png)

[2019-06-26 17:24] bdresser commented on #86
"This is an experimental Layer 2 feature to let you send assets to friends without transaction fees. Made possible by Connext Payment Channels"

[2019-06-26 17:30] bdresser commented on #77
Newest prototype from Christian [here ](https://www.figma.com/proto/ZjvqFYvSwB90oC81N0PMHjE1/Mobile-Browser?node-id=249%3A11&viewport=284%2C-1029%2C0.5733261108398438&scaling=scale-down)

[2019-06-26 17:32] bdresser commented on #77
bobby to come up with list of dapps for each category!

[2019-06-27 20:39] omnat commented on #86
Note from user testing..

- Sharp eye of a user noticed we showcase tx history oldest -> latest in InstaPay.
<img width="336" alt="Screen Shot 2019-06-27 at 1 35 29 PM" src="https://user-images.githubusercontent.com/44038140/60299077-b186ab80-98e0-11e9-972a-9bd47dfa2b61.png">
This isn't consistent with what they are used to in tx history latest -> oldest..
@cjeria should we keep InstaPay history c

[2019-06-27 20:49] cjeria commented on #86
Whoa, not sure how I missed that one! good catch @omnat! Definitely should be reverse chronological order like we currently do everywhere.

[2019-06-27 20:53] cjeria commented on #86
Also, I think @estebanmino brought this up earlier - the reason I used a deposit icon was that it's an incoming tx from the same account so instead of showing the same account's identicon, i went with an icon instead.

For all other send tx's, we could revert to showing the identicon for the recipient account (until we revamp transaction UI).

[2019-06-27 21:03] bdresser commented on #89
<img width="561" alt="Screen Shot 2019-06-27 at 2 03 15 PM" src="https://user-images.githubusercontent.com/1016190/60300681-5a82d580-98e4-11e9-8fe1-120cbd91dc9f.png">

[2019-06-28 01:53] omnat commented on #77
Sorry for bringing these browser nav related stuff late. I didn't have enough reason to back this up earlier..

- When user is in a dapp, to go back to the browser, I observed people go to menu, and tap browser. Fumbling seems like a common experience (I've seen/heard from ~4 users, & bobby, myself). Tabs isn't the first natural thought. **Can we have an easier navigation options for going to dapp

[2019-06-28 03:13] omnat commented on #104
https://docs.google.com/document/d/1dg8cYWLSIHDSwECCEdEzHzfyM4sqaDjVM3UJz7sqbtM/edit

[2019-06-28 18:09] danfinlay opened #105 "Show account nickname/aliases on confirmation screen"
If a recipient is in our address book, we should use that name/alias whenever possible.

Should preserve the ability to view/copy the actual address.

[2019-06-28 18:10] danfinlay opened #106 "Show nickname/alias in TX history list"
Related to #105. We should show address book nicknames/aliases wherever it is useful. Could share a component with #105, as it should probably still allow viewing/copying the original address.

[2019-06-28 18:12] danfinlay opened #107 "Allow adding custom icons to address book entries"
These images would take precedence over the identicons.

[2019-06-28 18:29] cjeria commented on #77
Great suggestions @omnat. I also stumble with getting back home so I think having a button on the bottom bar is a good call.

Also, I agree that switching networks should be made secondary action, although perhaps it also lives somewhere in the side nav drawer for quick access?

[2019-06-28 19:13] brunobar79 commented on #77
Agree about point number 2.

@cjeria  @omnat  Thought exercise: Open your most used mobile browser (Chrome / Safari or whatever you use).   See how many TABS open do you have open...

In my own research everyone I asked about that (around 8 people) they NEVER go back to the homepage to "start again". They either change the current url or they just open a new tab,  which is by default opened in the

[2019-06-28 20:04] ibrahimtaveras00 commented on #77
I'm an Android user, and in my normal day to day usage, I hardly ever go to home page (mainly use Chrome, and maybe 10% of time use Samsung native browser and Firefox here and there).

If I did go to homepage, it's most likely to see the news feed on Chrome, but to do this, I always just open a new tab which is just 2 taps away similar to how we currently have it in our browser.

FYI I have so man

[2019-06-28 20:20] bdresser commented on #77
Since we're a dapp browser, and because dapps & ethereum are in their infancy, I think we have a higher obligation to help users understand what they can do with the app. A huge part of that is achieved through the home screen.

I also think the fact that it's come up in numerous interviews & repeated anecdotal feedback means that people *do* want to go back to the home screen, regardless of how y

[2019-06-28 20:28] omnat commented on #77
Super valid points Bruno, Ibrahim on how people use other browsers. With Chrome for instance, homepage is mainly a search bar, which people can access without going to homepage.

Reiterating Bobby, Ibrahim points.. We have a different case of browser here. Here, our homepage is helping people learn what are their options. Faster way to access apps they've seen previously in featured or favorited (

[2019-06-28 23:14] cjeria commented on #77
Also, what do you think about adding descriptions to the "Featured dapps" side scrolling list? We could reuse the dapp list item component, just make it less wide.

Like so:
<a href="http://g.recordit.co/w2nX9KPPhV.gif" target="_blank"><img src="http://g.recordit.co/w2nX9KPPhV.gif" style="display: block;height: auto;width: 100%;"/></a>

[2019-07-01 16:47] danfinlay opened #108 "Create github repo splash page"
GitHub now supports having a splash page for every repository. We should come up with a general template for these, and maybe have a slight variation per major repo (extension, mobile, design?)

![Screen Shot 2019-07-01 at 9 46 42 AM](https://user-images.githubusercontent.com/542863/60453151-2f023280-9be5-11e9-8921-815dfb6a45e6.png)

[2019-07-01 16:47] danfinlay commented on #108
Here's the template:

![repository-open-graph-template](https://user-images.githubusercontent.com/542863/60453179-493c1080-9be5-11e9-8848-c958092637eb.png)

[2019-07-01 18:09] bdresser commented on #77
@cjeria i prefer the smaller tile -- the description on each of those will be so short that it would be nearly useless, and greeting the user with a bunch of half-complete sentences might be a little messy. also think it looks simpler overall with the square icons

[2019-07-01 18:26] estebanmino commented on #86
@cjeria a deposit is a tx sent to the smart contract not the address itself, so should we continue showing identicon of the sc ?

In that case should we remove that deposit icon ? I have this working now

![LbVEzbxx5l](https://user-images.githubusercontent.com/12115171/60458153-d8f4b580-9c0b-11e9-8b33-42b3745ad754.gif)

In addition, since deposits are on chain transactions we're showing it on the

[2019-07-01 19:28] cjeria commented on #86
Nice progress here @estebanmino.

Looking at your GIF, You've made the top section fixed, however, I think we should make the whole page scroll the same way it does in all other views of the wallet.

I think we should abstract away the concept of your ETH going to a smart contract on the surface layer. When I send money in a payment app to someone, I don't need to know the exact mechanism by which

[2019-07-02 15:33] bdresser commented on #58
chatting with @danfinlay about the signing challenge as part of this - sounds like this will require some standards work (starting with ETH magicians) and some effort to push that standard through, so we should pursue the MVP as account+network selection and add the signing challenge as a separate feature shortly after.

[2019-07-02 19:27] estebanmino commented on #86
makes sense, so we have `Deposit` and `Withdraw` transactions that should be with these different icons, for txs between accounts we use identicons right?

![PRQQNvnUGf](https://user-images.githubusercontent.com/12115171/60540726-cea2ec00-9cdd-11e9-9b9e-5d0d3893bd9a.gif)

[2019-07-02 21:31] cjeria commented on #77
Okidoke then, let's leave it as is for now.

[2019-07-02 22:36] cjeria commented on #86
@estebanmino Yep! I updated the prototype to represent the deposit, send and withdraw transactions. I also added the withdraw flow to the prototype. Let me know if there are more q's!

https://www.figma.com/proto/K1a0m5VRohRZV6EcpNzL6qxr/Payment-Channels?node-id=130%3A61&viewport=1703%2C-1359%2C0.4433267414569855&scaling=scale-down

[2019-07-03 19:59] omnat commented on #58
Agree with general direction of tackling signing with standards.

I'd strongly suggest to combine multiple transactions in a better design (inspiration can be taken from how Google bundles multiple permission asks nicely https://consensys.slack.com/archives/G4V2HTG0Y/p1561659076011900?thread_ts=1561658938.011800&cid=G4V2HTG0Y). This doesn't need any adoption from dapp builders, just an interaction

[2019-07-03 20:27] bdresser commented on #58
Yes @omnat this has definitely come up before! See https://github.com/MetaMask/metamask-extension/issues/4050

There's a couple different cases:
* combining non-tx requests (Sign + Connect) which I think is easy from a UX perspective
* combining common pairs of tx (like Approve + Confirm as you mention) which I think is somewhat complex & hard to explain from a UX perspective
* combining multiple

[2019-07-05 15:52] cjeria commented on #86
As a lo-fi way to improve the withdraw UX, can we add a system alert if the user taps on the withdraw button? Right now, if I accidentally tap on "withdraw", the action is executed and it feels like there should be a confirm alert with some more context. @estebanmino wdyt?

![image](https://user-images.githubusercontent.com/597770/60733310-b31c2900-9f09-11e9-84c9-99073399de25.png)

[2019-07-05 15:56] estebanmino commented on #86
@cjeria yeah totally I already implemented something like that

![image](https://user-images.githubusercontent.com/12115171/60733775-db148800-9f1b-11e9-86c4-745ec8a3d846.png)

Any update on the `instapay` logo ?  for the drawer view

[2019-07-05 16:23] cjeria commented on #86
Nice! here's a custom-made instapay logo I forgot to upload!
https://www.dropbox.com/s/lyrvf9k74aeah51/mm-instapay.svg?dl=0

![image](https://user-images.githubusercontent.com/597770/60734948-e319fb00-9f0e-11e9-92ec-715cc2b0ed69.png)

[2019-07-08 16:52] cjeria commented on #58
Posting the latest full tab connect screen designs for discussion:

![image](https://user-images.githubusercontent.com/597770/60827871-c5e76580-a176-11e9-9d92-4fc12c79cc85.png)

[2019-07-08 18:07] danfinlay commented on #58
Looking good. A few thoughts:

- We can easily make these line items deselectable, so I think we should reflect that in the design.
- We might want to add the option of embellishing these items with little icons to represent them.
- I feel partial towards selecting the account inline.
- I think we should consider _not_ pre-selecting an account, and making the user deliberately choose one.

## On s

[2019-07-08 18:51] omnat commented on #73
From design sync:

For mobile public beta - for (existing) Metamask extension users, make it very clear after Metamask mobile installation that they can **very easily** sync with their extension wallet. Right now, its buried after the `Import wallet with seedphrase option`.

Let's make `Import wallet with seedphrase `a tertiary option. So, something like:

1. User installs MM mobile and sees optio

[2019-07-08 19:06] cjeria commented on #83
Example request link: https://metamask.app.link/send/0x854281CA900c4a94386B68d51e0067e4944D9746@4?value=5e17

Expected behavior on desktop is for link to trigger a metamask prefilled pop-up confirm screen

[2019-07-08 21:30] omnat commented on #83
Ready to build @danjm
Will need design QA after implementation in extension.

[2019-07-08 21:30] #83 closed, assigned to nobody

[2019-07-08 21:31] omnat commented on #77
Dev-handoff done.
Ongoing Design QA, will focus on it next sprint a lot before public beta

[2019-07-08 21:31] #77 closed, assigned to cjeria, omnat

[2019-07-08 21:32] cjeria opened #109 "Design QA - S16"
Mobile
- [x]  Mobile Browser
- [x]  Payment Channels

Extension
- [ ]  Request payment link

[2019-07-08 21:44] omnat commented on #86
Esteban built it out.
This is up for Design QA in Sprint 16.

[2019-07-08 21:44] #86 closed, assigned to cjeria, omnat

[2019-07-08 22:12] #104 closed, assigned to omnat

[2019-07-08 22:28] cjeria commented on #90
- Update graphic motif to the original version
- Update form inputs per our design system

[2019-07-08 22:29] #103 closed, assigned to cjeria

[2019-07-08 22:56] omnat opened #110 "Combine multiple transactions"
This issue is to combine multiple transactions in a better design (inspiration can be taken from how Google bundles multiple permission asks nicely https://consensys.slack.com/archives/G4V2HTG0Y/p1561659076011900?thread_ts=1561658938.011800&cid=G4V2HTG0Y). This doesn't need any adoption from dapp builders, just an interaction+aesthetic change from our side. cc @cjeria

This could be a small win fo

[2019-07-08 23:18] bdresser commented on #38
relates to https://github.com/MetaMask/metamask-extension/issues/6469 - could be a simple way to deal with the awful massive number

[2019-07-08 23:40] omnat opened #111 "Fullscreen v/s Pop-up"
A/B test which actions is better. Pop-up (current) or Full-screen (proposed change)

[2019-07-08 23:42] omnat commented on #111
### Pop-up

**Pros:** Keeps user in context of dapps

**Cons:** User & dapp builder pains that pop-ups get lost behind windows / easy to ignored, and feel like an odd part of the experience (breaks the flow, pop-ups from an extension without prompting isn't a common pattern for web users)

### Full-screen
**Pros:** Could direct user to the actions that require attention - might feel more natural a

[2019-07-08 23:43] bdresser commented on #110
based on conversation with @danfinlay, this ^ will require an EIP. tracking here: https://github.com/MetaMask/metamask-extension/issues/6825

Check out [this epic](https://github.com/MetaMask/metamask-extension/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3AL18-transactions+#workspaces/all-issues-58c6bc4e3b72ef052d34e299/board?epics=42009758_5803&filterLogic=any&notFullScreen=false&repos=420

[2019-07-09 00:39] omnat opened #112 "Website optimization"
Look into if and when should either of the 2 research questions be investigated.

(1). Can people understand 'Why Metamask', 'What Metamask' within the 1st few seconds (~1 minute) of browsing through the website? How can we make this communication cleaner and crisper with copywriting, images, etc.?
**Research method >>** small user test on https://app.usabilityhub.com/dashboard, small interviews (

[2019-07-09 01:37] omnat opened #113 "Permissions builder research"
In the latest developer survey, we got 3 rankings on contract account features, permission types, plugin types. This is to follow-up with those respondents and understand the why behind their ranking (especially for the highest ranked options)

1. Contract account feature: `Pay for my users gas `higher than all others
2. Permissions: Equal throughout, follow-up on the ones that have come up in oth

[2019-07-09 16:55] bdresser opened #114 "oCap MVP: Logged out view"
When the user is not connected to a dapp and they open the extension, what view do they see? More broadly, how should we shift the representation of accounts and the 1:1 relationship of account:extension once we have multiple accounts simultaneously connected to multiple dapps?

This is part of oCaps MVP and relates to https://github.com/MetaMask/Design/issues/58

[2019-07-09 16:57] bdresser opened #115 "oCap MVP: Settings Page"
Users will be able to see, edit, and remove past permissions they've granted to dapps.

In the MVP, these permissions are limited to network switching and account access. These options will expand as future versions of this feature ship.

This is part of oCap MVP and relates to https://github.com/MetaMask/Design/issues/58

[2019-07-10 16:02] bdresser commented on #73
@cjeria @omnat let's try to have this design change locked down by end of week so we can get it in mobile & still have time to submit builds!

[2019-07-10 17:46] bdresser commented on #73
@omnat how about

on step 1
`Start Exploring` or `Sync your Wallet`

on step 2
`Sync with Extension` or `Import using Seed Phrase`

[2019-07-10 18:33] omnat commented on #73
Sounds good @bdresser! Extremely hacky (with screenshots, and terrible font-sizes, text update hack)  mock to convey copy update suggestions. Please ignore font sizes, spacing, button placements etc.

Step 1: Label change for button
Step 2: Give context on syncing with extension (is fast), update copy 'Settings > Advanced"

<img width="473" alt="Screen Shot 2019-07-10 at 11 25 58 AM" src="https://

[2019-07-10 23:36] cjeria commented on #73
Designs spec for this update here -> https://www.figma.com/file/Gvc9H6bn5QJIFPIKw2mAqh/Mobile-Onboarding-Copy?node-id=69%3A199

Made an enhancement to the bg using our more colorful graphic which adds a bit more pop, although we might make updates after we get the new illustrations. Thoughts?

![image](https://user-images.githubusercontent.com/597770/61059651-f7eb0880-a3be-11e9-908e-7b5657a51521.p

[2019-07-11 20:46] bdresser commented on #73
latest designs per slack

<img width="489" alt="Screen Shot 2019-07-11 at 1 45 59 PM" src="https://user-images.githubusercontent.com/1016190/61084164-3f36c080-a3e2-11e9-9829-2fb0f54bbc3e.png">

[2019-07-11 20:53] bdresser opened #116 "Final mobile carousel"
Designs for the mobile carousel need to be updated to keep in line with the rest of the design system. Illustrations from our contractor will go in the center.

Current WIP in [Figma here](https://www.figma.com/file/JoygUsLVgbpuMue3e9Lcbm15/Website-design-explorations?node-id=50%3A222)

![Screen Shot 2019-07-11 at 1.52.08 PM.png](https://images.zenhubusercontent.com/5b0f0677c7faeb213bec8e7c/27a783

[2019-07-11 23:22] cjeria commented on #115
I created a rough prototype of the address book in settings back when we first ideated on how it could work. Adding gif for feedback. cc @omnat @danjm @danfinlay @omnat

You can play with it on Figma [here](https://www.figma.com/proto/giaffk6qfl9eMMjoPFjJkGnt/Address-book?node-id=7%3A291&viewport=430%2C199%2C0.08752364665269852&scaling=min-zoom)
![address book in settings](http://g.recordit.co/kme

[2019-07-11 23:56] cjeria commented on #114
Some preliminary sketches / ideas to kick start the discussion. This has a lot of potentially big implications for the behavior of the extension.

Might be easier to schedule a design jam vs trying to do this async to get everyone's ideas out there on how this could work!
cc @danfinlay @omnat

![image](https://user-images.githubusercontent.com/597770/61092733-17a91d80-a40d-11e9-915e-9df96f77ad06.p

[2019-07-12 21:49] danfinlay commented on #115
I think address book is a big enough deal to deserve more primary real-estate than "settings". I would put it in the tab bar along with tokens, history, subscriptions, etc.

[2019-07-12 22:32] danfinlay commented on #114
That looks good to me, Christian! It's nice and simple!

I'm a little confused on the accounts/identities distinction here.

Also I think we might want to make it very clear whether clicking one of these accounts will _view_ it, or _log in with that account_.

We might even want to make a page before the account list, one that distinguishes:
- Log in to [site name] (opens account list)
- Open Meta

[2019-07-13 00:49] omnat commented on #115
@cjeria Is your proposal to manage permissions per account from within the 'My accounts' section of Address book settings?

I wonder if it could be too buried it the settings - for a bigger focus feature (moving forward atleast). Might be useful to do card sorting exercise with people if we are re-grouping and modifying info heirarchy to move away from global accounts.. Also a design jam might be

[2019-07-13 01:01] omnat commented on #115
Sharing some low-fi concept explorations here, so we can maybe build upon / discuss different design directions

### Permissions manager concept

<img width="1166" alt="Screen Shot 2019-07-12 at 5 53 37 PM" src="https://user-images.githubusercontent.com/44038140/61164847-096f0600-a4ce-11e9-8202-f7676ae80fca.png">
Modify here: https://whimsical.com/R3MpU2jifUGNuAPzLueD5F

### On navigational (re)st

[2019-07-13 01:09] omnat commented on #114
Looking good!

I am also curious about the account - identity distinction. Is identity related too permissions from this specific account given to specific dapps?

A jam would indeed be great for this one!

[2019-07-13 01:22] omnat commented on #38
Per our conversation on this today: Approve is used in DEXes typically. When used in other use-cases, need to understand what's the context/ purpose there. To understand context, would be interesting to check in Matomo which dapps call 'Approve' function? How often is Approve function being called in conjunction with Confirm? (also useful for #110 ). wdyt @bdresser?

Stating 'Unlimited' is an opti

[2019-07-15 16:53] bdresser commented on #38
I actually think the warning label conveys some of the information you list at the bottom. We could update it to:

To me, this answers the "what," "who," and "consequence." Maybe a second sentence about "make sure you trust this dapp," but i always find those not very actionable.

Whta do you think we should do for the total? Like 0.01 ETH now (for gas), potentially up to [ your max DAI amount ] o

[2019-07-15 17:10] omnat commented on #109
Address book PR ready for design review @cjeria

[2019-07-16 14:56] cjeria commented on #115
@omnat I really like these concepts! I agree we should start by conducting a card sorting exercise before we get attached to any one idea.

Also, since it's a big change, I suggest we do a lot of experimentation with navigation.

After the card sorting exercise, we should:

- lo-fi wireframe / prototype
- usability test
- iterate

Repeat the above process as many times as necessary until we land o

[2019-07-16 17:16] danfinlay commented on #115
Laying out the app hierarchy is a really great exercise @cjeria, I couldn't help myself but take a swing at [how I think we could structure things](https://workflowy.com/s/app-hierarchy/7ya8ZIDuaOuxQclR) (re-pasted here, but that link will be more up to date):

### App hierarchy

- Wallet (global)
- Settings
  - Advanced:
    - Fields we show: Hex data, nonce field, etc.
    - Custom network RPC a

[2019-07-17 02:37] omnat commented on #115
Good plan, @cjeria! And @danfinlay your and CJ's app hierarchy listing here helped me create the cards of the card sorting study we should setup.

**Purpose of this study** is to understand mental models of people - which help us define what's an intuitive info hierarchy.
**Details of the study**: This will be moderated for 1st 5 participants; meaning, I'll be hearing them think out loud as they s

[2019-07-17 17:22] #73 closed, assigned to nobody

[2019-07-17 17:34] omnat opened #117 "Refine mobile per design system"
For post 22 July release

- Design system on buttons, tightening things up per the 2 Andoird and iOS platforms
- Copy updates and QA suggestions for consistency across

[2019-07-17 17:36] cjeria commented on #117
Relates to this issue https://github.com/MetaMask/metamask-extension/issues/6804

[2019-07-17 17:55] omnat opened #118 "Mixpanel - privacy settings"
Check what data we are gathering and adapt settings to make it compliant to our privacy - analytics policy (no IP addresses, etc.)

[2019-07-17 17:57] omnat opened #119 "Analytics - Map signals to metrics"
Mobile goals high-level listed here: https://docs.google.com/presentation/d/1DkaT0G8mrvw6FuIbO7uwZ9kZYuvzyYGacSFTmv27IC4/edit#slide=id.g5c39cef158_0_12

This issue is to create a spreadsheet to map how we are measuring each of the goals so we can track them from the get go!

Action point: have team's green light on first version of the high-level goals - we should be aligned here!~

[2019-07-17 17:58] omnat commented on #116
Any more work shared from the illustrator @cjeria ?

[2019-07-17 20:01] cjeria commented on #52
@omnat reopening this issue as we'll need more design discussion/iteration for a future sprint.

[2019-07-18 21:27] omnat commented on #111
A/B metrics (notes from Bobby chat):
Goal: reduce # of pop-ups that are being ignored (pop-ups showed - pop-ups confirmed/rejects)

Things to find to setup A/B: Sample size, #number of flow - visit
Implementation detail: each user should consistently see either Fullscreen OR pop-up

[2019-07-22 17:09] #118 closed, assigned to omnat

[2019-07-22 17:10] omnat commented on #118
Summary: personal data seems to be handled well by MixPanel overall. Details here:
https://consensys.slack.com/archives/GBW7S9FSN/p1563553832359000

[2019-07-22 19:10] omnat commented on #114
https://docs.google.com/presentation/d/1vOEGNARZwcXWAGvnpzSLP97dFvYALuOgNE5PfKxTNfE/edit#slide=id.p
Presented by Christian in design sprint sync of Sprint 16

[2019-07-22 19:21] omnat commented on #90
- Prefill current Metamask account of user
- Account switching within the form

[2019-07-22 19:23] omnat opened #120 "Design QA [S17]"
- [ ]  Request payment link

- [x] Address book settings

- [x] Incremental account security

[2019-07-22 19:23] #109 closed, assigned to cjeria, bdresser, omnat

[2019-07-22 19:23] cjeria commented on #90
@danjm just to confirm prefilling the `to` field is possible in the Simplex page?
Also, is account switching also possible in this screen?

[2019-07-22 19:28] omnat commented on #38
2 most important things users need to see in this screen:
- A clear message / textual information on what this permission really is (can be inspired by 'Enable' context shown in Slack thread -- make it clear that specific spends will be subject to another explicit confirmation request from the (d)app
- Fee that this action will cost
Inspiration for how to give context on 'Approve'  https://consens

[2019-07-22 19:49] #97 closed, assigned to omnat

[2019-07-22 19:52] omnat opened #121 "Design helping support team: How-to videos"

[2019-07-22 20:13] omnat commented on #113
Omna's next steps:
- Gather technical questions and align on high-level research questions on plugin and permissions with the Dans and Erik
- Proposal of supporting interview material and brainstorm with Christian, Rachel, and maybe 1 person from Consensys Design (NAx / Georgia)

[2019-07-24 01:18] omnat commented on #111
### A/B test

Problem: Right now it seems lots of pop-ups are being "lost" or not visible to the users. This is a problem both seen in metrics and learnt about as a frustration from users and dapp builders.

A variation: Pop-up (control condition)
B variation: Fullscreen (test condition)

Success metric: Our hypothesis is that full-screen tx request opening in new tab will solve our problem. We ai

[2019-07-24 14:36] bdresser commented on #111
Good stuff @omnat!

For the actual structure of the A/B test:
* I think we should be testing dapp-initiated transaction confirmations.
* This includes ETH sends & contract interactions (both are "transactions")
* Open questions
  * Should we test on mainnet only?
  * Should we include signing data? It would introduce a confounding variable since it has a different conversion rate. I would be confi

[2019-07-24 21:31] danfinlay commented on #114
@omnat could you add those notes from the end of our last meeting here? The ones where you said you'd like feedback on it?

[2019-07-24 22:07] omnat commented on #114
Yes, thanks for pinging about it @danfinlay ! There were some open questions I wanted to discuss at some point.

- Section I is more relevant and specific to current focus,

- Section II is a bit heavy/unsuitable for Github IMO so dropping a Google doc link. This could be part of a different in-sync session or the Google doc for in-line commenting / editing / async discussion. Wdyt?

### Section I

[2019-07-24 23:22] danfinlay commented on #114
I think this varies depending on the type of permission. Different permissions might have different kinds of _attenuation_: Account permission includes account selection, and maybe a logout timer. A spending permission probably includes an explicit limit. A signature challenge permission may have a time frame, or a specific parameter involved. So we probably need to discuss & design each permissio

[2019-07-25 13:14] bdresser commented on #116
dev implementation isssue: https://github.com/MetaMask/metamask-mobile/issues/929

conversation with illustrator in #metamask-illustrator

@omnat @cjeria let's pull this in to next sprint?

[2019-07-25 13:17] bdresser opened #122 "Better asset onboarding options"
Some early feedback suggests we should explore better fiat onboarding options on mobile.

Could possibly piggyback on Wyre/Simplex iframe implementations, or copy those implementations to a webpage that mobile can link to.

[2019-07-25 13:23] bdresser opened #123 "InstaPay "receive" option"
We should have a recieve flow for InstaPay to help users through the process of requsting or sharing their address

[2019-07-25 17:14] cjeria commented on #38
Here's a fresh take on the **approve** screen.

I've divided this screen into two sections (top and bottom) with the intent to make it easier to decipher what's going on when a user gets prompted with an approve function.

### Top half section
This section groups the "what", "who" and "consequences" in a concise and simple to read format, with an icon for the permission for affordance.

### Bottom

[2019-07-25 18:54] omnat commented on #38
I like! Good stuff @cjeria!!

1. Like the break down of the 2 sections! And like the idea of showing tx fee options and data in context of the pop-up. For the time being this is a modal within a pop-up window - perhaps if we move towards full-screen mode eventually, then it'll be a more standard modal interaction pattern.

2. What do you suggest info tooltip will show? I'd vote for additional info

[2019-07-25 20:15] cjeria commented on #38
Exactly what I was thinking. The tooltip would have more info about this specific permission and would further answer what the "consequences" are by going one step further and explain "how" and "when" spending could occur.

Will try that.

With respect to the surface layer (what every user-type sees), I don't see it as moving away from the function name, rather defining the function (approve in th

[2019-07-25 20:29] omnat commented on #38
Good call! 👍

[2019-07-25 21:00] omnat commented on #38
Information tooltip copy suggestion:
`By Approving, you are authorizing this site to move your tokens on your behalf. Explicit consent will be asked before any action is taken on your funds. This authorization is on blockchain so it costs a network fee.`

[2019-07-26 00:18] danjm commented on #120
The entirety of address book work can now be QA'd on this branch/PR: https://github.com/MetaMask/metamask-extension/pull/6914

Video demo is here: https://streamable.com/lcdfd

[2019-07-26 08:33] ryancreatescopy commented on #38
Hi guys, sorry to jump in. Christian asked for my feedback, so here it goes:

First and foremost, such a massive improvement! But I have some additional ideas.

1) Can we abstract away the contract address? If we're pulling in Uniswap, can we just have it as "My account 1 -> Uniswap" – perhaps if a user wants to see the tx address they can get it via a tooltip or something. I just feel that the mo

[2019-07-26 13:56] bdresser commented on #38
Good stuff everyone! this is already a better screen than what's in production.

In instances where we show sender & recipient address without listing the contract address, we've had users reach out with fear & confusion that what they see on Etherscan (their account sending to a contract address) did not match what they saw in MetaMask (their account sending to another account). The first is tech

[2019-07-26 15:52] cjeria commented on #38
Thanks guys! Good points made all around. There’s enough here for me to come up with another iteration or two of this design. I also think this is a great candidate for putting in front of our users to stress test all of our assumptions and make sure we’re clearly communicating what’s going on for the wide audience we are building for. Stay tuned!

[2019-07-30 14:42] bdresser opened #124 "Support mobile password managers"
if I use a password manager on mobile, we should help users put their seed phrase in the password manager. May require some research in how these apps integrate. May require re-wording the "grab a pen and paper screen."

[2019-07-30 14:44] bdresser opened #125 "Consistent error designs"
@omnat commented on [Tue Jan 22 2019](https://github.com/MetaMask/metamask-mobile/issues/341)

### Why?

- **[Error recovery:](https://www.nngroup.com/articles/slips/)** When the app behaves in an unexpected way, the user should know what is happening and how to get unstuck and reach their initial goal.
- **[Error prevention:](https://www.nngroup.com/articles/error-message-guidelines/)** When a us

[2019-07-30 14:46] bdresser opened #126 "Address Book for mobile"
allow users to save addresses for simpler & safer sending

can be modeled closely after the extension's designs - are there any key platform differences that require modifications for mobile?

dev issue on mobile board here: https://github.com/MetaMask/metamask-mobile/issues/128

[2019-07-30 14:48] bdresser opened #127 "Support Landscape orientation"
@estebanmino commented on [Mon Feb 18 2019](https://github.com/MetaMask/metamask-mobile/issues/396)

Looking at #362 found other views failing in landscape orientation:

- Network list
- Drawer view in iPhone x
- Assets: you can barely see assets and transactions using design we have now
- Account details
- Settings general  general section is not aligned
- Navbar

---

@brunobar79 commented on [T

[2019-07-30 15:17] cjeria commented on #38
We have a few technical questions we need help understanding @danfinlay @danjm

• Why does approval require a figure like this?
• What does this number mean?
• How is this number generated?
• Who generates it?

![image](https://user-images.githubusercontent.com/597770/62141946-0daf6780-b2b3-11e9-9d10-23f08d76ff45.png)

cc @omnat @ryancreatescopy

[2019-07-30 18:39] bdresser commented on #127
Let's handle this in V2

[2019-07-30 19:00] bdresser commented on #88
Whatever we decide here, we should apply to InstaPay as well.

(Note that InstaPay only works on some networks, not all)

cc @cjeria

[2019-07-30 19:02] bdresser commented on #117
let's consider loading states and button/keyboard overlap as well!

[2019-08-01 19:21] omnat opened #128 "3Box info"
- When user imports, tell them which 3Box version is getting imported -  last updated when

- In Settings near toggle, give info on 3Box backup - what it does and consequences of it. When was it last updated per 3Box

- Warnings if there are any re-writes happening to the data (user losing data like address book, token list etc.)

[2019-08-01 22:23] bdresser opened #129 "Add dark mode colors to design system"
We'll be able to pull them in to extension and mobile

[2019-08-01 22:25] bdresser opened #130 "Compare extension & mobile transaction histories"
What are subtle differences? What info is useful? What updates to we need to make to both/either?

[2019-08-01 22:26] bdresser opened #131 "Consolidate multiple "Copy Address" interactions"
There are several places to copy or share your plain address. Some of these places copy additional text with the address, which some users have reported as confusing or inconvenient.

We should revisit the various ways a user has to copy & share their address to make things simpler & clearer for what a user wants to do.

[2019-08-01 22:28] bdresser opened #132 "Better education around keys & seeds"
Users report confusion with the various terms for their secrets. We should research
* what's confusing
* what expectations people have
* how we can make the structure of a wallet clearer or simpler
* how to educate users; what to educate users on

[2019-08-01 22:30] bdresser opened #133 "Quantify need for "hide account""
Some users request a "hide account" feature, which has some side effects for the already-complicated structure of a seed phrase and derived accounts. Since we derive in order, what does hiding/archiving mean? What happens when the user wants to create a new account? What happens to autodetection when the users imports elsewhere?

We should attempt to quantify the value of this feature ( number of

[2019-08-01 22:34] bdresser opened #134 "More controls for mobile <> desktop sync"
We should let users sync their imported accounts in addition to their default accounts.

This probably should be a screen in the extension, so the wallet can choose what secrets to encode (and to reduce our server costs :) ) -- "which accounts do you want to sync?"

Could potentially include ability to de-select additional default accounts, but this increases complexity down the line when the user

[2019-08-01 22:36] bdresser opened #135 "Improve seed phrase input on mobile"
Users reported having trouble typing in their seed phrase because words don't wrap. Worth revisiting this UX, perhaps highlighting each word as a tile after a space is entered, etc.

[2019-08-02 15:06] wbt commented on #58
[Issue 6903](https://github.com/MetaMask/metamask-extension/issues/6903), in which MetaMask does not allow you to change the account on the transaction confirmation screen after triggering a series of transactions when the wrong account had been selected (but this fact is not visible unless clicking to open the popup before *every* transaction), is related.

[2019-08-02 18:40] bdresser commented on #38
This number is generated by the dapp. They specify how much of the user's token they want to be able to spend. It's common practice to ask for this absurdly large number so the dapp won't have to worry about hitting the limit and won't have to ask for approval again.

EIP 717 is trying to move people over to using "unlimited" for this exact reason, but it's not widespread yet.

I think we should e

[2019-08-02 23:57] omnat commented on #38
Per our design sync conversations, find latest designs here by @rachelcope
In version 2, Rachel did an exploration on gas fee options. Not for immediate implementation necessarily, but will be doing usability testing of it together with the new Approve designs.

Design: https://www.figma.com/proto/Emfl6CRPRtuQtzJEOJJ3hy/Approve-Screen?node-id=181%3A1948&scaling=min-zoom

Usability test preview: ht

[2019-08-03 00:10] omnat commented on #58
Updated designs here: https://www.figma.com/proto/C8eyTO2iUZc4O83Nd5XsM7yv/oCap-Login-Per-Site?node-id=257%3A1101&viewport=197%2C572%2C0.30825600028038025&scaling=min-zoom
cc @rachelcope

Usability test for these here: https://app.usabilityhub.com/preview/bbdc33ee7973
Doing more research for this with existing users here: https://app.usabilityhub.com/preview/7dd76818382a

Will drop testing links o

[2019-08-05 02:41] chriskalani commented on #110
Hey there! I work on design over at 0x and we'd love to spend some design cycles on this with you. We have a few ideas floating around wrt to DEX usability, but obviously we'd need to make sure we're solving problems for the rest of the ecosystem.

Would you be open to a call this week to discuss? Please email me: ck@0x.org — Looking forward to chatting!

[2019-08-05 15:21] wbt commented on #58
Some brief unsolicited feedback:
![image](https://user-images.githubusercontent.com/563406/62473146-2b2a7880-b76e-11e9-8ddb-09f6f2638fe8.png)
 - What does "stay connected with Account 2" mean?
 - Does the third permission mean that the dapp will automatically change my MetaMask network selector (i.e. [#5101](https://github.com/MetaMask/metamask-extension/issues/5101))?  Under what conditions will

[2019-08-05 17:57] danfinlay commented on #58
We can probably remove that line, because it's redundant with "View the public address of Account 2". Please note this is a design, and does not reflect a final list of possible permissions.

No, we think this would be challenging behavior for users. We are aiming to allow different dapps to connect to different networks simultaneously.

They are the same thing. Currently `connect` is the same as

[2019-08-06 17:54] bdresser commented on #38
Wrt to the most recent designs we went over on thursday

Roughly 16% of users who see a popup transaction confirmation click the `Edit` button just above the gas price. I don't know the exact number for "Approve" transactions in particular, which might be different.

This is higher than I assumed! Makes including gas adjustment controls appealing. We already have components for the second screen h

[2019-08-06 20:11] omnat commented on #38
Thanks for sharing the metrics on this Bobby!
Out of the people who go to `Edit`, how many go to `Change gas` in Basic (so choose the options) vs go to `Advanced` tab to manually add price?

[2019-08-06 21:50] chriskalani commented on #38
Also curious what % is changed to `Fast` vs `Slow`. We're actually investigating an issue right now related to failed transactions due to gas being set to lower than `Average`.

[2019-08-06 22:40] omnat commented on #58
Per design sync:

- Before sending out the usability test links, we'll update the permissions copy
- Send out the usability test links
- Iterate per findings (if needed)
- Visual design pass in parallel to usability testing (not needed before)

We'll bring this to dev-handoff by end of this sprint.

[2019-08-06 23:07] omnat commented on #38
Per design sprint planning, next steps:

- Make copy updates mentioned in Figma file
- Update designs in usability test and send it to get data in
- Iterate if needed
- Dev-handoff

This print goal: Dev-handoff

[2019-08-06 23:09] omnat commented on #111
Per Kyokan sync:
Implementation of this is not a lot of work, but it will probably not make it to this kyokan sprint.
@bdresser did it make it in this sprint? shall we pick this up when kyokan sprint has bandwidth? I'll drop this out of this design sprint

[2019-08-06 23:47] omnat commented on #114
Per design sprint planning - for this sprint the steps are:
- Send out the small survey on how people use accounts
- Create mocks to be tested (check inspiration for Accounts/Identity from Google Pay, Apple Pay, PayTM, BHIM app, on identity+wallet concept representation)
- This needs to be aligned with the Connected dapps wireframes Rachel made
- Create low/mid-fi fidelity versions for 3 oCap issu

[2019-08-06 23:48] omnat commented on #115
Check comments for #114

[2019-08-07 00:02] omnat commented on #113
Sprint 18 goal:
- Interview script + co-design material almost ready - Omna to share here
- Do the interviews this sprint
- If possible a 1-pager analysis this sprint too

[2019-08-07 00:09] omnat commented on #116
Sprint 18 goal: Dev-handoff

[2019-08-07 00:10] omnat commented on #123
Sprint 18 goal:
- Prototype + discussion
- If tried & tested pattern used, dev-handoff

[2019-08-07 00:11] omnat opened #136 "oCap usability testing"
Prepare this plan to guide the mock-ups being designed by Christian and Rachel in Sprint 18
To be tested in the next sprint (Sprint 19)

[2019-08-07 16:17] danfinlay commented on #38
One thing that would be great to have on the approve screen would be the ability to customize the approved limit. We currently show whatever the dapp requests, which can be absurdly high, but the user can add safety by limiting the approval.

[2019-08-07 18:13] bdresser commented on #111
Not in Kyo sync, hopefully next one.

Just to confirm, we're testing
* Mainnet transactions only
* Contract interactions, ETH or token sends only (no signing data or "approve")
* Floating popup (control) vs. new tab confirmation

New tab behavior
* tab should close on confirmation or rejection
* closing the tab should count as rejection
* any other desired behavior or design work needed? otherwise

[2019-08-07 18:49] omnat commented on #111
Yes all the above sounds good. Thanks Bobby!

[2019-08-07 21:01] cjeria commented on #116
Final illustration provided and incorporated into the 3 screen carousel. See below:

Looking for feedback on:
- Copy
- Illustration size
- Thoughts on the **Next** and **Skip** button placement (could make these swipeable?)
- Should we add a back button on the 2nd and 3rd screen?

Note on the transition between screens: the top bar and bottom bar should stay fixed including dot indicators (highlig

[2019-08-07 22:34] bdresser commented on #116
Where do you see this fitting in to the larger flow? Does "next" on the last screen take me to an "import" vs. "new wallet" option?

We have a full wizard to step users through the app, so I think the purpose of these illustrations is additional color, context, and detail. I personally prefer the option to "get started" right away, rather than forcing everyone to tap through these three screens as

[2019-08-07 22:48] omnat commented on #116
Sweet!
- I think we could remove Next and Skip buttons, and make these swipe-able and like a screenshow. And have the 2 action points (Start / Sync-Import) like below already here.
<img src="https://user-images.githubusercontent.com/44038140/62660757-daf51700-b923-11e9-9e96-9c3e4ec53ac5.jpg" width="200" height="350">

Edit: I see Bobby comment now, my point is similar to that.

- We then replace t

[2019-08-07 22:58] cjeria commented on #116
So I just updated the prototype where you can see how this would fit into the entire onboarding flow which I highly encourage folks to click through. [Figma ](https://www.figma.com/proto/h5FawCpd949EjiXzLU1j8h/Mobile-Onboarding-Carousel?node-id=46%3A1&viewport=2391%2C42814%2C0.7167767286300659&scaling=min-zoom)

"Skip" (top right corner) would take the user to the "start exploring" / " Sync" page

[2019-08-07 23:17] omnat commented on #116
For my rationale on above suggestion, this common pattern of swipe-able carousel + slideshow & Sign-up or Log-in actions are shown here with 5 examples https://uxplanet.org/5-classic-mobile-onboarding-examples-from-top-apps-of-2018-cdbeebcb2a38

[2019-08-07 23:50] cjeria commented on #116
Cool. In switching from a "next" button to the two main action buttons "start exploring" / " Sync" in the carousel, we lose a bit of the nice real estate we had (4th screen from the left in the above screenshot).

Here's a new iteration: I had to shorten the "Sync or import your wallet" button copy to "sync a wallet" to make it fit in the side-by-side button layout from a previous mockup. Didn't w

[2019-08-08 00:59] bdresser commented on #116
I agree on the vertical real estate. We included the word `Sync` based on some user feedback from the private beta (https://github.com/MetaMask/Design/issues/73).

We could go with something like `Import or Sync` ? Or could do a vertical stack but remove the `New to MetaMask / Already a MetaMask user?` questions? Or could do anything else y'all dream up?

[2019-08-08 01:46] omnat commented on #116
Tried a slightly different layout, copy and illustration sizes. Thoughts?

I am not confident on the Sync or Import. (sync import what?).. The screen we have now in beta gives good context (already a user? etc.).. but all that will crowd the screen..

<img width="990" alt="Screen Shot 2019-08-07 at 6 45 59 PM" src="https://user-images.githubusercontent.com/44038140/62669200-a002db80-b943-11e9-903a

[2019-08-08 17:13] #56 closed, assigned to cjeria

[2019-08-08 17:13] #55 closed, assigned to omnat

[2019-08-08 17:13] #57 closed, assigned to cjeria

[2019-08-08 17:20] bdresser commented on #124
- lastpass, 1pw, keychain, smartlock
- keychain & smartlock are "particular"
- lastpass 1pw are similar, potentially handled by a straightforward SDK
- @bdresser to research

[2019-08-08 17:27] bdresser commented on #122
* this is an opportunity for strong differentiation
* we should aim to make it as smooth and "in-app" as possible
* we should try to cover all geographic areas (some platforms support only some countries)

There's lots to learn - what types of on-ramps are successful, simple, appealing? What level of requirements are acceptable to the average user?

starting with some research (or consolidating ex

[2019-08-08 17:29] bdresser commented on #122
also worth continuing to explore partnerships with dapps that could help users out with a "starter pack"

[2019-08-08 17:32] omnat commented on #122
Previous brainstorming on this for reference: https://app.mural.co/t/consensys3989/m/consensys3989/1551727039639/ae121c30fc78a3deb8bad28665ffded964a1f71e

[2019-08-08 17:33] bdresser commented on #131
@bdresser add specific feedback from sheets

right now it's
- on the wallet screen
- in the side tray
- in the request flow

perhaps as simple as swapping the tray text from "share my address" to "copy my address"

[2019-08-08 17:40] bdresser commented on #88
* we removed the network switcher from the top bar because people expected it to open URL
* we're still showing the network up there, so some folks think tapping on the network will open the network switcher

* some users expect to be able to switch networks in the Settings section for managing network preferences - maybe we should add a "current network" indicator so folks can switch. or perhaps

[2019-08-08 17:46] bdresser commented on #117
@rachelcope could you link the content styleguide!

[2019-08-08 17:48] rachelcope commented on #117
Content styleguide: https://docs.google.com/document/d/1E0GaCm8zIX0nkOAYWoMcIHULh74XS0gLIxEqiKDA7Qc/edit

[2019-08-08 17:50] bdresser commented on #126
probably want some usability testing! @omnat

[2019-08-08 17:51] bdresser commented on #117
relates to https://github.com/MetaMask/Design/issues/125

[2019-08-08 18:07] bdresser commented on #134
* many users have one account.... but are those users active?
* is there selection bias in the users requesting this feature? (power users are more likely to reach out)

* design for this could also be useful in the extension, where users also want this feature
* permissions system may make it more likely for users to have multiple accounts

--

We're talking about a couple features here:

(1) abi

[2019-08-08 18:24] bdresser commented on #123
per @brunobar79 in connext v2 the instapay wallet address is going to be different than the user's main ethereum address

[2019-08-08 23:21] cjeria commented on #88
Quick wireframe/idea on how to show networks in instapay since not all networks are supported.

Typo in this mock: should probably say: "Instapay is not supported **on** this network"

![IMG_4722](https://user-images.githubusercontent.com/597770/62724968-c2dfcf00-b9d9-11e9-91d6-791f04abd9dd.PNG)

[2019-08-09 21:51] cjeria commented on #38
@danfinlay What happens when the dapp has spent custom approval amount? Do they get another approve screen?

[2019-08-09 21:55] danfinlay commented on #38
The dapp can request approve as many times as they want, at the moment. In the future we may include a box for users to "ignore future requests from this site".

So for now, it's the Dapp's responsibility to monitor its allowance, use it, and request an increase as needed.

[2019-08-12 17:36] omnat commented on #136
Research plan:
https://docs.google.com/document/d/13XArfJJf80X5ngCvrkQ5FgfAhgPqd2dQZzkoutZslJo/edit?usp=sharing

Please have a look at the research questions and current assumptions, so we are aligned on what we investigate. @danfinlay @rekmarks
I'll add the questions we'll ask people in the interview based on the research questions.

[2019-08-12 17:45] omnat commented on #114
Survey results in detail here: https://docs.google.com/presentation/d/11A0Mvl9bNXGF2_GAkhyI6_PNSBN48zzuszm1msjLfkI/edit?usp=sharing

Highlights or main insights and recommendations for design:

<img width="1001" alt="Screen Shot 2019-08-12 at 10 43 13 AM" src="https://user-images.githubusercontent.com/44038140/62885569-0db95980-bcee-11e9-8d15-2647efc63cfc.png">

<img width="999" alt="Screen Shot 2

[2019-08-12 19:00] omnat opened #137 "Fee-only action information in Transaction history"
### Full feature brief
This brief describes the problem with user insights, and recommends a solution scope and incremental steps to improve the history. https://docs.google.com/document/d/1KcdMu5CGRtJjA5GfkjEkTD-DUTLC6TctbB71qkypGaE/edit#heading=h.8537h6t8tw3s

### Minimal improvement for fee-only actions
This specific piece of improvement mentioned in the doc could help avoid confusions of fee-o

[2019-08-12 20:13] bdresser commented on #137
I think the issue is often that the fee amount is smaller than the number of decimals we're showing.

We could totally have some visual indicator that a given transaction just cost a transaction fee, but I think the important bit is not rounding that total amount down to 0.

On any of those tx entries, you can see the very small real tx amount by expanding:

<img width="359" alt="Screen Shot 2019-

[2019-08-12 20:19] bdresser commented on #114
One thing I noticed during the survey - I keep track of my accounts by account name, but i also use all default names (account 1, 2, 3). Responses that just indicate they use names don't automatically mean **custom** names!

[2019-08-12 20:54] omnat commented on #114
Good point Bobby! Per interviews in the past, I've heard some users deliberately have a naming convention that works for themselves. Could consider it as an emerged best practice (ish). In the past, even some active users has asked this as a feature request "I wish I could change the name of the account". This indicated that the edit name features (in extension) isn't as discoverable, and people c

[2019-08-12 21:55] cjeria commented on #114
@omnat did you mean to close this issue? I’m still working on it.

[2019-08-12 22:18] omnat commented on #114
Ah my bad. I mistakenly did 'close and comment' it seems.

[2019-08-13 13:47] cjeria commented on #116
Here's another iteration that Ryan help us with that does a really nice job of guiding the users through onboarding while decluttering each screen. User can swipe through to learn more without giving too much away (pique interest) or "Get started" to jump straight into syncing or creating a new wallet. The Get Started page here has a dedicated space to better explain a user's choices (no more "wel

[2019-08-13 16:01] bdresser commented on #116
carousel looks perfect!

- should the first "Get started" be a primary button, or any reason it's secondary?
- the "Get started" screen (4th screen) feels a little rough
  - perhaps making it consistent with the following screen (full width buttons, left-aligned text, background graphic) could make it feel more a part of the same flow?
  - tons of text on this screen, but if you & content designer

[2019-08-13 18:27] omnat commented on #116
Christian and I had spoken about this, and his judgment was to update the following screen and make that center aligned, like all the previous screens. @cjeria is the plan still to make all center aligned?

The copy on the 'Get started' page is 3 lines per option but I think it addresses the 2 types of users here pretty clearly, so I'd vouch for this.

For dev-handoff, note the breakdown of 1st on

[2019-08-14 15:43] cjeria commented on #116
Not 100% sure why Ryan chose the secondary button, but I think it works visually. This style of this secondary button is visually lighter weight than the primary (solid) button. When there's only 1 button on a screen (especially big bold buttons that draw attention to it itself), users tend to tap without putting too much thought to the action. Using this secondary button reduces the visual weight

[2019-08-14 18:43] cjeria commented on #123
In mobile design sync, we decided to go with "option 2" as the solution to the "receive" option. (see below).

Some considerations
- **Receive** today would show the accounts public address, however in the near future, the account address for instapay will be a totally new custom address derived from the wallet's seed phrase.
- The above infrastructural change means that we'll need to design insta

[2019-08-14 18:48] cjeria commented on #41
Can 3box persist showing custom added tokens @danjm?

[2019-08-19 18:10] omnat opened #138 "Preventing common errors, and guiding users to help recover from incomplete actions"
Details of problems identified and possible actions here: https://docs.google.com/document/d/1fxPRPePfcDJ-5Db9lxccpu0AqsAXEp9fcBSWH90SKp4/edit
Related to Blocknative suggestions in their audit as well.

1. Alert users when they are trying to submit a duplicate txs
2. Notify users pro-actively when  for transactions are dropped / unapproved / pending for long. To notify users that the tx they wante

[2019-08-19 18:14] omnat opened #139 "Update transaction history"
Part of this work https://docs.google.com/document/d/1E0GaCm8zIX0nkOAYWoMcIHULh74XS0gLIxEqiKDA7Qc/edit?ts=5d4206b4

Specific applications for
- Improving transaction history: WIP brief https://docs.google.com/document/d/1KcdMu5CGRtJjA5GfkjEkTD-DUTLC6TctbB71qkypGaE/edit#
- Clearer copy for browser notifications, which is also consistent with tx history - ‘Sending ETH’ , ‘Cancelling transaction’, ‘B

[2019-08-19 18:25] omnat opened #140 "Design QA (Sprint 19)"
- [x] Contact list in Settings: usability bugs
 - [x] TX history UI bug -- The layout is off. Extra white space between tx title and nonce/date under, looks pushed down, breaking the layout.

[2019-08-19 18:29] omnat opened #141 "Review design system + Planning"
Design system day (later this week or next week)
- Review design system as we have today
- Plan out the components
- Design priorities for highest impact items to address first from design-dev perspectives

[2019-08-19 18:33] omnat commented on #141
Past discussions on Design System: https://docs.google.com/document/d/1aUdaBMKVT8wrEpLee2Y6Xkk-s_95K-5K36-TPMJuu28/edit

Development issues:
https://github.com/MetaMask/metamask-extension/issues/6804
 https://github.com/MetaMask/metamask-extension/issues/6369

[2019-08-19 18:35] omnat commented on #113
Research plan:
https://docs.google.com/document/d/13XArfJJf80X5ngCvrkQ5FgfAhgPqd2dQZzkoutZslJo/edit?usp=sharing

Interview script: https://docs.google.com/document/d/1dwd-b-J5loHDgxONku9ox67CZ9TyBBZjmQT7hKqYUvo/edit

Material: https://www.figma.com/file/HRERlUZgsgPqUwEmVVnc9x/Permissions-system?node-id=0%3A1
(could be updated)

[2019-08-19 18:36] omnat commented on #113
Sprint 19 plan:

- [ ]  4 interviews
- [ ]  Basic analysis

[2019-08-19 21:27] omnat commented on #114
Sprint 19:
- @rachelcope to take the 1st stab at stitching of the 3 oCap prototypes ready for testing (tasks in the last page of : https://docs.google.com/document/d/1zeaemPei0TnWGkkJaqbvP5j38hXfOQANfa2-RLmXpxI/edit#)
- consider making dapp-primary brand focus in the requests per feedback of making transaction requests contextual to dapp. past exploration: https://www.figma.com/file/e4KriNtpo80qON

[2019-08-19 21:32] omnat commented on #38
Next steps:
- User test with async usability test @omnat
- Dev-handoff by @rachelcope @cjeria

@bdresser should we add a "design ready" lane in extension workspace for designs we want to dev hand-off? or is just linking developers to design issues enough?

[2019-08-19 21:43] omnat commented on #116
Next steps:
- review copy order for the **Get started** screen
- center aligned screen for sync/import screen
- dev-handoff

[2019-08-19 21:43] omnat commented on #136
https://docs.google.com/document/d/1zeaemPei0TnWGkkJaqbvP5j38hXfOQANfa2-RLmXpxI/edit# Tasks on last page

[2019-08-19 21:44] omnat commented on #123
Ready for dev-handoff

[2019-08-19 21:45] omnat commented on #90
@cjeria communicate to kyokan the final on this

[2019-08-19 21:49] omnat commented on #138
- Blocknative, Rimble have done some pre-work on this. Check out their work to begin with
- These might overlap with #139

[2019-08-20 15:18] bdresser commented on #38
the "ready" column in the extension board works well for this! when we do dev handoff (or when designs are done) just communicate that outwards and i can make sure the extension issue is updated accordingly

[2019-08-21 17:45] bdresser opened #142 "Show seed phrase should include QR"
In addition to showing the pneumonic, we should also display a QR to let users easily import wallets elsewhere.

Came up in a conversation on mobile, also relevant to the extension.

[2019-08-24 19:40] danfinlay opened #143 "Support "Groups of Accounts""
Some users would like to connect to multiple seed phrases, or multiple hardware wallets, each of which can control/add its own sub-accounts.

Visually representing these groups of accounts intuitively would be necessary to implement some features, like https://github.com/MetaMask/metamask-extension/issues/6649#issuecomment-524575505.

Internally to the code we call these "keys" and "keyrings". Key

[2019-08-26 04:20] danfinlay commented on #143
This actually goes back a while: https://github.com/MetaMask/metamask-extension/issues/731

[2019-08-26 20:07] cjeria opened #144 "Illustrations for Landing page"
Brief

https://docs.google.com/document/d/1GiB-jsRTkOBoi-BL6OD5BWUi7nKWtXJufG4vEmlDGTs/edit#

[2019-08-27 19:47] brunobar79 commented on #142
@bdresser  For the record, we only need the design for the import seed phrase flow, which I assume it could be a QR code icon on the bottom right of the seed phrase text area.
I'm moving fwd with this approach for now but I'm happy to tweak the design once this is ready.

All the other cases are already covered (Import / export private key & export seed phrase)

[2019-08-27 21:26] brunobar79 commented on #142
Demo of what I've implemented so far: http://recordit.co/dXpW13Rauf

[2019-08-29 16:29] cjeria commented on #140
Created a new issues for each fixL
- Contact list updates [here](https://github.com/MetaMask/metamask-extension/issues/7069)
- TX history UI bug issue [here ](https://github.com/MetaMask/metamask-extension/issues/7036)

[2019-09-03 19:45] bdresser commented on #58
per today's design sync, this is ready for dev handoff (cc @cjeria @rachelcope)

[2019-09-03 19:58] bdresser commented on #38
omna did some user testing, designs have been updatedd -- @rachelcope @cjeria to post

cc @danfinlay